.row
  .column.bg-b-lt
    .row-test(style="height:60%;")
      .sub-column
        .img-pan
          img.bg-img(data-src="./img/allan-gyngell.jpg" alt="founding Executive Director Allan Gyngell")
        //-.caption.txt-ff
        //-  | Allan Gyngell 


    .row-test(style="height:40%;")
      .sub-column.bg-b-dk
        .img-pan
          img.bg-img(data-src="./img/michael-wesley.jpg" alt="Former Executive Director Michael Wesley")
        //-.caption.txt-ff
        //-  | Michael Wesley

      .sub-column.bg-b-lt
        .img-pan
          img.bg-img(data-src="./img/michael-fullilove.jpg" alt="Current Executive Director Michael Fullilove")
        //-.caption.txt-ff
        //-  | Michael Fullilove
        
    //- .caption.txt-ff
    //-   | Executive Directors Michael Fullilove, Michael Wesley &amp; Michael Fullilove

  .col-1-2.column.bg-b-dk
    .p-xs.txt-center(style="max-width: 74%")

      .block.pv-xs
        :marked
          A feasibility study completed in 2002 by the Institute’s current Executive Director, [Dr Michael Fullilove](https://www.lowyinstitute.org/people/experts/bio/michael-fullilove), and the early, formative years of the Institute under its founding Executive Director [Allan Gyngell](https://www.lowyinstitute.org/the-interpreter/remembering-allan-gyngell-finest-mind-australian-foreign-policy), provided a set of principles that have guided the Institute’s work to this day: 
          
          to be independent, non-partisan and evidence-driven; to influence policy and to inform the public; and to host the widest range of opinions but be the advocate of none.

    //-.caption.txt-ff
    //- | Executive Directors Michael Fullilove, Michael Wesley &amp; Michael Fullilove


