.row.row-sm(style="height:40%")
  .col-fw
    .block.ph-sm.txt-ff
      :marked
        The Institute has created a suite of interactives that are eagerly anticipated and parsed around the world: 

.row.row-sm(style="height:60%")
  .col-1-2
    .bg-img.of-hidden
      include ../../img/blob.svg

  .col-1-2
    .block.ph-sm.txt-ff(style="max-width: 74%")
      ul
        li.delayz <a href="https://poll.lowyinstitute.org">the Lowy Institute Poll</a>, the most authoritative survey of Australian attitudes to the world; 
        li.delayz <a href="https://globaldiplomacyindex.lowyinstitute.org">the Global Diplomacy Index</a>, mapping the world’s most significant diplomatic networks 
        li.delayz <a href="https://power.lowyinstitute.org">the Asia Power Index</a>, still the world’s most comprehensive effort to measure power in the world’s most consequential region.
      p
        br