extend ../../partials/_essay

block prepend config
  - author = "Dr Samir Saran"

block append body

  iframe(class="video" src="https://www.youtube.com/embed/hngJd1ZQhMk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  

  :marked
    ## Abstract 
    
    Ubiquitous and universally accessible global technology platforms threaten to undermine social and political cohesion, and limit the effectiveness of an international rules-based order, **Dr Samir Saran** argues. 

    Global tech companies operate beyond the control of individual nations, and impose different concepts around societies' agreed understanding around rights such as freedom of expression. The light-regulation of US-based tech companies compares with the operation of Chinese tech firms operate in the service of the country - but both have their drawbacks for other nations. How should states deal with the threats these platforms pose, and how can they defend themselves in an era of cyber conflict?
