@import app/static/features/rbo-indo-pacific/styles/_vars.sass

html,
body,
body.embed-false
  background: white
  color: $color-dk
  height: unset

article
  padding: 6rem 0 10rem

.profile
  font-size: 16px
  font-weight: 300
  align-items: flex-start
  
  img
    padding: 0 1rem .25rem 0
    object-fit: contain
    width: 220px

p
  line-height: 1.8
  
blockquote p
  line-height: 1.4

@media (max-width: $screen-tablet)
  html,
  body,
  body.embed-false
    overscroll-behavior: none
  
  article
    padding: 8rem 1rem
    background: white
    
  #submenu
    top: 4rem
    left: 0
    right: 0
    
  .profile
    flex-direction: column
