.title
  .txt-sm
    font-size: 5vh
    line-height: 1
  .txt-xl
    font-size: 16vh
    line-height: 1
    
  @media (orientation: portrait)
    .txt-sm
      font-size: 5vw
    .txt-xl
      font-size: 18vw
  
  div:not(:first-child),
  div:not(:last-child)
    padding-top: 1.5vh
    padding-bottom: 1.5vh
  

section
  padding-top: 5rem
  
  &:last-child
    padding-bottom: 5rem
