// Colors
.bg-hl
  background: $color-hl
.bg-dk
  background: $color-dk
.bg-sdk
  background: lighten($color-dk, 3)
.bg-lt
  background: $color-lt
.bg-ff
  background: $color-ff

.txt-hl
  color: lighten($color-hl, 2)
.txt-dk
  color: $color-dk
.txt-lt
  color: $color-lt
.txt-ff
  color: $color-ff
.txt-mt
  color: $color-mt

// Display
.hidden
  display: none
.block
  display: block
.inline-block
  display: inline-block
.flex-col
  display: flex

// Flex  
.items-center
  align-items: center

.col-1-3
  width: 33%
  flex-basis: 33%
.col-2-3
  width: 67%
  flex-basis: 67%


// Sizes
.h-full
  height: 100%
.w-full
  width: 100%
.h-screen
  height: 100vh
.h-screen-min
  min-height: 100vh
.w-screen
  width: 100vw

// zIndex  
.above
  z-index: 1
.below
  z-index: -1

// Opacity
.opacity-0
  opacity: 0
.opacity-50
  opacity: 0.5
.opacity-75
  opacity: 0.75
.opacity-100
  opacity: 1

// Blocks
=margin($i)
  .m-#{$i}
    margin: $i * 0.25rem
    
  .mx-#{$i}
    margin-left: $i * 0.25rem
    margin-right: $i * 0.25rem

  .my-#{$i}
    margin-top: $i * 0.25rem
    margin-bottom: $i * 0.25rem
    
  .mb-#{$i}
    margin-bottom: $i * 0.25rem
    
=padding($i)
  .p-#{$i}
    padding: $i * 0.25rem
    
  .px-#{$i}
    padding-left: $i * 0.25rem
    padding-right: $i * 0.25rem

  .py-#{$i}
    padding-top: $i * 0.25rem
    padding-bottom: $i * 0.25rem
    
  .pb-#{$i}
    padding-bottom: $i * 0.25rem

@for $i from 0 through 8
  +margin($i)
  +padding($i)
    
@for $i from 3 through 5
  +margin(4 * $i)
  +padding(4 * $i)

// Overflow
.of-auto
  overflow: auto
.of-hidden
  overflow: hidden
.of-visible
  overflow: visible

// Other
.disabled
  opacity: 0
  pointer-events: none
.no-ptr
  pointer-events: none
.show-sm
  display: none

@media (max-width: $screen-tablet)
  .hide-sm
    display: none
  .show-sm
    display: initial
  .h-auto-sm
    height: auto
  .flex-swap
    flex-direction: column
