$font-base: "/fonts/isomer/"
$font-types: ((woff2) (woff))

=font-face($name, $path, $fweight, $fstyle: normal, $fdisplay: block)
  $path: "#{$font-base}#{$path}"
  $source: ()

  @each $font-type in $font-types
    $ext: nth($font-type, 1)
    $format: nth($font-type, length($font-type))
    $source: $source, unquote('url("#{$path}.#{$ext}") format("#{$format}")')

  @font-face
    font-family: $name
    src: $source
    font-weight: $fweight
    font-style: $fstyle
    font-display: $fdisplay

+font-face($font-default, "Isomer-LowyTextRegular", 400)
+font-face($font-default, "Isomer-LowyTextBold", 700, normal, swap)
+font-face($font-default, "Isomer-LowyTextItalic", 300, italic, swap)
+font-face($font-display, "Isomer-LowyDisplay", 500, normal, swap)
+font-face($font-caption, "Isomer-LowyCaption", 400)
+font-face($font-caption, "Isomer-LowyCaptionItalic", 400, italic, swap)
+font-face($font-caption, "Isomer-LowyCaptionBold", 700, normal, swap)
