extend ../../partials/post
include ../../partials/accordion

block prepend config
  - href = "mafira"

block content
  :marked
    Industrialisation drove decades of rapid economic growth, innovation, and
    infrastructure building across Southeast Asia. But the focus on
    growth-at-all-costs also drove widening inequalities in our region — a problem
    that has been exacerbated by Covid-19. Death tolls for the poor are higher than
    for wealthier citizens, and significant numbers of children with no internet
    access have suffered from lack of remote schooling. Across Southeast Asia, the
    pandemic has exposed how our existing approaches to economic development fail to
    deliver sufficient welfare and wellbeing to our citizens. These weaknesses and
    the lack of resilience in our economies should be cause for alarm, especially
    given the enormity of the systemic crisis that we face due to climate change.

    From Indonesia to Vietnam and Myanmar to the Philippines, the region is
    experiencing an increase in extreme weather disasters that are compounding
    Southeast Asia’s developmental challenges, including food insecurity, child
    malnutrition, and access to decent healthcare and sanitation. As our ecosystems
    come under more pressure and we struggle to emerge from the pandemic and repair
    the scarring it has caused, Southeast Asian nations need to imagine new ways to
    rejuvenate our economies that make them fairer and better able to withstand the
    turbulence we will face.

    Whether we like it or not, economic growth is limited by the health of the
    ecosystems that provide us with clean water, air, and other essentials for human
    existence. As the climate crisis prompts us to contemplate the limits of growth,
    we also need to ponder the real purpose of this growth. If, as most politicians
    and economists agree, growth is meant to support our common welfare, we should
    ask why our wellbeing has not increased in equal measure despite consistent GDP
    growth. The member states of the Association of Southeast Asian Nations (ASEAN)
    enjoyed growth of around five per cent a year over the decade before Covid-19,
    but Indonesia, Laos, the Philippines, and Vietnam experienced rising or
    persistent inequality. We must think again about the way we have structured our
    economies.

    The resilient economies of the future will be those that do not rely on the
    linear industrial model of
    extraction/production/distribution/consumption/disposal. These models deplete
    resources, generate pollution and emissions, and do not factor these external
    costs into their prices.

    We need to reshape our economic strategies by mimicking nature. Economies can be
    more resilient if they are circular instead of linear, decentralised instead of
    centralised, and diverse instead of monocultural. A circular economy will mean
    that instead of using new materials, most of the things we produce should use
    recycled, regenerated, repaired, or reused materials, and be powered by
    renewable energy.

    Very little will be extracted from the ground, and very little will be disposed
    of during production processes or at the end of a product’s lifecycle. Diversity
    will be favoured over size, mirroring the flourishing of biodiverse areas
    compared to monocultures. This could mean, for example, a mixture of renewable
    energy sources is preferred over a single commodity-based energy source; a
    mixture of endemic crops is preferred over vast food estates dominated by a
    single crop; and a competitive landscape of businesses is preferred over giant
    multinational industries that are too big to be allowed to fail. Vietnam is
    touted as the leader in ASEAN on scaling up renewable energy, with hydropower a
    prominent part of its energy mix and other renewables making up 25 per cent.
    Solar power capacity in the country jumped from 86 MW to 4500 MW between 2018
    and 2019, with most of the investment coming from medium and small enterprises.

    A decentralised economy means that the capital and resources needed to produce
    goods can be spread out, particularly for essential needs. Communities or even
    individual households can produce their own food and renewable energy, thereby
    requiring rural, suburban, and urban areas alike to maintain healthy ecosystems.
    This type of decentralisation would increase the odds of vulnerable communities
    maintaining access to essentials, even if supply chains were disrupted.

    In Southeast Asia, conventional economists tend to blame rising inequality on
    the “middle-income trap”, which proponents say will be corrected with more
    growth and more downstream industrialisation. Nowhere is this more apparent than
    in climate policies.

    The preferred solutions to climate change have been the ones that are already
    commercial, able to be scaled up, or able to “strike a balance” between
    environmental protection and economic growth. For example, deforestation pledges
    come with carve-outs for large agricultural estates on peat lands in the name of
    “efficient” food crop production. The pledges are accompanied by assurances that
    they will not sacrifice large-scale economic development, instead of focusing on
    how preserving forests and healthy ecosystems can increase food diversity and
    food security. This is despite success stories that show a focus on healthy
    ecosystems boosts food production and revenues. One example is the Siak district
    in Sumatra, Indonesia, which has chosen to forego converting its peat-rich lands
    into large agricultural estates in favour of cultivating endemic fish and
    producing fish extract products. In addition to conserving the peat lands, the
    revenue is reportedly double the potential revenue from planting oil palm trees
    in the same area.

    Renewable energy is now enjoying increased support from policymakers, but only
    after overwhelming arguments were made about its commercial worth, including
    reduced energy costs, the ability to harness local content and promote domestic
    assembly of parts, and opportunities for state-owned utility companies. Carbon
    taxes are being supported, yet only after the tax rates were watered down, and
    even then, fossil fuel subsidies are still in place despite being contradictory
    to the goal of a carbon tax.

    Simultaneously, important renewable solutions, such as off-grid energy, fail to
    attract investment because of small returns. Governments, including in
    Indonesia, do not tend to see the potential of renewable energy as a
    small-scale, decentralised, democratic form of energy creation, and thus
    off-grid solutions often fail to attract public financing. So too, climate
    adaptation projects, such as mangrove replanting in coastal communities to guard
    against sea level rise, are severely underfunded, with financing for climate
    action overwhelmingly dominated by spending on the commercial renewable energy
    sector.

    The unsaid sentiment behind these policies is that environmental measures are
    considered a setback to the region’s efforts to industrialise. Industrialisation
    is still touted as a panacea for economic development and job creation.
    Unfortunately, linear industrialisation models are exactly the problem
    exacerbating the climate crisis. The good news is that greener alternatives can
    generate significant numbers of new jobs, while providing an opportunity for
    improved equality. But to enact such transformational change, we need a clearer
    idea of which policies to pursue and how to implement them. This work needs to
    start now. If Southeast Asia chooses to embrace the full transformational
    potential of circular economies ahead of industrialised countries, it may even
    have a competitive edge over other regions.

    ## Challenge questions

  +accordion("Would a circular economy, with less consumption, lead to even less trickle down and lower living standards?", "<p>The failure of trickle down is not due to a lack of growth, it is the consequence of a failure to distribute wealth and distribute the means to create value. A circular economy still creates value. There will be more jobs focusing on regenerating resources, reclaiming materials, repairing, reusing, and repurposing. These jobs will require human skill, craftsmanship, and innovation.</p><p>Communities that have passed the poverty line and have all their basic needs fulfilled already have a distorted and comparative view of what living standards should be. The more unequal a society, the more likely the disadvantaged in that society view themselves as having a low living standard, even though they have housing and access to schools, healthcare, food, and electricity. There are multiple examples of high-consumer societies in which citizens report depression and a lack of fulfilment and wellbeing. At the same time, there are low-income countries where citizens report high wellbeing. Consumption is a poor indicator of living standards.</p>")

  +accordion("Is there really a growth vs circular economy dichotomy?", "If I reuse my tumbler to purchase coffee, I am contributing to the growth of coffee consumption, but I am not contributing to the growth of cup sales. It is the coffee that makes me happy, not the cup. The circular economy finds ways to deliver the product needed, without the usual extraction of natural resources, energy combustion, single-use packaging, and landfilling. That means there will be no growth in those sectors, but there can still be growth in the things that matter to our wellbeing. And of course, a community-led business of cup-washing, cup-mending, or cup-recycling could grow, too.")

  +accordion("What role do you see for governments and the private sector in promoting the community-led approach that you favour?", "Governments can correct the pricing of products by requiring external costs to be internalised. For example, the longer the supply chain and the more energy and emissions it takes to produce and distribute the product, the more expensive it should be. It is okay for governments to put in place an ambitious carbon tax. It is okay for governments to require decent wages for workers and transporters. These changes would provide small businesses with a fair playing field and push the whole economy into more sustainable business practices. Yes, prices might rise overall, but people will have better wages, products will be appropriately valued, and consumers will have less wasteful consumption habits.")

  +accordion("Can community-led development really deliver the needed scale of impact?", "Community-led businesses can also reach scale — but scale by number of self-sustaining and resilient communities instead of number of factory workers or global sales. We see it all around us: coffeeshops and restaurants, tailors and mechanics, snack producers and market vendors, and textile and furniture makers that have been around for generations without feeling the need to scale. They are a significant part of the economy. Those that have achieved “artisanal” status, such as bespoke distillers, can even export a limited batch of products while remaining a small-sized business. This is very different from a multinational company that is so “efficient” it floods the global market with cheap products despite there being little demand.")