- const slugify = s => s.toLowerCase().replace(/\s/g, "-")

mixin pagemenu(links)
  #page-menu.txt-center
    #progress
    .links.flex.container
      each link in links
        a.bare(href=`#${slugify(link)}`)
          h3= link
