- const slugify = s => s.toLowerCase().replace(/[\s&]/g, "-")

mixin pagemenu(links)
  #page-menu.txt-center.flex.items-center
    #progress
    .links.flex
      each link in links
        a.bare(href=`#${slugify(link)}`)
          h3= link
