extend ../../partials/issue

block prepend config
  - author = "Jonathan Pryke"
    
block bio
  :marked
    ***Jonathan Pryke*** is Director of the Pacific Islands Program at the Lowy Institute.

block content
  :marked

    Australia’s closed borders have had a devastating impact on the Pacific. Tourism-dependent economies such as Fiji, Vanuatu, Samoa, Tonga, and the Cook Islands have experienced eye-watering economic contractions. All Pacific economies have suffered from the soaring costs of imports and a loss of expatriate workers. Lowy Institute research has shown that without significant intervention, the Pacific will not return to its 2019 per capita GDP levels until 2028 — a lost decade of development. 

    As borders remain closed and the costs mount, the region will be dealing with the ramifications of the Covid crisis for decades to come. 

    Beyond the economic toll, closed borders have separated families, blunted Australia’s Pacific Step-Up efforts to enhance people-to-people links in the region, forced radical rethinking of — and greater demands on — our $1.4 billion aid program, and made the distance between Australia and our closest neighbours feel greater than ever. 

    Yet it has all been necessary. The economic cost has bought many Pacific Island countries something very valuable — protection from the virus. For the better part of the past year, Pacific nations have dominated indices of countries that have remained completely Covid-free. 

    Pacific nations were willing participants in these efforts. They reacted quickly by bunkering down and barring all international visitors, turning what is often perceived as a weakness — small size and isolation — into a strength. As Dame Meg Taylor noted to me last year, Pacific nations need no reminder of the risks of foreigners bringing disease to their lands. Smallpox, influenza, measles, scarlet fever. The Pacific has been decimated by them all at one time or another.  

    This calculus assumed that closed borders would only be a short-term strategy. By remaining Covid-free, the Pacific islands were to be first in line for quarantine-free travel, mooted as early as May last year. But new and persistent outbreaks of the Delta variant in Australia, the unchecked spread of Covid across Papua New Guinea, and a tenuously controlled outbreak in Fiji have turned this short-term calculus into an entrenched long-term one.
    
    > If Australia’s risk calculus does not change soon and our borders remain closed to the Pacific, then we will have to provide even more support to keep economies there from collapsing.

    Despite the goodwill in both Australia and New Zealand, travel to the Pacific remains severely restricted. Widespread vaccinations — on both sides, and likely as a condition of travel — seem now to be the only viable route forward. Fiji is showing the way for Pacific nations, and is ahead of Australia in vaccinating more than 95 per cent of its adult population with one jab, and more than 50 per cent with two, in a five-month period.

    Australia is doing its part to ensure a steady flow of domestically produced AstraZeneca vaccines will fully meet the Pacific’s needs, committing to providing 15 million doses by mid-2022. However, the ongoing criticism of AstraZeneca here in Australia, despite its remarkable efficacy, is making vaccination efforts in the Pacific even harder. For many Pacific nations, in particular Papua New Guinea where existing vaccine supplies are expiring before they can be administered, mass vaccination seems out of reach due to a combination of logistics challenges and misinformation. 

    If Australia’s risk calculus does not change soon and our borders remain closed to the Pacific, then we will have to provide even more support to keep economies there from collapsing. A US$3.5 billion multi-donor fund proposed by my colleagues Roland Rajah and Alexandre Dayant should be mobilised, in addition to the aid we already provide in the form of grants or loans. More of our aid will need to be shifted from existing priorities to social welfare schemes and budget support. 

    The strengthening of Pacific health systems, especially with respect to vaccination capacity, will be a critical focus. Australia should help bolster those systems with direct support — especially in administration and infrastructure. Pacific nations, and particularly those that are Covid-free, should remain at the front of the queue when Australia does get around to relaxing its border controls.

    To date, Pacific nations have been patient. They know the health risks and want a re-opening led by Australia and New Zealand. But as the economic toll grows and vaccination rates rise, this patience will not persist. If Australia does not relax conditions for travel soon, there will no doubt be other partners enthusiastic and able to lead the re-opening of the Pacific to the world.
