extend ../../partials/issue

block prepend config
  include ../../partials/chart
  - href = "security-and-threats"
  - basepath = "/features/indonesia-poll-2021"
    
block endnote
block content
  :marked
    Despite the Covid-19 pandemic, the increasing impact of climate change, and intensified great power competition in Asia, Indonesians feel safer than a decade ago. The proportion of people who feel ‘safe’ or ‘very safe’ has risen to 74%, from 68% in 2011 and 43% in 2006.

  +chart(4)

  :marked

    Similarly, the vast majority of Indonesians (80%) say their country is going in the right direction. This marks a 12-point jump since 2011. 

  +chart(1)

  :marked

    When it comes to threats to Indonesia’s vital interests over the next decade, most Indonesians are more worried about internal and non-traditional security threats to their livelihoods and wellbeing than external and traditional security threats such as armed conflict. Many Indonesians appear to be less concerned about potential threats than they were in 2011, but their top concerns remain the same as a decade ago, with four of their top five threats from 2011 found among the top five again in this current poll: separatism, food shortages, international terrorism and potential epidemics.

    The top perceived threat for Indonesians is separatism: two-thirds of respondents (67%) say that ‘Indonesia being broken up into several different countries’ poses a critical threat to Indonesia’s vital interests in the next ten years, reflecting longstanding fears about separatism in Indonesia. However, this figure has fallen 11 points in the past decade. Similarly, the number of Indonesians who now see internal unrest as a critical threat has fallen from 82% to 60%. 

    Six in ten Indonesians (63%) say ‘Covid-19 and other potential epidemics’ pose a critical threat. In 2011, more Indonesians saw ‘AIDS, avian flu and other potential epidemics’ as a threat (73%).

  <div class="highlight-box">
    <p>While most views about foreign policy are shared across gender, age and socio-economic status, the level to which great powers are seen as a threat has particular demographic differences.</p>
    <p>Muslim respondents are more likely to see both China and the United States as a threat than non-Muslim respondents. Half the Muslim population (50%) say China poses a threat to Indonesia, compared to 32% of non-Muslims. Similarly, 45% of Muslim respondents say the United States poses a threat to Indonesia, a view held by only 28% of non-Muslim respondents. These differences were not nearly as marked when looking at the question of whether other countries posed a threat.</p>
    <p>Country threat perceptions also vary across different political party affiliations. Fewer supporters of Partai Demokrasi Indonesia Perjuangan (PDI-P), the party of President Joko Widodo, see China and the United States as a threat than supporters of some other parties. Four in ten Indonesians who lean towards PDI-P (44%) see China as a threat to Indonesia, compared to 60% of voters of Partai Gerakan Indonesia Raya (Gerindra), the party of Prabowo Subianto, the Minister of Defence who twice failed to beat Joko Widodo to the presidency before joining his government in 2019. Some 61% of Partai Keadilan Sejahtera (PKS) voters and 65% of Partai Kebangkitan Bangsa (PKB) voters also see China as a threat. Similarly, only 41% of those who lean towards PDI-P see the United States as a threat, whereas more than half (53%) of those who lean towards Gerindra and PKB see the United States as a threat. Other party preferences were not analysed in this poll due to sample sizes being fewer than 100 respondents, and therefore too small to draw generic conclusions about those voters.</p>
    <p>This split in attitudes to China is also reflected when threat perceptions are weighed against which candidate respondents supported in the last presidential election in 2019. Six in ten Prabowo voters (58%) say China is a threat to Indonesia, whereas only 46% of Jokowi voters agree. There is a smaller but still significant gap between attitudes towards the United States as a threat, with 51% of Prabowo voters seeing the United States as a threat to Indonesia’s security, compared with 43% of Jokowi voters.</p>
  </div>

  :marked

    While 63% of Indonesians see food shortages as a critical threat, this figure has fallen 20 points since 2011. The same number (63%) say international terrorism poses a critical threat in 2021, which has also fallen ten points in the past decade.

    There are similarly high levels of concern about social or religious intolerance and the idea of foreign intervention or meddling (61% say a critical threat).

    Six in ten Indonesians see a severe downturn in the domestic economy (61%) and international financial instability (60%) as critical threats to Indonesia’s vital interests. A similar number (59%) say foreign workers coming to Indonesia pose a critical threat.

    The majority of Indonesians (53%) also see fake news and misinformation as critical threats, which aligns with general low levels of [trust in news media](//BASEPATH/information-and-media).

    Around half the country (52%) say climate change poses a critical threat to Indonesia’s vital interests, unchanged from 2011 when 54% said global warming posed a critical threat.

    Indonesians generally rank China-related concerns much lower on the list of potential threats. Only 47% say ‘the development of China as a world power’ poses a critical threat, although this represents a seven-point increase from 2011 – the only potential threat on the list to increase since 2011. Even fewer express concern about instability in the South China Sea, with 44% saying this is a critical threat. The lowest-ranked threat is a military conflict between the United States and China, which only four in ten Indonesians (41%) see as a critical threat. 

    The focus on domestic concerns could be related to limited exposure to international issues. The majority (94%) of respondents say they have not travelled abroad. When asked how closely they follow foreign events or affairs, only 17% say ‘very closely’ or ‘somewhat closely’. Four in ten Indonesians (39%) say they follow foreign affairs ‘not too closely’. A similar proportion (43%) say they follow foreign affairs ‘very little’ or ‘not at all’.

  +chart(16)

  :marked

    When asked specifically about [countries that threaten Indonesia](/BASEPATH/global-powers-and-leaders), a majority of respondents thought that India, Japan, Malaysia, Singapore and Vietnam do not pose a threat to Indonesia’s security in the next ten years. China is the country of most concern, with nearly half of Indonesians (49%) seeing it as a threat to their country in the next decade, compared to 43% for the United States and 34% for Australia.