extend ../../partials/issue

block prepend config
  include ../../partials/chart
  - href = "economy-and-investment"
    
block endnote
block content
  :marked
    Even as Indonesia slumped into its first recession since the Asian financial
    crisis of 1998, Indonesians remain confident about their economic prospects.
    Just over 82% are ‘optimistic’ or ‘very optimistic’ about their country’s
    economic performance over the next five years, a slight increase from 79%
    in 2011. But the number of people who are ‘very optimistic’ slipped over the
    same period to 12% from 16%.

  +chart(9)
  :marked

    While the pandemic has sparked global fears about rising protectionism,
    Indonesians are still broadly in favour of globalisation and not overly
    concerned about its downsides. The 2021 poll shows that 62% believe
    globalisation is ‘mostly good’ for Indonesia, down from 67% in 2011, but
    returning to 2006 levels. The proportion of people who think that globalisation
    is ‘mostly bad’ dropped to just 7% from 26% in 2011. But significantly more
    Indonesians are unsure about the impact of globalisation compared to previous
    years.

    Support for globalisation, and optimism about Indonesia’s economy, are shared
    across a range of demographic groups in Indonesia, including respondents of
    different socio-economic levels and ages, and across rural and urban residents.

  +chart("Globalisation")
  :marked

    When considering their options, more Indonesians think that the Southeast Asia
    region and the United States are the most important economies for Indonesia,
    with 18% choosing Southeast Asia and the United States. Japan (15%) and China
    (12%) come next, followed by Australia (7%) and the European Union (5%). Some
    21% think Japan is the second most important economy for Indonesia, followed by
    the United States (19%), Southeast Asia (16%), China (13%), Australia (11%) and
    the European Union (9%).

    But most Indonesians do not see their Southeast Asian neighbours as role models
    when it comes to the economy. Japan and the United States are the countries that
    Indonesians are most likely to see as models for Indonesia’s future economic
    development. More than a quarter of respondents (26%) say that Indonesia should
    follow Japan’s lead on economics, followed by the United States (20%). Around
    13% opt for China, 12% for Singapore and 3% each for Australia and Malaysia.
    Just over 9% say that Indonesia should follow its own model rather than seeking
    to emulate any other country.
  
  +chart(11)
  :marked

    Since he was elected in 2014, Indonesian President Joko Widodo has made it a
    core mission to attract more foreign investment, enacting a controversial
    ‘omnibus law’ on job creation in 2020 that was designed to reduce the barriers
    for overseas investors. But Indonesians remain divided on their attitudes to
    foreign investment. Three in ten Indonesians (31%) say that the government is
    allowing too much investment, while 17% say the government is allowing too
    little. Just over a quarter of respondents (26%) think the government is
    allowing the right amount of foreign investment, while another quarter (26%) are
    not sure. Of those who think that Indonesia is allowing too much investment, 58%
    think that the government is allowing too much investment from China and 13%
    think it is allowing too much investment from the United States.

  +chart(13)
  :marked

    Indonesians appear to feel differently about foreign investment from different
    countries, with China eliciting the most negative reaction and Saudi Arabia the
    most positive. Only 30% of Indonesians say they are in favour of a company, bank
    or investment fund from China buying a controlling stake in a major Indonesian
    company. By contrast, 57% of respondents are in favour of a Saudi Arabian
    institution purchasing a controlling investment in a major Indonesian company.

    A majority (53%) say they favour investments from Japan and Singapore, while
    slightly less than half (47%) favour investment from Malaysia. There appears to
    be less support for investment from Western countries. Around four in ten favour
    investment from the United States (42%) and Australia (41%). Only a third of
    Indonesians (37%) favour investment from the Netherlands.

  +chart(12)
  :marked

    Indonesians are very supportive of international development assistance with 87%
    saying that it has been ‘mostly good’ or ‘very good’ for Indonesia. When asked
    which countries provide Indonesia with the most foreign aid at the moment, a
    quarter (24%) say the United States, followed by China (16%), Saudi Arabia
    (12%), Japan (11%) and Australia (7%).

    Around 19% say the United States gives the second most aid, with 17% selecting
    Japan, 13% Saudi Arabia, 12% Australia and 10% China.

    Data from the Organisation for Economic Cooperation and Development (OECD) on
    official development assistance commitments to Indonesia from 2015 to 2019 show
    that the biggest bilateral donor in that period was Japan, followed by Germany,
    France, Australia, the United States, South Korea, Norway, Saudi Arabia,
    Switzerland and the United Kingdom. As a non-traditional donor, China does not
    submit its aid data to the OECD.