.container
  .box.n1
  .box.n2
  .box.n3
  .box.n4
  .box.n5
  .box.n6
  .box.n7
  .box.n8
  .box.n9

  .box.n1
  .box.n3
  .box.n2
  .box.n4
  .box.n5
  .box.n9
  .box.n8
  .box.n7
  .box.n6

  .box.n5
  .box.n2
  .box.n3
  .box.n4
  .box.n1
  .box.n6
  .box.n7
  .box.n8
  .box.n9
        
  .box.n9
  .box.n8
  .box.n7
  .box.n6
  .box.n5
  .box.n4
  .box.n3
  .box.n2
  .box.n1

  .box.n1
  .box.n2
  .box.n3
  .box.n4
  .box.n5
  .box.n6
  .box.n7
  .box.n8
  .box.n9

  .box.n1
  .box.n8
  .box.n3
  .box.n5
  .box.n4
  .box.n6
  .box.n7
  .box.n2
  .box.n9

  .box.n1
  .box.n2
  .box.n3
  .box.n4
  .box.n5
  .box.n7
  .box.n6
  .box.n8
  .box.n9
        
  .box.n1
  .box.n2
  .box.n3
  .box.n4
  .box.n5
  .box.n6
  .box.n7
  .box.n8
  .box.n9