.container
  .line-box.n1
  .line-box.n2
  .line-box.n3
  .line-box.n4
  .line-box.n5
  .line-box.n6
  .line-box.n7
  .line-box.n8
  .line-box.n9

  .line-box.n1
  .line-box.n3
  .line-box.n2
  .line-box.n4
  .line-box.n5
  .line-box.n9
  .line-box.n8
  .line-box.n7
  .line-box.n6

  .line-box.n5
  .line-box.n2
  .line-box.n3
  .line-box.n4
  .line-box.n1
  .line-box.n6
  .line-box.n7
  .line-box.n8
  .line-box.n9
        
  .line-box.n9
  .line-box.n8
  .line-box.n7
  .line-box.n6
  .line-box.n5
  .line-box.n4
  .line-box.n3
  .line-box.n2
  .line-box.n1

  .line-box.n1
  .line-box.n2
  .line-box.n3
  .line-box.n4
  .line-box.n5
  .line-box.n6
  .line-box.n7
  .line-box.n8
  .line-box.n9

  .line-box.n1
  .line-box.n8
  .line-box.n3
  .line-box.n5
  .line-box.n4
  .line-box.n6
  .line-box.n7
  .line-box.n2
  .line-box.n9

  .line-box.n1
  .line-box.n2
  .line-box.n3
  .line-box.n4
  .line-box.n5
  .line-box.n7
  .line-box.n6
  .line-box.n8
  .line-box.n9
        
  .line-box.n1
  .line-box.n2
  .line-box.n3
  .line-box.n4
  .line-box.n5
  .line-box.n6
  .line-box.n7
  .line-box.n8
  .line-box.n9