#credits.text-micro.fixed
  //.flex-cv.txt-center
    .mb-1
      span.label Copy Editor&ensp;
      a.txt-bare(href="https://twitter.com/clareecaldwell") Clare Caldwell
    .mb-1
      span.label Website&ensp;
      a.txt-bare(href="https://twitter.com/undiminished") Ian Bruce
