a#logo.text-mini.bare.relative(href="/features/frontier-rules")  
  .primary
    .wordmark Lowy Institute
    .text-highlight
      | Frontier Rules
  //- .secondary(fade).txt-muted.mx-6
    .wordmark
      span.whitespace-nowrap.text-micro home
      svg.mb-0(width="100%" style="height: 1.5em" viewBox="0 0 100 10" stroke="currentColor" fill="currentColor")
        path(d="M0,5 h50 M5,1 L0,5 L5,9 L5,1")
