extend ../../partials/issue

block prepend config
  include ../../partials/chart
  - href = "australia"
    
block endnote
block content
  :marked
    Very few Indonesians have heard of Australia’s signature foreign policy
    initiatives in recent years. A mere 7% of Indonesians have heard of the
    Quadrilateral Security Dialogue (the Quad), the partnership between Australia,
    the United States, India and Japan. When asked if they would support or oppose
    Indonesia joining the Quad, the vast majority (66%) say they do not know. Only
    21% say the Quad would make Indonesia safer, while 13% think it would make
    Indonesia less safe. Most say the Quad would make no difference or do not know
    what effect the Quad would have on Indonesia’s security.

    Despite substantial coverage of the Indonesian government’s reaction to the
    AUKUS agreement, only one in ten Indonesians (11%) have heard of AUKUS. Around a
    quarter of Indonesians say AUKUS would make Indonesia less safe (28%), and a
    similar number (24%) say it would make no difference to Indonesia’s security.
    Only 10% believe AUKUS would make Indonesia safer.

  +chart("37-38")
  :marked

    While Indonesians’ trust in Australia has [fallen dramatically](/BASEPATH/global-powers-and-leaders/#q5) in the past decade
    (55% trust, a 20-point drop from 2011), only a third of Indonesians
    (34%) say Australia poses a threat, and Australia receives a warm reading of 58°
    on the [feelings thermometer](/BASEPATH/global-powers-and-leaders/#thermometer).

    Compared to 2011, there is also less concern on the questions of Australian
    foreign policy that have traditionally featured as irritants in the
    Australia–Indonesia relationship, and there is more positivity towards
    Australia. Answering on a scale from zero to ten, where zero means ‘strongly
    disagree’ and ten means ‘strongly agree’, a mean of 6.2 say that ‘Indonesia
    benefits from having Australia as a stable and prosperous neighbour’, a result
    of an upward trajectory over the past decade. A similar number (6.1) agree that
    Australia has shown itself to be a reliable and long-term friend of Indonesia,
    and there is general agreement with the idea of Australia as an important
    security and aid partner for Indonesia.

    By contrast, concern about Australia’s role in potential separatism is on a
    downward trajectory. The number that agree that ‘Indonesia is right to worry
    that Australia is seeking to separate the provinces of Papua and West Papua from
    Indonesia’ has fallen substantially over the past decade, from a mean of 6.8 in
    2006 to 6.0 in 2021.

    The same number continues to share the longstanding concern that ‘Australia has
    a tendency to try to interfere in Indonesia’s affairs too much’. This has
    increased from 5.5 in 2011 to 6.0, but it remains below the high level of 6.7
    in 2006. The belief that ‘Australia’s policy towards Indonesia and the region is
    shaped too heavily by its alliance with the United States’ has declined from 6.5
    in 2011 to 5.9.