.DS_Store
.sass-cache

bower_components
node_modules
build
vendor/js/ga.js

_*.png
*.ai

backup/
app/static/experiments/*
app/static/charts/ian/pie/index.pug
app/static/charts/ian/pie/data.yaml
app/static/charts/indonesia-poll/_q16/data.yaml
app/static/charts/indonesia-poll/_q16/index.pug
app/static/charts/indonesia-poll/_q18/data.yaml
app/static/charts/indonesia-poll/_q18/index.pug
app/static/charts/indonesia-poll/_q19/data.yaml
app/static/charts/indonesia-poll/_q19/index.pug
app/static/charts/indonesia-poll/_q19b/data.yaml
app/static/charts/indonesia-poll/_q19b/index.pug
app/static/charts/indonesia-poll/_q20/data.yaml
app/static/charts/indonesia-poll/_q20/index.pug
app/static/charts/indonesia-poll/_q21/data.yaml
app/static/charts/indonesia-poll/_q21/index.pug
app/static/charts/indonesia-poll/_q35-38/data.yaml
app/static/charts/indonesia-poll/_q35-38/index.pug
app/static/charts/indonesia-poll/_q37-38/data.yaml
app/static/charts/indonesia-poll/_q37-38/index.pug
app/static/charts/indonesia-poll/_q40/data.yaml
app/static/charts/indonesia-poll/_q40/index.pug
app/static/charts/indonesia-poll/_q41/data.yaml
app/static/charts/indonesia-poll/_q41/index.pug
app/static/charts/indonesia-poll/_q6/data.yaml
app/static/charts/indonesia-poll/_q6/index.pug
app/static/charts/indonesia-poll/_q7/data.yaml
app/static/charts/indonesia-poll/_q7/index.pug
app/static/charts/indonesia-poll/_q9/data.yaml
app/static/charts/indonesia-poll/_q9/index.pug
app/static/charts/indonesia-poll/q16/_index.pug
app/static/charts/indonesia-poll/q16/_index.pug
app/static/charts/indonesia-poll/_q12/data.yaml
app/static/charts/indonesia-poll/_q12/index.pug
app/static/charts/indonesia-poll/__q6/data.yaml
app/static/charts/indonesia-poll/__q6/index.pug
app/static/charts/indonesia-poll/_q24/data.yaml
app/static/charts/indonesia-poll/_q24/index.pug
app/static/charts/indonesia-poll/_q25/data.yaml
app/static/charts/indonesia-poll/_q25/index.pug
app/static/charts/indonesia-poll/_q27/data.yaml
app/static/charts/indonesia-poll/_q27/index.pug
app/static/charts/ian/_api-line-join/figure-1/data.yaml
app/static/charts/ian/_api-line-join/figure-1/index.pug
app/static/charts/ian/_api-line-join/tooltip.js
app/static/charts/ian/_api-sparklines/data.yaml
app/static/charts/the-interpreter/australia-election-cycle-3/_line.pug
app/static/charts/the-interpreter/australia-election-cycle-3/_template.pug
app/static/charts/the-interpreter/australia-election-cycle-3/chart/data.yaml
app/static/charts/the-interpreter/australia-election-cycle-3/chart/index.pug
app/static/charts/the-interpreter/australia-election-cycle-3/line.coffee
app/static/charts/ian/_api-sparklines/index.pug
app/static/charts/indonesia-poll/q19b/data.yaml
app/static/features/southeast-asia-economy/img/1x/Asset 1.png
app/static/features/southeast-asia-economy/img/2x/Asset 2@2x.png
app/static/features/southeast-asia-economy/img/2x/Asset 3@2x-b.png
app/static/features/southeast-asia-economy/img/2x/Asset-2@2x.png
app/static/features/southeast-asia-economy/img/6A583C37B0A835A0.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A1.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A2.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A3.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A4.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A5.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A7.jpg
app/static/charts/china-influence-un/_fig-5b/index.pug
app/static/charts/china-influence-un/_fig-5a/data.yaml
app/static/charts/china-influence-un/_fig-5a/index.pug
app/static/charts/china-influence-un/_fig-5b/data.yaml
app/static/features/the-xi-jinping-era/interpreter/_slides.pug
app/static/features/the-xi-jinping-era/interpreter/_slides.pug
app/static/features/the-xi-jinping-era/interpreter/_slides.pug
app/static/features/the-xi-jinping-era/interpreter/_slides.pug
app/static/features/the-xi-jinping-era/interpreter/index.pug
app/static/charts/api/2022/3-us-china-spider/index.pug
app/static/features/frontier-rules/index2.pug
app/static/features/frontier-rules/scripts/landing.coffee
app/static/features/frontier-rules/scripts/landing.coffee
app/static/charts/api/2022/3-us-china-spider/index.pug
app/static/features/_20-years/_fonts.sass
app/static/features/_20-years/_styles.sass
app/static/features/_20-years/coffee/_data-seats.coffee
app/static/features/_20-years/coffee/_data-votes.coffee
app/static/features/_20-years/coffee/_data-women.coffee
app/static/features/_20-years/coffee/_spin.coffee
app/static/features/_20-years/coffee/_spiral.coffee
app/static/features/_20-years/coffee/counter.coffee
app/static/features/_20-years/coffee/scroller.coffee
app/static/features/_20-years/data.yaml
app/static/features/_20-years/img/1280x720.psd
app/static/features/_20-years/img/allan-gyngell+1.jpg
app/static/features/_20-years/img/allan-gyngell.jpg
app/static/features/_20-years/img/allan-gyngell_x1920.jpg
app/static/features/_20-years/img/angela-merkel.jpg
app/static/features/_20-years/img/api.png
app/static/features/_20-years/img/bill-gates.jpg
app/static/features/_20-years/img/bligh-st-crop.jpg
app/static/features/_20-years/img/bligh-st-lower.svg
app/static/features/_20-years/img/bligh-st-upper.svg
app/static/features/_20-years/img/bligh-st.jpg
app/static/features/_20-years/img/bligh-st.svg
app/static/features/_20-years/img/blob.svg
app/static/features/_20-years/img/boris-johnson.jpg
app/static/features/_20-years/img/gdi.png
app/static/features/_20-years/img/jacinda-ardern.jpg
app/static/features/_20-years/img/jaishankar.jpg
app/static/features/_20-years/img/laptop.svg
app/static/features/_20-years/img/logo-20-years-white.svg
app/static/features/_20-years/img/map.svg
app/static/features/_20-years/img/michael-fullilove.jpg
app/static/features/_20-years/img/michael-wesley+1.jpg
app/static/features/_20-years/img/michael-wesley.jpg
app/static/features/_20-years/img/og-thumbnail.png
app/static/features/_20-years/img/pam.png
app/static/features/_20-years/img/penguin-logo.png
app/static/features/_20-years/img/pm-samoa-recrop.jpg
app/static/features/_20-years/img/pm-samoa.jpg
app/static/features/_20-years/img/poll.png
app/static/features/_20-years/img/sir-frank-lowy-2.jpg
app/static/features/_20-years/img/sir-frank-lowy-crop-mono.jpg
app/static/features/_20-years/img/sir-frank-lowy-crop.jpg
app/static/features/_20-years/img/sir-frank-lowy-crop.psd
app/static/features/_20-years/img/sir-frank-lowy.jpg
app/static/features/_20-years/img/staff1.jpg
app/static/features/_20-years/img/staff14jpg.jpg
app/static/features/_20-years/img/staff2-alt.jpg
app/static/features/_20-years/img/staff2.jpg
app/static/features/_20-years/img/staff3-crop.jpg
app/static/features/_20-years/img/staff3.jpg
app/static/features/_20-years/img/staff4.jpg
app/static/features/_20-years/img/staff5.jpg
app/static/features/_20-years/img/the-interpreter-dark.png
app/static/features/_20-years/img/thumb.png
app/static/features/_20-years/img/thumbnail.png
app/static/features/_20-years/img/town-hall.jpg
app/static/features/_20-years/img/twitter-card-image.png
app/static/features/_20-years/img/volodymyr-zelenskyy.jpg
app/static/features/_20-years/index.pug
app/static/features/_20-years/partials/other/footer.pug
app/static/features/_20-years/partials/other/header.pug
app/static/features/_20-years/partials/other/social.pug
app/static/features/_20-years/partials/slides/01.pug
app/static/features/_20-years/partials/slides/02.pug
app/static/features/_20-years/partials/slides/03.pug
app/static/features/_20-years/partials/slides/04.pug
app/static/features/_20-years/partials/slides/05.pug
app/static/features/_20-years/partials/slides/06.pug
app/static/features/_20-years/partials/slides/07.pug
app/static/features/_20-years/partials/slides/08.pug
app/static/features/_20-years/partials/slides/09.pug
app/static/features/_20-years/partials/slides/10.pug
app/static/features/_20-years/partials/slides/11.pug
app/static/features/_20-years/partials/slides/12-alt.pug
app/static/features/_20-years/partials/slides/12.pug
app/static/features/_20-years/partials/slides/13-alt.pug
app/static/features/_20-years/partials/slides/13.pug
app/static/features/_20-years/partials/slides/14.pug
app/static/features/_20-years/partials/slides/15.pug
app/static/features/_20-years/partials/slides/archive/03_backup.pug
app/static/features/_20-years/partials/slides/archive/03_EDs.pug
app/static/features/_20-years/partials/slides/archive/10_alt.pug
app/static/features/_20-years/partials/slides/archive/10_backup.pug
app/static/features/_20-years/partials/slides/archive/10_flexbox.pug
app/static/features/_20-years/partials/slides/archive/10_grid.pug
app/static/features/_20-years/partials/slides/archive/11_backup.pug
app/static/features/_20-years/partials/slides/archive/_03.pug
app/static/features/_20-years/partials/slides/archive/_04.pug
app/static/features/_20-years/partials/slides/archive/_06.pug
app/static/features/_20-years/partials/slides/archive/_10.pug
app/static/features/_20-years/partials/slides/archive/_11.pug
app/static/features/_20-years/partials/slides/archive/_14.pug
app/static/features/_20-years/partials/slides/archive/_15.pug
app/static/features/_20-years/partials/slides/archive/__03.pug
app/static/features/_20-years/partials/slides/archive/__11.pug
app/static/features/_20-years/partials/slides/intro.pug
app/static/features/_20-years/partials/slides/outro.pug
