.DS_Store
.sass-cache

bower_components
node_modules
build
vendor/js/ga.js

_*.png
*.ai

backup/
app/static/experiments/*
app/static/charts/ian/pie/index.pug
app/static/charts/ian/pie/data.yaml
app/static/charts/indonesia-poll/_q16/data.yaml
app/static/charts/indonesia-poll/_q16/index.pug
app/static/charts/indonesia-poll/_q18/data.yaml
app/static/charts/indonesia-poll/_q18/index.pug
app/static/charts/indonesia-poll/_q19/data.yaml
app/static/charts/indonesia-poll/_q19/index.pug
app/static/charts/indonesia-poll/_q19b/data.yaml
app/static/charts/indonesia-poll/_q19b/index.pug
app/static/charts/indonesia-poll/_q20/data.yaml
app/static/charts/indonesia-poll/_q20/index.pug
app/static/charts/indonesia-poll/_q21/data.yaml
app/static/charts/indonesia-poll/_q21/index.pug
app/static/charts/indonesia-poll/_q35-38/data.yaml
app/static/charts/indonesia-poll/_q35-38/index.pug
app/static/charts/indonesia-poll/_q37-38/data.yaml
app/static/charts/indonesia-poll/_q37-38/index.pug
app/static/charts/indonesia-poll/_q40/data.yaml
app/static/charts/indonesia-poll/_q40/index.pug
app/static/charts/indonesia-poll/_q41/data.yaml
app/static/charts/indonesia-poll/_q41/index.pug
app/static/charts/indonesia-poll/_q6/data.yaml
app/static/charts/indonesia-poll/_q6/index.pug
app/static/charts/indonesia-poll/_q7/data.yaml
app/static/charts/indonesia-poll/_q7/index.pug
app/static/charts/indonesia-poll/_q9/data.yaml
app/static/charts/indonesia-poll/_q9/index.pug
app/static/charts/indonesia-poll/q16/_index.pug
app/static/charts/indonesia-poll/q16/_index.pug
app/static/charts/indonesia-poll/_q12/data.yaml
app/static/charts/indonesia-poll/_q12/index.pug
app/static/charts/indonesia-poll/__q6/data.yaml
app/static/charts/indonesia-poll/__q6/index.pug
app/static/charts/indonesia-poll/_q24/data.yaml
app/static/charts/indonesia-poll/_q24/index.pug
app/static/charts/indonesia-poll/_q25/data.yaml
app/static/charts/indonesia-poll/_q25/index.pug
app/static/charts/indonesia-poll/_q27/data.yaml
app/static/charts/indonesia-poll/_q27/index.pug
app/static/charts/ian/_api-line-join/figure-1/data.yaml
app/static/charts/ian/_api-line-join/figure-1/index.pug
app/static/charts/ian/_api-line-join/tooltip.js
app/static/charts/ian/_api-sparklines/data.yaml
app/static/charts/the-interpreter/australia-election-cycle-3/_line.pug
app/static/charts/the-interpreter/australia-election-cycle-3/_template.pug
app/static/charts/the-interpreter/australia-election-cycle-3/chart/data.yaml
app/static/charts/the-interpreter/australia-election-cycle-3/chart/index.pug
app/static/charts/the-interpreter/australia-election-cycle-3/line.coffee
app/static/charts/ian/_api-sparklines/index.pug
app/static/charts/indonesia-poll/q19b/data.yaml
app/static/features/southeast-asia-economy/img/1x/Asset 1.png
app/static/features/southeast-asia-economy/img/2x/Asset 2@2x.png
app/static/features/southeast-asia-economy/img/2x/Asset 3@2x-b.png
app/static/features/southeast-asia-economy/img/2x/Asset-2@2x.png
app/static/features/southeast-asia-economy/img/6A583C37B0A835A0.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A1.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A2.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A3.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A4.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A5.jpg
app/static/features/southeast-asia-economy/img/6A583C37B0A835A7.jpg
app/static/charts/china-influence-un/_fig-5b/index.pug
app/static/charts/china-influence-un/_fig-5a/data.yaml
app/static/charts/china-influence-un/_fig-5a/index.pug
app/static/charts/china-influence-un/_fig-5b/data.yaml
app/static/features/the-xi-jinping-era/interpreter/_slides.pug
app/static/features/the-xi-jinping-era/interpreter/_slides.pug
app/static/features/the-xi-jinping-era/interpreter/_slides.pug
app/static/features/the-xi-jinping-era/interpreter/_slides.pug
app/static/features/the-xi-jinping-era/interpreter/index.pug
