extend ../../partials/issue

block prepend config
  - author = "Sam Roggeveen"
    
block bio
  :marked
    ***Sam Roggeveen*** is the lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.

block content
  :marked

    If dogs run free, then why not we. Across the swooping plain? My ears hear a symphony. Of two mules, trains and rain. The best is always yet to come. That’s what they explain to me. Just do your thing, you’ll be king. If dogs run free.

    Now, when the other sailors heard the news, Well, they fell into a rage, And with all the ship's company. They were willing to engage. Saying, "We'll tie her hands and feet, my boys, Overboard we'll throw her. She'll never see that seaport town. Called Canadee-i-o. Life is sad. Life is a bust. All ya can do is do what you must. You do what you must do and ya do it well. I’ll do it for you, honey baby. Can’t you tell?
    
    > They run to the water their buckets to fill. I can still see the shells fallin’ out of their hands. As they follow each other back up the hill.

    The call of my master compelled me from home, No kindred or relative nigh. I met the contagion and sank to the tomb, My soul flew to mansions on high. Well, you’re on your own, you always were. In a land of wolves and thieves. Don’t put your hope in ungodly man. Or be a slave to what somebody else believes.

    Meet me in the morning, 56th and Wabasha. Meet me in the morning, 56th and Wabasha. Honey, we could be in Kansas. By time the snow begins to thaw.

    I can still see them playin’ with their pails in the sand. They run to the water their buckets to fill. I can still see the shells fallin’ out of their hands. As they follow each other back up the hill.

    Down along the cove. I spied my little bundle of joy. Down along the cove. I spied my little bundle of joy. She said, “Lord, have mercy, honey. I’m so glad you’re my boy!”

    Hey, hey, Woody Guthrie, I wrote you a song. ’Bout a funny ol’ world that’s a-comin’ along. Seems sick an’ it’s hungry, it’s tired an’ it’s torn. It looks like it’s a-dyin’ an’ it’s hardly been born.

    High Water (For Charley Patton)

    I got a cravin’ love for blazing speed. Got a hopped up Mustang Ford. Jump into the wagon, love, throw your panties overboard. I can write you poems, make a strong man lose his mind. I’m no pig without a wig. I hope you treat me kind. Things are breakin’ up out there. High water everywhere.
