extend ../../partials/issue

block prepend config
  - author = "Sam Roggeveen"
    
block bio
  :marked
    ***Sam Roggeveen*** is Director of the International Security Program at the Lowy Institute.

block content
  :marked

    Australia has long been one of the wealthiest countries in Asia and the Pacific, which has allowed our small population to gain security and influence. But now that Asia is catching up economically, population size is translating into vastly increased national power. China is now among the most powerful nations in the world, India will soon join it, and Indonesia is the acknowledged leader of Southeast Asia.

    Australia’s security, prosperity, and influence are now indelibly tied to the size of our population. Yet the Australian government’s response to Covid has abruptly stopped the nation’s population growth, 60 per cent of which is derived from overseas migration. The 2021 Intergenerational Report predicts net overseas migration will be negative from 2020 to 2022 as more people leave the country than enter it, and notes that population growth in 2020–21 fell to its lowest annual rate (0.1 per cent) for over a century.
    
    > Canada has set a good example; in November 2020 it announced a program that will boost medium-term immigration targets to offset a Covid shortfall.

    Treasurer Josh Frydenberg has said Australia will eventually return to pre-Covid immigration levels, and the Intergenerational Report forecasts that by 2023–24, the population growth rate will largely return to the norm of the last 40 years. But to recover the lost population growth from border closures during the pandemic will require more than that. Canada has set a good example; in November 2020 it announced a program that will boost medium-term immigration targets to offset a Covid shortfall. There is no sign of an equivalent policy in Australia. In fact, the danger is that, because closing the borders has worked so well as a response to the pandemic and has synched so neatly with Australia’s post-9/11 border control fixation, governments will be tempted to drag out the return to high immigration levels and thus population growth. This would be a mistake.

    Australia must be able to look after its own security and help our neighbours without sacrificing major domestic priorities or having to rely so much on America. That means a bigger Australia, and we can only do that through higher immigration. Former Prime Minister Kevin Rudd recently said Australia should aim for a population of 50 million in the second half of the century. While acknowledging the political difficulty of the task, Rudd wrote that “a Big Australia is also about the size and scope of our national imagination”.

    He is right, but that imaginative leap — the ability to see an Australia almost twice as populous as it is today — just got even harder thanks to Covid, because the effect of closing Australia to the world has not been so bad, at least economically. Covid is teaching us that zero population growth can be comfortable, even though negative overseas migration leads to relative population decline when measured against our neighbours.

    We will probably return to our pre-Covid immigration rates eventually and without much fuss because the major-party consensus on high immigration levels remains firm. The implicit bargain between Labor and the Coalition has long been to support some of the highest immigration rates among advanced economies, but to do it quietly, thereby avoiding public debate and scrutiny. If that bargain holds, the Intergenerational Report projects Australia will get to 39 million by 2060–61.
    
    > To continue to improve our living standards, and to support the economic, defence, and foreign policy apparatus needed for our security in a more contested Asia, we must grow even faster.

    The real challenge will be to make the case for even higher immigration rates. To continue to improve our living standards, and to support the economic, defence, and foreign policy apparatus needed for our security in a more contested Asia, we must grow even faster. Critics will say this stretches our capacity to house, employ, educate, and integrate new Australians, but there is no nation better at this than Australia. Our ability to peacefully absorb large numbers of new immigrants from around the world while growing the economy is Australia’s competitive advantage.

    Covid ought to be a motivation to stretch our population goals towards 50 million rather than shrink our horizons, because it shows that our region needs a large and ambitious Australia that can play a decisive part in mitigating not just health emergencies, but diplomatic disputes and security crises.

    A larger and more powerful Australia does not mean a more aggressive Australia. The point is not to project far-reaching military power into Asia as we once did when Australia was the only rich nation in our neighbourhood, but to persuade our neighbours that we are a powerful and useful partner. One of the benefits of higher immigration is that we accelerate our demographic integration with Asia as we take more migrants from the region. We ought to make a special effort with Indonesia to create a diaspora here that symbolises the centrality of that relationship.

    A bigger Australia will help the nation declare to Asia that we are a confident, welcoming country. It would help set a new narrative in Asia about who we are, and the role we want to play in tackling major problems and seeking peace and sustainability. Beyond our region, a higher migration target can be Australia’s gift to humanity. The United Nations predicts that there will be 9.7 billion people on the planet by 2050. If more of those people are Australians, the world will be a better place, and so will Australia.
