extend ../../partials/issue

block prepend config
  - author = "Hervé Lemahieu"
    
block bio
  :marked
    ***Hervé Lemahieu*** is Director of Research at the Lowy Institute.

block content
  :marked

    The reality of living in a pandemic has dawned on Australia. Covid cases at the time of writing are high and still climbing. The virus is here to stay. Equally clear is that ring-fencing the country from the world — the ‘Fortress Australia’ policy — is no longer viable. 

    Australia closed its international borders in response to the spread of the novel coronavirus on 20 March 2020. They have remained shut, in both directions, ever since. Borders served as the primary line of defence against the pandemic and enabled a zero-tolerance approach to Covid at home. 

    The strategy bought us critical time and saved countless lives as other countries suffered mass Covid casualties. But the idea that life in Australia could carry on with a pre-Covid sense of normalcy was an illusion. The gilded cage of safety was crushed with the arrival of the highly contagious Delta variant on our shores in June 2021. 

    Critically, the Delta variant is not the only factor that has made Australia’s isolation untenable. Measures that were necessary and tolerable in the short term have become unsustainable and damaging to the national interest in the long term. Canberra appears to have conceded as much by announcing measures in early September that would accelerate plans to dismantle key vestiges of Fortress Australia in a phased four-stage process. 

    It is important that the Morrison government follows through on its pledges, and that the states — prone to erecting their own fortresses around internal borders — also fall into line. 

    A pivot in Australia’s Covid public health response from elimination to vaccination and adaptation presents a vital opportunity to address wider policy problems caused by more than 18 months of unprecedented isolation. 

    This series of essays by Lowy Institute experts explores the broader domestic and international ramifications of Fortress Australia, and ways forward.  

    ## The damage done

    Australia has, in vital respects, fallen victim to the Covid ‘winner’s curse’ — with pronounced effects in areas far beyond public health. 

    Michael Fullilove warns that an extended retreat from the world runs counter to our history and our interests. Richard McGregor observes that Canberra’s lengthy fixation on closed borders left Australia sharply off the pace in regional diplomacy, precisely when Beijing has had all shoulders to the wheel. 

    Visits by Foreign Minister Marise Payne and Defence Minister Peter Dutton to Indonesia, India, South Korea, and the United States in early September may herald a new approach, according to Ben Bland. But efforts to deepen ties with key strategic partners will require more than high-level diplomacy.

    Australia’s diplomats have worked hard to provide Covid-related assistance to Southeast Asia and the Pacific. Nevertheless, without people-to-people links, “the connective tissue of Australia’s relationships with its neighbourhood” will continue to atrophy.  

    In the Pacific, Australia’s border closures have insulated entire countries from the virus. But if travel policy settings are not adjusted, Jonathan Pryke warns Canberra will have to step in to keep their economies from collapsing. 

    By contrast, the costs to our own economy have so far been limited, as John Edwards points out. But they are set to grow as the long-term economic burden of isolation starts to outweigh the benefits. 

    Our isolation also poses risks to our fundamentals as a young and growing middle power. Sam Roggeveen writes that Australia’s security, prosperity, and influence are now indelibly tied to the size of our population and its growth, of which 60 per cent is derived from overseas migration. 

    An intangible, but no less important, added cost of Australia’s Covid strategy has been the conspicuous absence of debate on the balance between civil liberties and public health measures. This is detrimental to democracy, warns Lydia Khalil. 

    ## The ways forward

    Isolation may have given Australia the gift of time, but the blunt tool of border-based policy also created complacency, writes Alex Oliver. 

    Australia must now arrive at a new ‘Covid normal’ — not by choice, but by necessity. The two most populous states have conceded that zero-Covid is no longer a realistic goal. Prime Minister Scott Morrison signalled his shift in policy thinking by telling the Parliament, “We cannot live in the cave forever.”

    Australia can learn from other countries, such as Singapore, as it seeks to steer a sustainable course through the pandemic. The city-state has taken an ambitious ‘middle approach’ to re-opening, writes Emma Connors, which acknowledges that for a globally connected island nation there is no real alternative. 

    By contrast, a zero-tolerance approach to borders has been electoral gold in Australia. But as Natasha Kassam notes, attitudes are changing fast as advanced economies re-open and Australia’s isolation looks far more conspicuous.

    The Australian government currently targets a vaccination rate that will permit a phased re-opening starting as early as later this year. 

    Many Australian expatriates, including Jenny Hayward-Jones, understood that the denial of their right to freely re-enter Australia protected lives at home. But in the era of mass vaccination, their sense of alienation is growing.
    
    > Managing the risk of illness and death must continue to be an overriding priority. But the dismal binary of being isolated and protected, or open and exposed, no longer describes our predicament.

    Smarter, more compassionate conditions of travel for fully vaccinated expatriates, foreign residents, and long-term visitors would have immediate material benefits in the national interest.

    The prime minister has suggested that international borders could open for people leaving the country from states that have reached the 80 per cent vaccination threshold, even if other states have not. 

    Canberra should consider a similar two-track system for liberalising inbound international travel, allowing the largest states to lead the way in re-engaging the world. 

    Beyond 2022, Australia should follow Canada by instituting a catch-up program that would boost medium-term immigration targets to offset a Covid shortfall. 

    All the while, the balance between re-opening and public health will remain precarious. Evidence suggests that Covid variants will circulate globally for years to come. 

    Managing the risk of illness and death must continue to be an overriding priority. But the dismal binary of being isolated and protected, or open and exposed, no longer describes our predicament.

    Charting a more considered course, at a time of great uncertainty, will not be easy. It will require agility and determination as we adjust to Covid as an endemic disease. 

    But it must be done, if we hope to remain not only a world leader in our pandemic response, but an influential player in a complicated world.
