extend ../../partials/issue

block prepend config
  - author = "Hervé Lemahieu"
    
block bio
  :marked
    ***Hervé Lemahieu*** is Director of Research at the Lowy Institute.

block content
  :marked

    The reality of living in a pandemic has dawned on Australia. Covid cases at the time of writing are high and still climbing. The virus is here to stay. Equally clear is that ring-fencing the country from the world — the ‘Fortress Australia’ policy — is no longer viable. 

    Australia closed its international border on 20 March 2020 in response to the spread of the novel coronavirus. It has remained shut, in both directions, ever since. Borders served as the primary line of defence against the pandemic and enabled a zero-tolerance approach to Covid at home.

    The strategy bought us critical time and saved countless lives as other countries suffered mass Covid casualties. But the idea that life in Australia could carry on with a pre-Covid sense of normalcy was an illusion. The gilded cage of safety was irreversibly compromised with the arrival of the highly contagious Delta variant on our shores in June 2021.
    
    > Border policies that were necessary and tolerable in the short term have become unsustainable and damaging to the national interest in the long term.

    The Delta variant is not the only factor that has made Australia’s isolation untenable. Border policies that were necessary and tolerable in the short term have become unsustainable and damaging to the national interest in the long term. Canberra appears to have signalled as much by announcing measures in early September that would accelerate the phased resumption of international travel.

    A pivot in Australia’s Covid public health response from de facto elimination to vaccination and adaptation will enable us to begin addressing the consequences of more than 18 months of unprecedented isolation. 

    This series of essays by Lowy Institute experts explores the broader policy trade-offs and costs of Fortress Australia, and the ways forward. The Institute has no house position on the handling of the pandemic, or indeed any other issue. The authors of these essays write in their own names. They are not public health experts. But they are knowledgeable about Australia’s relationship with the world — an issue that has not received sufficient attention in the national debate on Covid policies.

    ## The damage done

    Australia has, in some respects, fallen victim to the Covid ‘winner’s curse’ — with pronounced effects in areas far beyond public health. 

    In his opening essay, [Michael Fullilove](/features/fortress-australia/article/smaller-australia) warns that a long-term retreat from the world runs counter to Australia’s history and its interests. [Richard McGregor](/features/fortress-australia/article/foreign-policy) observes that our lengthy closure of the border has left Australia sharply off the pace in regional diplomacy, precisely when Beijing has put its shoulder to the wheel.
    
    > Australia must now arrive at a new ‘Covid normal’ — not by choice, but by necessity.

    An overseas mission by Foreign Minister Senator Marise Payne and Defence Minister Peter Dutton to Indonesia, India, South Korea, and the United States in early September may herald a new approach, according to [Ben Bland](/features/fortress-australia/article/southeast-asia). But efforts to deepen ties with key strategic partners will require more than high-level diplomacy.

    Australia’s diplomats have worked hard to provide Covid-related assistance to Southeast Asia and the Pacific. Without people-to-people links, however, “the connective tissue of Australia’s relationships with its neighbourhood” will continue to atrophy.  

    In the Pacific, Australia’s border closures have insulated entire countries from the virus. But if travel policy settings are not adjusted, [Jonathan Pryke](/features/fortress-australia/article/pacific-islands) warns that Canberra will have to step in to keep Pacific economies from collapsing. 

    By contrast, the costs to Australia’s economy have so far been limited, as [John Edwards](/features/fortress-australia/article/economy) points out. But they are set to grow, particularly in the university sector, as the long-term economic burden of isolation starts to outweigh the benefits. 

    Our isolation also poses risks to our demographics. [Sam Roggeveen](/features/fortress-australia/article/demographics) writes that Australia’s security, prosperity, and influence are linked inextricably to the size and growth of our population, which depends on immigration. 

    An intangible, but no less important, added cost of Australia’s Covid strategy has been the conspicuous absence of debate on the balance between civil liberties and public health measures. This is detrimental to democracy, warns [Lydia Khalil](/features/fortress-australia/article/civil-liberties). 

    ## The way forward

    Australia must now arrive at a new ‘Covid normal’ — not by choice, but by necessity. The two largest states have conceded that zero-Covid is no longer a realistic goal. Prime Minister Scott Morrison signalled his shift in policy thinking by telling the Parliament, “We cannot live in the cave forever.”

    Isolation may have given Australia the gift of time, but the blunt tool of border-based policy also created complacency, writes [Alex Oliver](/features/fortress-australia/article/open-borders).
    
    > Managing the risk of illness and death must continue to be an overriding priority. But the dismal binary of being isolated and protected, or open and exposed, no longer describes our predicament.

    Australia can learn from other countries, such as Singapore, as it seeks to steer a sustainable course through the pandemic. The city-state has taken an ambitious ‘middle approach’ to re-opening, writes [Emma Connors](/features/fortress-australia/article/singapores-pivot), which acknowledges that for a globally connected island nation there is no real alternative. 

    By contrast, a zero-tolerance approach to borders has been electoral gold in Australia. But as [Natasha Kassam](/features/fortress-australia/article/public-opinion) notes, attitudes are changing as advanced economies re-open and Australia’s isolation looks more conspicuous.

    The Australian government currently targets a vaccination rate that will permit a phased re-opening starting as early as later this year. 

    Many Australian expatriates, including [Jenny Hayward-Jones](/features/fortress-australia/article/expats-view), understood that the denial of their right to freely re-enter Australia protected lives at home. But in the era of mass vaccination, their sense of alienation is growing. 

    Smarter, more compassionate conditions of travel for fully vaccinated expatriates, foreign residents, and long-term visitors would be in Australia’s immediate interest. Beyond 2022, Australia should follow Canada’s example of boosting medium-term immigration targets to offset the Covid shortfall. 

    All the while, the balance between re-opening and public health will remain precarious. Evidence suggests that Covid variants will circulate globally for years to come. 

    Managing the risk of illness and death must continue to be an overriding priority. But the dismal binary of being isolated and protected, or open and exposed, no longer describes our predicament.

    Charting a more considered course, at a time of great uncertainty, will not be easy. It will require agility and determination as we adjust to Covid as an endemic disease. But it must be done, if we hope to remain not only a world leader in our pandemic response, but an influential player in a contested region.
