*, *:before, *:after
  box-sizing: border-box

html,
body,
body.embed-false
  width: auto
  height: auto
  overflow: unset
  scroll-behavior: smooth
  overscroll-behavior: none
  color: black
  margin: 0

body.homepage
  width: 100%
  height: 100%

  main
    height: 100%
    overflow: hidden