footer
  position: relative
  padding: 0 2rem 2rem

  a
    color: black
    text-decoration: none

  #download
    border-radius: 4em

  .socials .icon,
  #download
    transition: background 0.3s

    &:hover
      background: #78cdd144

.footer-summary
  padding: 4rem 1rem
  border-top: 1px solid

.footer-links
  display: flex
  justify-content: space-between

  .flex-ch
    justify-content: flex-start

  .post-links
    display: grid
    grid-template-rows: repeat(3, 1fr)
    grid-template-columns: repeat(2, 1fr)

    a
      margin-right: 2rem

.socials

  .icon
    margin: 0 0.25em
    width: 1.75em
    height: 1.75em
    line-height: 1.75em
    border-radius: 1.75em
    display: inline-block