header
  display: flex
  top: 0
  left: 0
  width: 100%
  z-index: 100
  padding: 1rem
  position: sticky
  justify-content: space-between
  transition: all 0.5s
  background: #002b45
  color: white
  border-bottom: 1px solid transparent
  text-rendering: geometricPrecision

  &.invert
    color: #002b45
    background: white
    text-rendering: auto

  a
    &:hover
      color: currentColor

  .postpage &.invert
    border-bottom-color: rgba(black, 0.25)

#menu-toggle
  border-radius: 2rem
  border: 0.5px solid white
  padding: 1em 1em
  background: #002b45
  color: white

