$w-title-block: 850px
$w-content: 570px

main
  padding: 1rem

article,
.w-content,
.w-title-block,
  margin-left: auto
  margin-right: auto

article,
.w-content
  max-width: $w-content

.w-title-block
  max-width: $w-title-block

article
  padding: 4rem 0