$w-text: 450px

.title-block
  background: #002b45
  color: white
  padding: 8rem 0

  .col-text
    max-width: $w-text
    margin-right: auto
    text-rendering: geometricPrecision

  .col-image
    min-width: 200px

  img
    width: 200px
    height: 280px
    box-shadow: 0 0 4rem #0008
    border-radius: 0.25rem

