extend ../../partials/issue

block prepend config
  include ../../partials/chart
  - href = "information-and-media"
    
block endnote
block content
  :marked
    Even before Covid-19, Indonesians were flooded with many different sources of information contending for their attention and trust. During the pandemic, information has become more contested, with the president sometimes clashing with his ministers and ministers sometimes at odds with each other. The central government has sometimes been in conflict with provincial governors or city and district leaders. Political parties, the military, the police, the media and civil society groups at times have run their own messaging on Covid-19, sometimes with different emphases.

    Most Indonesians say they trust the military (94%) and President Joko (92%)
    either ‘a great deal’ or ‘somewhat’ to be an accurate and fair source of
    information. Just over half of Indonesians (53%) say they have ‘a great deal’ of
    trust in both the military and the President.

    There are also high levels of trust in scientists and experts (90%) and friends
    and family (88%). Religious organisations and leaders, who have vast memberships
    and many close followers respectively, are trusted by 87% of the population.
    Eight in ten Indonesians trust the police (81%) to be an accurate and fair
    source of information.

    The same number (81%) express trust in local governments, which have often been
    on the frontlines of the Covid-19 response. Media organisations are less
    trusted, with 79% expressing trust in television and radio news, 69% in
    international media and 67% in local newspapers and websites.

    Seven in ten Indonesians (68%) see political parties and elites as trusted
    sources of information. The least trusted sources are celebrities and online
    influencers, who are often used as promotional channels by the government and
    companies keen to tap into their extensive social media following. A bare
    majority of Indonesians (56%) trust them, with only 11% saying they have a great
    deal of trust in them as sources of fair and accurate information.

  +chart(41)
  :marked

    Indonesians are among the world’s most active and enthusiastic social media
    users and, as elsewhere, there is an increasingly heated debate about the
    impacts this is having on society. Some fear that it is a major factor in
    exacerbating existing cleavages in society and promoting the spread of
    falsehoods. Others believe it is more of a positive levelling force, allowing
    people to communicate, share information and do business more freely and with
    fewer gatekeepers.

    Respondents are divided when asked ‘what effect social media has on the way
    things are going in this country today’. Three in ten say that social media’s
    impact is ‘mostly positive’, just under one in five say it is ‘mostly negative’
    and just over half say ‘neither’.

    Nearly eight in ten of those who think social media is a mostly positive
    influence cite the ease of obtaining news and information as their main reason,
    while 5% cite the economic and business benefits and 5% cite the ease of social
    communication.

    Of those who think social media is mostly negative, nearly 70% say their main
    reason is its use for the spread of hoaxes and inaccurate and unaccountable
    information, while 5% say it is damaging young people’s mentality.

    In recent years, the government has increased the pressure on social media
    giants such as Facebook and Twitter to remove information that it claims is
    false. Indonesian media organisations and civil society groups also operate
    various fact-checking initiatives. Three-quarters of respondents (76%) say that
    they are sometimes or often exposed to political news stories that they believe
    to be false or made up. Around 28% say they come across these hoax stories often
    and 48% sometimes, while 6% say hardly ever and 18% never.