extend ../../partials/issue

block prepend config
  - author = "Natasha Kassam"
    
block bio
  :marked
    ***Natasha Kassam*** is Director of the Public Opinion and Foreign Policy Program at the Lowy Institute.

block content
  :marked

    The closure of Australia’s borders — from within and without — has been lauded as the price to pay for keeping Australians safe from the global pandemic. 

    What do Australians think? Until very recently, the human costs of these decisions have been accepted as a matter of pragmatism, driven by a need to act decisively in the health emergency.  

    Public support for Australia’s approach in the first phase of the pandemic was overwhelming. In the annual Lowy Institute Poll, fielded in March 2021, almost all Australians (95 per cent) said Australia had done a good job handling the pandemic. Even more (92 per cent) said Australia’s Covid handling would have a positive influence on Australia’s reputation in the world.
    
    > Both tough borders and a tough approach to the pandemic have been electoral gold — until now.

    This is despite the struggles that Australian citizens abroad have faced returning home. In early September 2021, tens of thousands of Australians are still registered as wanting to repatriate from overseas. Despite this, more than half the population (59 per cent) said in March that the Australian government has done about the right amount in bringing Australians home from overseas. Only a third (33 per cent) said the government had not done enough. 

    In the other direction, Australian citizens have not been allowed to leave without special exemptions. These exemptions have been relatively rare: only eight per cent of applications as of August had been approved on compassionate grounds. 

    Polls have shown majority support — from around seven in ten Australians — for keeping the borders closed until at least mid-2022. For many Australians, vaccination is the condition on which the country should be re-opened. 

    The Lowy Institute Poll showed that 41 per cent of Australians agreed that citizens should not be able to leave the country without applying for special exemptions. However, the same number said vaccinated citizens should be able to leave now, and a further 18 per cent said all Australians should be able to leave now, regardless of their vaccination status. 

    Tough borders have always been good politics. In part, this plays on the anti-migration sentiment that exists within a minority of the country, and a bipartisan need to demonstrate national security credentials.
    
    However, the slow start to the vaccination rollout in Australia, coupled with rolling lockdowns, has taken its toll on Australian sentiment. Further polling from Essential shows that positivity towards the federal government’s handling of Covid has sharply declined by 34 points since March. In August, only 39 per cent of Australians said that the government’s response was good, the lowest rating recorded since the question was first asked in March 2020, when international borders closed.

    As well as growing concern about the government’s handling of the pandemic, Australians are split as to how Covid has changed the country. A Pew poll shows that half of Australians say the country is more united than before the outbreak, while four in ten say the country is more divided.
    
    > This change in sentiment has occurred as much of the developed world finds a new Covid-normal and Australia’s isolation look more conspicuous.

    The flux in state borders has also played a role in this divisiveness. Western Australia’s Premier Mark McGowan said early in the pandemic, “We will be turning Western Australia into its own island, within an island — our own country.” He received some of the highest approval ratings of any Australian politician and a landslide election victory in March.

    Both tough borders and a tough approach to the pandemic have been electoral gold — until now. This change in sentiment has occurred as much of the developed world finds a new Covid-normal and Australia’s isolation looks far more conspicuous. The Australian public can see that. YouGov polling in August found half the country wants restrictions to end when the 80 per cent vaccination target is reached. Only 16 per cent would still prefer for a return to zero-Covid.  

    Only four months ago, Prime Minister Scott Morrison [told](https://www.dailytelegraph.com.au/news/nsw/scott-morrison-says-australia-will-be-closed-to-the-world-for-a-long-time/news-story/1004927db2de0ad9e821cb8622292808) *The Daily Telegraph*, “We sit here as an island that’s living like few countries in the world are at the moment. We have to be careful not to exchange that way of life for what everyone else has.”

    These words have started to take on a very different meaning in an Australia where more than 11 million Australians are in hard lockdown.
