extend /partials/layout

block prepend head
  meta(name="format-detection" content="date=no")
  
block append config
  - page.url = "https://interactives.lowyinstitute.org/features/9-11/"
  - page.image = "https://interactives.lowyinstitute.org/features/9-11/img/thumb.png"
  - page.title = "Did 9/11 change our world?"
  - page.description = "Six experts debate the legacy of September 11, twenty years on."
  - page.metaTitle = `Did 9/11 change our world? - Lowy Institute`
  - page.class = "landing"

block page
  
  include ./partials/_mixins
  include ./partials/_logo
  include ./partials/_credits
  
  a#pdf.flex-ch.text-micro.mr-3.hide-sm.opacity-50.bare.fw-500.hide-sm(
    download href="/features/9-11/downloads/Lowy Institute Debate – Did 9-11 change our world.pdf"
  )
    span.label Download PDF&ensp;
    span.icon.icon-download

  button.scroll-button.flex-ch.text-mini.mr-3.hide-sm
    span.label Scroll down
    +arrow(90)
    
  button.scroll-button.flex-ch.text-mini.disabled.hidden
    span.label
      span.hide-sm Jump to<br>
      span essays
    +arrow(90)
  
  #title.text-mini
    .text-mini.mb-4 Lowy Institute
    .bare Septembe&zwj;r 11<br>
    span(style="letter-spacing: .2em;opacity:.65") 20 Years on
    hr(style="border-color: #969ba4")
    #subtitle
      em.block.mb-2 Did 9/&zwj;11 change our world?<br>
      span(style="letter-spacing:.29em;opacity:.65") Six experts debate the legacy of Septembe&zwj;r 11
  
  #scroller(data-scroll-container)
        
    #slide-0.landing-slide(data-scroll-section)
      #landing-img(
        data-scroll
        data-scroll-speed="-11"
        data-scroll-repeat
        data-scroll-call="hide"
      )
        img(src='./img/towers.png')

    #slide-1.landing-slide(data-scroll-section)
      .flex.absolute.inset-0(style="top: 0%; height: 400px")
        img.mx-auto(data-scroll data-scroll-speed="1" width="20%" height="auto" src='./img/smoking.jpg')
        img.mx-auto(data-scroll data-scroll-speed="3" width="20%" height="auto" src='./img/victims.jpg')
        img.mx-auto(data-scroll data-scroll-speed="1" width="20%" height="auto" src='./img/bush.jpg')
      .flex.absolute.inset-0(style="z-index: 1; top: 33%; height: 300px")
        img.mx-auto(data-scroll data-scroll-speed="8" width="300" height="auto" src='./img/bin-laden.jpg')
        //- img.mx-auto(data-scroll data-scroll-speed="14" width="300" height="auto" src='./img/cave.jpg')
          //- img.mx-auto(data-scroll data-scroll-speed="8" width="300" height="auto" src='./img/situation.jpg')
      .flex.absolute.inset-0(style="top: 50%; height: 400px; z-index: 1")
        img.mx-auto(data-scroll data-scroll-speed="4" width="35%" height="auto" src='./img/afghan.jpg')
        img.mx-auto(data-scroll data-scroll-speed="4" width="35%" height="auto" src='./img/girl.jpg')

      
    #slide-2.landing-slide(data-scroll-section)
      .content(data-scroll data-scroll-repeat)
        h1.type(data-view="type, in-viewport" delay="250")
          .line Introduction
        .type.text-mini.mb-4(data-view="type, in-viewport" delay="250")
          .line By Lydia Khalil
        .delay-1500.fade.opacity-0(fold data-scroll data-scroll-offset="20%")
          :marked
            In 2001, Afghanistan was ruled by the Taliban. They governed the country through rigid interpretations of Islamic law and were notorious for their human rights abuses and abhorrent attitudes and rules restricting the freedom of women. They had also given sanctuary to al-Qaeda, a transnational jihadist terrorist organisation that had opposed the United States and its military presence in the Muslim world. It was from the mountains of Afghanistan and the border cities along the Afghanistan–Pakistan border that Osama bin Laden and senior al-Qaeda operatives conceived of and launched the Septem&zwj;ber 11 attacks against the United States — hijacking domestic aircraft and flying them into targets including the World Trade Center towers in New York and the Pentagon in Washington, DC. It was the most successful and spectacular terrorist attack ever conducted. It was also the largest attack by a foreign entity on US soil, at a time when the United States was, arguably, at the peak of its power.
            
            In response, on 7 October 2001, the United States launched Operation Enduring Freedom to rid Afghanistan of the Taliban and al-Qaeda. This began a two-decade campaign of military involvement in Afghanistan where the mission expanded into reconstruction and nation-building by transitioning to an elected Afghan government so that the country would never again be used as a terrorist safe haven.  It also spawned the War on Terror — a global, US-led military and intelligence effort that spanned several conflicts and campaigns.
            
            However, Operation Enduring Freedom never managed to completely rout the Taliban. Four US presidential administrations, multiple Afghan governments, trillions of dollars, and many thousands of lives later, freedom has not endured in Afghanistan, but the Taliban certainly have. In a cruel symmetry, almost 20 years to the day — after US President Joe Biden announced the unconditional withdrawal of US troops following negotiations with Taliban forces — the Taliban is once again in control of the country.
            
            The world is now left asking, what was it all for? The United States’ intervention in Afghanistan — despite gains made in expanding rights for women, and educational and economic opportunities — did not achieve its broader strategic goals and laid bare the limits of American military power.
            
            Al-Qaeda, too, had world-changing ambitions when it carried out the Septem&zwj;ber 11 attacks. For al-Qaeda, the attacks were not merely an act of vengeance against the United States, they were part of a broader campaign of violence targeting the United States and its allies to undermine the nation state system, which, they believed, would usher in a global caliphate to unite the world’s Muslims. Like the United States’ Operation Enduring Freedom and the broader War on Terror, bin Laden’s wider geostrategic aims remain unfulfilled. But did the 9/11 attacks and the ensuing War on Terror have other far-reaching consequences?
            
            The coordinated operation committed by al-Qaeda against the United States on Septem&zwj;ber 11, 2001 was an extraordinary attack and a major point in history. It is often perceived as a world-defining event — similar to the assassination of Archduke Franz Ferdinand, the launch of Sputnik, or the fall of the Berlin Wall. But what legacy did the Septem&zwj;ber 11 attacks have if the strategic objectives of neither the United States nor al-Qaeda were met? Did the aftermath of the spectacular, coordinated attacks and the ensuing War on Terror create a paradigm shift in the international system that still reverberates today? If so, how? If not, what were the more significant effects and trends that have shaped international relations and global power politics today? Did the War on Terror not only upend US foreign and national security policy, but have deeper, more far-reaching consequences on global affairs? 
            
            These are the questions we posed to six experts, asking them to assess the legacy of the 9/11 attacks 20 years on.
            
            In many ways, the world has moved on from 9/11. There are new preoccupations and challenges —great power competition between the United States and China, the COVID pandemic, disinformation and democratic decline, and the imperatives of addressing climate change, along with the territorial defeat of the Islamic State caliphate in 2017, have all shifted terrorism down the priority list. And yet, the world still lives under the long shadow of the Septem&zwj;ber 11 attacks and the consequences of the War on Terror.
            
            Preoccupation with counterterrorism and military interventions as part of the global War on Terror overrode other concerns held by governments around the world. The War on Terror was one of the few mechanisms that animated global cooperation. At the same time, there have been momentous global transformations — including rapid advances in technology, a rise in economic inequality, and significant shifts in the global balance of power — that may have obscured the continuing influence of 9/11 and the War on Terror. After two decades, it is important to properly understand the impact of the 9/11 attacks and the War on Terror on global affairs.
            
            We asked our experts, “Did 9/11 change our world? If so, how? If not, what did?” After each of their responses to these questions, editor Lydia Khalil challenges the experts with questions that delve deeper into their rationales and reasons.


        #submenu.fixed.flex-ch.text-mini.txt-center.content
          a.flex-1.bare.current(unfold href="#") Read more
          a.flex-1.bare(href="#" scroll-to-menu) Expert essays
          
    #slide-3.landing-slide.flex-cv(data-scroll-section)
      include ./partials/_menu

block append css
  style: include:sass ./styles/_app.sass

block append scripts
  script
    include ./scripts/locomotive-scroll.js
    include:coffee ./scripts/utils.coffee
    include:coffee ./scripts/base.coffee
    include:coffee ./scripts/landing.coffee
    include:coffee ./scripts/type.coffee
  
  
