extend /partials/layout

block append config
  - page.url = "https://interactives.lowyinstitute.org/features/9-11/"
  - page.image = ""
  - page.title = "9/11 – 20 years on."
  - page.description = "9/11 – 20 years on.";
  - page.metaTitle = `${page.title} - Lowy Institute`
  - page.class = "landing"

block page
  
  include ./partials/_logo
  include ./partials/_mixins
  
  button.scroll-button.flex-ch.text-mini.hide-sm
    span.label Scroll<br>down
    +arrow(90)
    
  button.scroll-button.flex-ch.text-mini.disabled
    span.label
      span.hide-sm Jump to<br>
      span essays
    +arrow(90)
  
  #title.relative.text-mini
    | Assessing the impact of 9/11<br>
    span.txt-muted 20 Years on
  
  #scroller(data-scroll-container)
    
    #slide-0.landing-slide(data-scroll-section)
      #landing-img(
        data-scroll
        data-scroll-speed="-11"
        data-scroll-repeat
        data-scroll-call="hide"
      )
        img(src='./img/towers.png')

    #slide-1.landing-slide(data-scroll-section)
      .flex.absolute.inset-0(style="top: 0%; height: 400px")
        img.mx-auto(data-scroll data-scroll-speed="1" width="20%" height="auto" src='./img/smoking.jpg')
        img.mx-auto(data-scroll data-scroll-speed="3" width="20%" height="auto" src='./img/victims.jpg')
        img.mx-auto(data-scroll data-scroll-speed="1" width="20%" height="auto" src='./img/bush.jpg')
      //-.flex.absolute.inset-0(style="z-index: 1; top: 25%; height: 300px")
        img.mx-auto(data-scroll data-scroll-speed="8" width="300" height="auto" src='./img/bush.jpg')
        img.mx-auto(data-scroll data-scroll-speed="12" width="300" height="auto" src='./img/bin-laden.jpg')
        img.mx-auto(data-scroll data-scroll-speed="14" width="300" height="auto" src='./img/cave.jpg')
        img.mx-auto(data-scroll data-scroll-speed="8" width="300" height="auto" src='./img/situation.jpg')
      .flex.absolute.inset-0(style="top: 45%; height: 400px; z-index: 1")
        img.mx-auto(data-scroll data-scroll-speed="4" width="35%" height="auto" src='./img/afghan.jpg')
        img.mx-auto(data-scroll data-scroll-speed="4" width="35%" height="auto" src='./img/girl.jpg')

      
    #slide-2.landing-slide(data-scroll-section)
      .content(data-scroll data-scroll-repeat)
        h1.type(data-view="type, in-viewport" delay="250")
          .line Introduction
        .type.text-mini.mb-4(data-view="type, in-viewport" delay="250")
          .line By Lydia Khalil
        .delay-1500.fade.opacity-0(data-scroll data-scroll-offset="20%")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia reprehenderit sunt voluptatibus perferendis, aut accusamus dicta, velit. Veniam, impedit omnis?
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, eligendi rerum velit quam voluptatem aperiam quasi iste, alias tempore corrupti unde reiciendis cumque molestiae! Consequuntur reprehenderit tempore itaque, esse delectus.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet possimus explicabo, reiciendis incidunt, omnis culpa dicta hic illo nisi cum quo at? Vero doloremque, at odio. Incidunt numquam alias cumque ullam, sequi corporis explicabo ipsum quis! Eveniet, veritatis iste eum.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sint cum modi fugiat officiis quae alias fuga illum aliquid accusantium!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam molestias necessitatibus animi, soluta molestiae, dignissimos ab libero aliquid pariatur nesciunt quas. Illum voluptatem officia officiis fuga cumque iure labore, in omnis ratione explicabo. Optio vero, ullam. Enim tempora, soluta eum!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet possimus explicabo, reiciendis incidunt, omnis culpa dicta hic illo nisi cum quo at? Vero doloremque. Incidunt numquam alias cumque ullam, sequi corporis explicabo ipsum quis! Eveniet, veritatis iste eum.

    #slide-3.landing-slide.flex-cv(data-scroll-section)
      include ./partials/_menu

block append css
  style: include:sass ./styles/_app.sass

block append scripts
  script
    include ./scripts/locomotive-scroll.js
    include:coffee ./scripts/utils.coffee
    include:coffee ./scripts/base.coffee
    include:coffee ./scripts/landing.coffee
    include:coffee ./scripts/type.coffee
  
  
