.slide.bg-dk
  .posr.fw.fh.flex(data-view="in-viewport")
    .slide-inner.txt-ff
      .type.txt-md.txt-left.posa.fade-in(
        data-view="slide, in-viewport"
        data-duration=1600,
      )
        h2 One-China Policy vs One-China Principle

    .posa.fw.fh(style={
      "z-index": -1,
      top: 0
    })
      .posa.fade-in.fw.fh.delay-4
        include ./img/one-china-map.svg

      #diff.posa.fade-in.delay-10.txt-ff
        h3.hide The differences
        p Australia’s <strong>one-China policy</strong> recognises the Government of the PRC as the sole legal Government of China. Yet unlike China’s one-China principle, Australia’s one-China policy takes no position on whether Taiwan is or ought to be part of the PRC. Instead, Australia, like the United States and a range of other countries with one-China policies, only acknowledges without endorsing the PRC’s position on Taiwan. Australia has for decades combined its recognition of the PRC as the sole legal Government of China with building ties with Taiwan in the trade, political, people-to-people, cultural, and security arenas. Like numerous other countries that maintain various configurations of one-China policies, recognition of the PRC does not mean disengaging from Taiwan. <sup>[3]</sup>

      #aus.posa.fade-in.delay-8.txt-ff
        h3.hide Australia       
        p.hide The foundation of Australia’s <strong>one-China policy</strong> as articulated in the 1972 Joint Communiqué establishing diplomatic relations with the People’s Republic of China (PRC):
        span “The Australian Government recognises 
        span.bg-hl the Government of the People’s Republic of China as the sole legal Government of China
        span , 
        span.bg-hl2 acknowledges the position of the Chinese Government that Taiwan is a province of the People’s Republic of China
        span , and has decided to remove its official representation from Taiwan before 25 January 1973.” <sup>[2]</sup>

      #china.posa.fade-in.delay-6.txt-ff
        h3.hide China       
        p.hide China’s <strong>one-China principle</strong> as articulated by the Chinese Ministry of Foreign Affairs in 2022: 
        span “The one-China principle has a clear and unambiguous meaning, i.e., there is but one China in the world, 
        span.bg-hl Taiwan is an inalienable part of China
        span , and 
        span.bg-hl the Government of the People’s Republic of China is the sole legal Government representing the whole of China.”
        span  <sup>[1]</sup>
          

script(src="script.js")

block append css
  style
    :sass
    
      body
        background: #fff
        font-family: Cond, sans-serif
      .slide
        height: 850px
        border: 0
      .slide-inner
        width: 100%
        padding: 32px
        height: 800px
      #diff,#aus,#china
        border: 1px solid #ffffff44
        padding: .5rem
        background: #05182466
      #diff
        bottom: 32px
        right: 32px
        width: auto
        margin-left: 32px
      #aus
        top: 280px
        right: 32px
        width: 35%
      #china
        top: 32px
        right: 32px
        width: 35%
      #aus h3:after
        content: ''
        display: inline-block
        width: 22px
        height: 13px
        background: url('./img/australia-flag-icon.png') no-repeat 0 0
        background-size: cover
        position: relative
        top: 1px
      #china h3:after
        content: ''
        display: inline-block
        width: 22px
        height: 13px
        background: url('./img/china-flag-icon.png') no-repeat 0 0
        background-size: cover
        position: relative
        top: 1px
      .bg-hl
        background: none
        text-decoration: underline
        text-underline-offset: .125rem
        text-decoration-color: #1fb3ab
        text-decoration-thickness: 3px
      .bg-hl2
        background: #0a7171
        text-decoration: underline
        text-underline-offset: .125rem
        text-decoration-color: #1fb3ab
        text-decoration-thickness: 3px
      .bg-dk
        background: #002237
      h2
        font-weight: 700
      h3
        text-transform: uppercase
        font-weight: 400
        letter-spacing: .12rem


      @media (max-width: 992px)
        body
          font-size: 15px
        

      @media (max-width: 450px)
        .slide,
        .slide-inner
          padding: 12px
        #diff
          bottom: 0
          right: 0
          width: auto
          margin-left: 0
        #aus
          top: 160px
          right: 0
          width: auto
          position: relative
        #china
          top: 36px
          right: 0
          width: auto
        img
          object-fit: contain
        .hide
          display: none
        body
          font-size: 14px
        svg
          margin: 320px 0

      @media print
        #diff,#aus,#china
          border: 0px
          background: #fff
          color: #333
        .bg-hl
          border-bottom: 1px solid #008080
          background: #00808033
        .bg-hl2
          border-bottom: 1px solid #6a5acd
          background: #6a5acd33
