extend ../../partials/_essay

block prepend config
  - author = "Wing Thye Woo"

block append body
  :marked
    
    In “[How America Can Shore up Asian Order](https://www.foreignaffairs.com/articles/united-states/2021-01-12/how-america-can-shore-asian-order)”, Kurt Campbell and Rush Doshi identify the United States as “the original architect and longtime sponsor of the present system” and attribute its 40-year life to the balance of power, acceptance of its legitimacy by countries within the region, and America’s “long-standing commitment to forward-deployed military forces”. They essentially recommend linking the military power of the Quad with Southeast Asian states to deter China from changing the status quo.  

    Yet the “balance” in the system only ever existed in the form of military confrontation between US allies and the communist states in the region, for example on the Korean Peninsula. Within the East Asian capitalist world, order took the form of hegemonic stability based on a power imbalance between the United States and its local partners. 

    Overwhelming US economic and military force, rather than accepted legitimacy, provides the basis for regional architecture. The United States designed the global institutional architecture and then amended it, selectively and unilaterally. Examples include the US dollar being designated the linchpin of the Bretton Woods Monetary System in 1944, and Nixon’s closure of the gold window in 1971, [without consulting any US ally](https://asia.nikkei.com/Editor-s-Picks/Interview/Nixon-shock-still-haunts-Japan-ex-financial-diplomat-Gyoten).  

    Campbell and Doshi’s plea for the maintenance of the existing system rests on the proposition that it has generated immense benefits and would continue to do so in the future. This linear projection ignores the dependence of the institutional infrastructure on the economic structure. The latter is changing with the tremendous expansion and transformation of China’s economy and its continued dynamism, likely further technological innovations that promise certain disruption of present supply chains, as well as accelerating climate change and loss of biodiversity. 

    In this context, the institutional framework that best maximises collective welfare would be guided by the 17 [Sustainable Development Goals](https://sdgs.un.org/) (SDGs) rather than the extreme free market policies which constitute the purported [gold standard](https://www.washingtonpost.com/politics/2016/live-updates/general-election/real-time-fact-checking-and-analysis-of-the-first-presidential-debate/fact-check-clinton-dod-call-tpp-the-gold-standard/) in recent trade agreements.

    The current regional operating system was designed for a hegemonic age rather than the emerging era of multipolarity. A multipolar order is more likely to benefit Southeast Asia than not, especially if China stops enlarging its military footprint in the South China Sea and uses its Belt and Road Initiative to support sustainable development in Southeast Asia.

    To avoid bipolar disorder, China should understand that adopting the United States as its great power role model would lead it to establish [almost 800 military bases in over 70 countries](https://www.politico.com/magazine/story/2015/06/us-military-bases-around-the-world-119321/), an outcome that would increase the probability of an accidental war. For its part, the United States should recognise the growing incompatibility between the global institutional superstructure and the facts (and boots) on the ground, and its consequent ratcheting up of resentment in China. 

    Southeast Asia wants any new operating system for the Indo-Pacific order to be biased towards solving disputes diplomatically rather than militarily. It does not want an expansion of US military alliances from Northeast Asia into Southeast Asia. This would be as provocative to China as the expansion of NATO into Eastern Europe was to Russia. That provocation helped precipitate Ukraine’s civil war and the forced return of Crimea to Moscow. Only two Southeast Asian countries were members of [SEATO](https://history.state.gov/milestones/1953-1960/seato) during the Cold War and none would join a revived version of it today. 

    Southeast Asia wants regional arrangements that address the national security concerns of both China and the Quad without disadvantaging either. Freedom of navigation for aircraft carrier groups in the South China Sea is fine, but none should linger in the area. The United States has military bases in the islands of Northeast Asia, and China has them in the islands of the South China Sea. Southeast Asia demands a freeze on the building and strengthening of military bases. 

    Southeast Asia wants a regional order based on [international laws and not on rules unilaterally set by either world power](https://www.project-syndicate.org/commentary/china-territorial-claims-asean-talks-by-wing-thye-woo-and-chin-tong-liew-2016-07). The operating system for the Indo-Pacific order must incorporate circuit-breakers for dispute resolution in the form of compulsory dispute arbitration managed by neutral regional/global bodies like the International Court of Justice and UN agencies, and include commitments by China and the Quad to keeping Southeast Asia a nuclear-weapons-free-zone (SEANWFZ) and a Zone of Peace, Freedom and Neutrality (ZOPFAN). 

    Sadly, Southeast Asia is unlikely to get the regional architecture that is best for its sustainable development because an [elephant does not take the interests of grass into account](https://thediplomat.com/2021/09/aukus-the-view-from-asean/) when moving to a more [advantageous location](https://www.cnbc.com/2021/09/27/analysts-on-chinas-bid-to-join-cptpp-strategic-competition-with-us.html) in its confrontation or dalliance with another elephant. Many in Southeast Asia have therefore looked to the European Union (EU) to learn how states can overcome obstacles to regional integration and gain more collective agency. The first signs are optimistic, both the United States and China have followed the EU in accelerating the decarbonisation of their societies.  

    This last observation allows me to end on an optimistic note about regional partnerships and sustainable development [goals](https://www.un.org/sustainabledevelopment/globalpartnerships/). If enlightened self-interest succeeds in creating a cohesive ASEAN Union, then perhaps Southeast Asia will in the near future be able to advise the United States on how to formulate a regional operating system for the Americas based on consulting its entire membership about what it wants, and then, by setting an example for US-China engagement, about how to reap mutual economic benefits while addressing national security concerns.


block append qanda
  :marked
    
    Coming soon.
