extend ../../partials/post
include ../../partials/accordion

block prepend config
  - href = "ang"

block content
  :marked

    As a rising global power, China has been eager to share lessons from its
    development success around the world — and the most obvious of those, it seems,
    is on export manufacturing. Justin Yifu Lin, former chief economist at the World
    Bank and an influential policy advisor in China, urges developing countries to
    “follow the tried and tested path to prosperity”. They should leverage their
    comparative advantage in labour-intensive, low-wage manufacturing (e.g.,
    garments and toys) and then gradually move up the global value chain.
    Furthermore, he adds, they should build export zones and industrial parks like
    those in China.

    There is no doubt that export manufacturing will remain a key growth driver
    among developing countries given its potential to generate mass employment for
    the rural population who can send wages home, urbanise, and eventually enter the
    ranks of middle-class consumers. But times have changed since the peak growth
    period in East Asia. In Southeast Asia today, specialising in export
    industrialisation alone will not be enough and will render such economies
    vulnerable to external shocks. Diversification is now the zeitgeist.

    The current developmental state model grew out of a particular combination of
    global factors. The “long peace” in the seven decades after the Second World War
    centred on a US-led global order. (Although in certain parts of Asia, such as
    Vietnam, the Cold War boiled over into devastating conflict.) To draw and build
    on alliances during this period, the United States spearheaded a liberalisation
    of the world economy. Newly industrialised economies could benefit from open
    market access in developed economies while protecting their own industries. The
    fall of the Soviet Union in 1991 and the creation of the World Trade
    Organization (WTO) in 1995 further expanded global trade. China grew explosively
    after it joined the WTO in 2001.

    The twentieth-century global order has today been upended in several ways.
    First, developed economies have gone from championing globalisation to resisting
    it. In the United States, the Trump administration promised to bring
    manufacturing jobs home under the banner of “America First”. Although President
    Joe Biden has reversed many of his predecessor’s policies, he maintains the same
    course on trade protectionism. This wave of de-globalisation has been
    exacerbated by the pandemic and geopolitical tensions between the United States
    and China. A “decoupling” of the superpowers may transfer some manufacturing
    from China to Southeast Asia, but it also brings unpredictability for countries
    that trade extensively with the two giants.

    Second, the effects of climate change and ecological crises are becoming more
    critical by the year. Southeast Asia is especially susceptible to rising sea
    levels and widespread flooding. There is no point building sprawling industrial
    parks if parts of Ho Chi Minh City and Bangkok will be under water in the coming
    decades. Indeed, Indonesia has announced plans to move its capital from the
    sinking metropolis of Jakarta. Whereas “green” development used to be a goal
    that countries strove for once they reached a sufficient level of wealth,
    developing countries today must prioritise sustainability and
    decarbonisation now. As we have learned from China’s ongoing energy crunch,
    balancing growth with carbon emissions reduction is not easy.

    Third, technological disruptions are bringing a mixture of peril and promise to
    Southeast Asia. On the one hand, automation threatens to eliminate numerous
    labour-intensive manufacturing jobs. On the other hand, the increased use of the
    internet and mobile phones — spurred by lockdowns during the pandemic — has
    spawned new businesses and industries, from e-commerce and ride-hailing apps to
    fintech and edtech. This provides unprecedented opportunities for Southeast
    Asian countries to partially leapfrog past manufacturing and into a range of
    technology-enabled services. Kevin Aluwi, the CEO of Gojek, an Indonesia-based
    technology company, declared in 2021, “We’re about to enter the golden age of
    technology companies in Indonesia and the rest of Southeast Asia.”

    All of these ongoing disruptions compel a drastic rethinking of national
    development strategies in Southeast Asia. Economic specialisation is being
    replaced by diversification. Furthermore, climate change mitigation and
    technology must be at the heart of any development plan.

    Working with the United Nations Development Programme, I saw these shifts in
    action in Cambodia. In 2018, the government of Cambodia unveiled the
    “Rectangular Strategy” — a four-pronged development vision for 2050. One of the
    pillars is economic diversification, which includes developing new sources of
    growth, promoting banking and finance, preparing for the digital economy and
    fourth industrial revolution, and improving the logistics system. According to
    the report, the Cambodian economy needs to diversify in order to be “resilient
    to shocks”. Policymakers also recognised that as Cambodia graduates from least
    developed country (LDC) status, it will no longer enjoy the trade benefits that
    it used to have.

    But while there is a well-trodden path in export manufacturing and abundant
    experience in designing industrial policies for economic specialisation, there
    is no established playbook for diversification. What should diversification
    entail? What is the right mix of sectors and services in a diversified economy?
    What can governments do to support diversification? How can developing countries
    simultaneously conserve the environment and produce growth while they are not
    yet rich?

    These are new challenges and questions for which there are no easy or clear
    solutions. The scholarly literature has not yet noticed, let alone responded to,
    these disruptions. Stephan Haggard’s primer, Developmental States, for example,
    does not once mention “economic diversification” as a national strategy, or the
    words “digital” or “climate change”.

    The first step of adaptation is to recognise that conditions have changed. The
    modern world is in a new chapter of “development”, with new priorities,
    dilemmas, dangers, and opportunities. We must change the questions we ask before
    we can find the right answers.

    ## Challenge questions

  +accordion("What role should industrial policy play in Southeast Asia in meeting these new challenges?", "<p>Industrial policy is a term that is often debated but seldom defined. Specifically, it means government policies to support selected industries that are considered strategically important. On industrial policy, there is no one-size-fits-all answer for Southeast Asia, which includes countries with very different socio-economic conditions and economic activities. Diversification and building climate resilience do not amount to an “industrial policy”, as I understand it. These should be considered part of an overarching national paradigm that defines the goals and priorities of development. This may involve selecting industries as a policy tool.</p><p>The basic formula for export-led manufacturing does not differ significantly around the world. It includes focusing on areas of competitive advantage (e.g. wage-intensive, low-cost manufacturing) and having governments who promote industrialisation by providing political stability, low-wage labour, and infrastructure.</p><p>As Joseph Wong argues in his book, <em>Betting on Biotech</em>, this model reaches its limits when governments attempt to promote uncertain industries, such as biotech, because they cannot predict success accurately and plan ahead. Technocracies will always be indispensable for reliable policy implementation, but dealing with uncertainty (climate change) and multifaceted social problems (inequality) are qualitatively different tasks. I would argue that Deng Xiaoping’s “directed improvisation” system would be a suitable model for this new environment because it relies on the government to direct rather than plan and dictate, while encouraging local actors to discover indigenous solutions to local problems. I introduce this model in depth in <em>How China Escaped the Poverty Trap</em>.</p>")
  
  +accordion("Should Southeast Asia follow China in emphasising higher quality growth and common prosperity?", "<p>In principle, of course! One of the United Nations’ Sustainable Development Goals (SDG) is “inclusive growth”, which President Xi Jinping’s leadership calls “common prosperity”. The challenge is how to achieve high-quality, inclusive growth at early stages of development, when income is low, capacity is weak, and there are not enough resources to go around. For instance, many low-income countries rely on low-wage manufacturing and ignore environmental and labour regulations in order to gain a competitive edge. If they follow standards of high-quality growth, their model — which countries in East Asia and China have pursued to achieve rapid industrialisation — will be unacceptable. By contrast, Bhutan is a poor country, but it has equality and pristine ecology; normatively, the country is willing to accept low growth for the non-financial benefits that its policies bring. To be clear, I am not saying that Southeast Asia should give up on inclusive growth. I am saying we need to be realistic and recognise the trade-offs and hard choices that governments must make, otherwise “inclusive growth” will just be a slogan.</p>")