@import app/static/features/indonesia-poll/styles/_vars.sass

.landing-block
  padding-top: $h-nav

.img-caption
  position: absolute
  background: black
  bottom: 0
  right: 0
  
  a:hover
    color: #ddd

article
  color: black
  padding: 4rem
  line-height: 1.7
  font-family: "Sans"
  max-width: 100%

article,
.w-article
  margin: 0 auto
  width: $w-article

aside
  @media (min-width: $screen-tablet)
    max-height: 650px

.article
  
  hr
    margin: 36px 0 37px
  
  .title
    font-size: 28px
    
  // .title-block
  //   border-top: 1px solid #fff4

    .tag
      font-size: 13px
      text-shadow: none
    
  .btn-wrap
    top: unset
    bottom: 1.5rem
    
  blockquote
    border-top: none
    border-bottom: none
    border-left: 2px solid $color-dk
    padding: .5em 1.5em
    font-style: italic
    font-weight: 500
    margin: 0.25em -25% 0.25em 2em
    font-size: 20px
    color: inherit
    float: right
    width: 50%
    
    &.w-full
      float: none
      width: auto
      margin: 1.5em 0
    
    p
      line-height: 1.4


@media (max-width: $screen-tablet)
  
  article
    padding: 4rem 2rem
    
  .article

    blockquote
      float: none
      width: 100%
      margin-left: 0
      margin-right: 0
