@import app/static/features/indonesia-poll/styles/_vars.sass

header
  width: 100%
  margin: auto
  height: $h-nav
  padding: 1.5rem
  transition: all 300ms

  .landing &
    position: absolute
  
  a
    &:hover,
    &:focus
      color: inherit

#header-logo
  font-weight: 700
  line-height: 1
  width: 120px

  >
    transition-duration: 0.3s

  .article &
    .wordmark
      height: 0
      overflow: hidden

  // .visible &
    // .wordmark
      // height: 30px

#progress
  top: 0
  left: 0
  height: 6px
  z-index: 20
  position: fixed
  background: $color-hl

@media (max-width: $screen-tablet)
  
  header
    padding: 0 1.5rem!important
    .container
      position: relative
    .header-logo
      display: none
    .header-title
      left: 0
      text-align: left