@import app/static/features/indonesia-poll/styles/_vars.sass
  
#map-wrap
  animation: tilt 22s cubic-bezier(0.25, 0, 0.75, 1.01) infinite 
  transform-style: preserve-3d

  @keyframes tilt
    0%
      transform: rotateX(0deg) rotateZ(0deg) translateX(20px) scale(1)
    33%
      transform: rotateX(35deg) rotateZ(0deg) translateX(20px) scale(1.2)
    67%
      transform: rotateX(32deg) rotateZ(4deg) translateX(20px) scale(1.15)
    100%
      transform: rotateX(0deg) rotateZ(0deg) translateX(20px) scale(1)

  svg
    transform-style: preserve-3d
    max-width: $w-content
    margin: auto
    position: absolute
    top: 40%
    left: 0
    right: 0

  @for $i from 10 through 1
    $intensity: 1 + $i * 0.225
    .level-#{$i}
      fill: rgba(1 * $intensity, 43 * $intensity, 69 * $intensity, 0.9)
      transform: translateZ($intensity * $intensity *  -.4px)

body.landing
  background-color: $color-dk
  color: $color-ff

  .cover-img
    background-size: contain
    background-position: right bottom
    background-repeat: no-repeat

  .title
    margin-top: 5rem
    margin-bottom: 0.25rem
  
  a:focus,
  a:hover
    color: inherit
    
    svg
      fill: none
      stroke: white
      
  #introduction
    .col-2-5
      justify-content: flex-end
      padding-bottom: 0
      
  #read-more
    z-index: 2
    align-self: center
    padding: .5rem 1.5rem
    margin: 0 0 1rem
    border-radius: .25em
    display: inline-flex
    transition: background .3s
    background: lighten($color-dk, 5)
    
    &:hover
      background: lighten($color-dk, 10)
  
@media (max-width: $screen-tablet)
  
  #introduction
    height: auto
    padding: 3rem 0 0
    
    .col-2-5
      border-right: 0
    
    .scroller
      height: auto
    .scroller-inner
      top: unset
      left: unset
      right: unset
      bottom: unset
      padding: 0
      position: relative
    .gradient-overlay:after
      display: none
