@import app/static/features/indonesia-poll/styles/_vars.sass

h1,h2,h3
  font-family: "Semi"
  
h1
  font-size: 3rem
  font-weight: 400
  line-height: 1
  
  article &
    font-weight: 500
    line-height: 1.2
    
  #menu &
    font-size: 2.5rem

h2
  font-size: 1.8rem
  
h3
  font-size: 1.3rem

p > a
  text-decoration: none
  background: linear-gradient(to bottom, transparent 0, rgba($color-hl, 0.7) 0, rgba($color-hl, 0.7) 1px, transparent 1px)
  background-repeat: repeat-x
  background-position: 0 1.05em

strong, .txt-tu, .caption
  font-family: Sans
  font-weight: 600
  font-style: normal
  letter-spacing: 0.02em

.txt-sans
  font-family: Sans, sans-serif

.txt-cond
  font-family: Cond, sans-serif

.upper,
.txt-mini,
.txt-micro,
.txt-nano
  text-transform: uppercase
  letter-spacing: .05em
  
.txt-mini
  font-size: 15px

.txt-micro
  font-size: 13px

.txt-nano
  font-size: 11px
  font-weight: 700
  
// Font size
.txt-xxl
  font-size: 60px
.txt-xl
  font-size: 36px
.txt-lg-lh
  font-size: 28px
  line-height: 1.5
  margin: 0
  letter-spacing: -0.01em
.txt-lg
  font-size: 28px
.txt-md
  font-size: 24px
.txt-mmd
  font-size: 20px
.txt-sm
  font-size: 14px
  font-family: Sans, sans-serif

.txt-links
  font-size: 40px
  line-height: 48px
  margin-top: -4px

.lead-tightest
  line-height: 1
.lead-tight
  line-height: 1.2

.fw700
  font-weight: 700
.fw600
  font-weight: 600
.fw500
  font-weight: 500
.fw400
  font-weight: 400
