// Vars
$color-xhl: #0b93e2
$color-hl: #0b93e2
$color-dk: #002b45
$color-lt: #e9eaef
$color-ff: #fff
$color-mt: #7c94a2

$h-nav: 60px
$h-footer: 90px
$h-footer-sm: 60px
$screen-tablet: 1000px

$w-article: 750px
$w-content: 1100px

$spectrum: #6c6dd1 #9565B2 #BD5D92 #E35675 #D95C6E #F47059 #ee8820 #A3BC3E #4CAF50 #46AE7C #3FADA8 #3ab4dc #3B9BDA #3B81D8 #245E94 #0C3A51
