#chart-4
  &.chart-wrapper
    height: 550px

  .chart-content
    position: absolute
    top: 20px
    left: 50px
    right: 20px
    bottom: 40px

  .chart-content > svg
    border-bottom: 1px solid #bbb

  .chart-title
    font-size: 24px
    padding-left: 1rem
    
  .chart-subtitle
    height: 12px
    margin-top: -12px
    font-size: 16px

  li
    list-style: none
    margin: 0
    padding: 4px 16px 4px 24px

  .legend
    font-size: 15px
    margin-bottom: .75em

  .legend-item
    margin: 4px 8px 0
    padding-right: 0
    position: relative
    white-space: nowrap

  .legend-item-box
    position: absolute
    left: 0
    top: .5em
    height: 1em
    width: 1em
    background: black

  text
    font-size: 14px
    fill: currentColor

  svg
    overflow: visible
    
  .chart-notes, .chart-source
    margin-left: 2em
    font-size: 15px
    
  .chart-value
    opacity: 0
    transition-duration: .4s
    pointer-events: none
  
  .chart-content:hover .chart-value
    opacity: 1

  hr
    margin: 24px 0 16px

  @media (max-width: 700px)
    
    .x-label text
      text-anchor: end
      transform: rotate(-45deg) translate(-8px, 14px)

    text
      font-size: 13px
      
  @media (max-width: 450px)
    .chart-content
      bottom: 40px
    .legend
      flex-direction: column
    .chart-title
      font-size: 18px
    .chart-subtitle
      font-size: 14px
    .chart-notes,
    .chart-source
      text-align: center
      font-size: 13px
