.row
  .col-1-2
    .block.ph-sm
      :marked
        The Lowy Institute was established by [Sir&nbsp;Frank&nbsp;Lowy](https://www.lowyinstitute.org/people/executive-directors/bio/frank-lowy) in 2003 to commemorate the 50th anniversary of his arrival in Australia by giving back to the country that had embraced him and his family. A keen student of history and international affairs, he wanted to deepen the Australian debate about the world and give Australia a greater voice in the world.
