.row.row-sm
  .col-1-2.bg-b-lt
    .bg-img.of-hidden
      include ../../img/map.svg

  .col-1-2.bg-b-lt
    blockquote.txt-md
      p "the goal of the Lowy Institute was to give Australia a bigger voice on the issues that matter in global affairs…”
      cite.txt-sm Sir Frank Lowy

    .block.fade-in.delay-4
      img.bg-img.fl-tn(style="border:1px solid rgba(255,255,255,.5)" data-src="./img/sir-frank-lowy-crop-mono.jpg" alt="Sir Frank Lowy")
