.row
  .col-fw.flex-ch(style="gap: 4rem")
    #animated-map.fade-in(style="transition-duration: 1s")
    .flex-col
      blockquote.txt-cond
        .rise-in.delay-0 The goal of the Lowy Institute was
        .rise-in.delay-1
          | to give Australia a
          span.txt-hl  bigger voice 
          | on
        .rise-in.delay-2 the issues that matter in global affairs

      .txt-tu.txt-sm.rise-in.delay-3(style="width: 100%") Sir Frank Lowy