.row(style="height50%")
  .col-fw
    .block.ph-sm.txt-ff
      :marked
        The Lowy Institute was born of [Sir Frank Lowy](https://www.lowyinstitute.org/people/executive-directors/bio/frank-lowy)’s desire to commemorate the 50<sup>th</sup> anniversary of his arrival in Australia by giving something back to the country that had embraced him and his family. 
        
        A keen student of international affairs, he wanted to deepen the Australian debate about the world and give Australia a greater voice in the world.

      //-  A feasibility study completed in 2002 by the Institute’s current Executive Director, [Dr Michael Fullilove](https://www.lowyinstitute.org/people/experts/bio/michael-fullilove), and the early, formative years of the Institute under its founding Executive Director [Allan Gyngell](https://www.lowyinstitute.org/the-interpreter/remembering-allan-gyngell-finest-mind-australian-foreign-policy), provided a set of principles that have guided the Institute’s work to this day: to be independent, non-partisan and evidence-driven; to influence policy and to inform the public; and to host the widest range of opinions but be the advocate of none.
