.row.row-sm
  .col-1-2.bg-dk(style="widtht: 0%")
    .bg-img.of-hidden
      include ../../img/map.svg

  .col-1-2.bg-dk
    blockquote.txt-md.txt-ff
      p "the goal of the Lowy Institute was to give Australia a bigger voice on the issues that matter in global affairs…”
      cite.txt-sm Sir Frank Lowy