.row.row-sm
  .col-1-2.column.bg-b-dk
    .p-xs.txt-center.mw

      .block.pv-xs
        :marked
          A feasibility study completed in 2002 by the Institute’s current Executive Director, [Dr Michael Fullilove](https://www.lowyinstitute.org/people/experts/bio/michael-fullilove), and the early, formative years of the Institute under its founding Executive Director [Allan Gyngell](https://www.lowyinstitute.org/the-interpreter/remembering-allan-gyngell-finest-mind-australian-foreign-policy), provided a set of principles that have guided the Institute’s work to this day: to be independent, non-partisan and evidence-driven; to influence policy and to inform the public; and to host the widest range of opinions but be the advocate of none.

  .column

    .row-test(style="height:50%;")
      .sub-column.bg-b-bl
        .bcard.fade-in.delay-6.bg-ff(style="transform:scale(1);")
          .img-pan
            img.bg-img(data-src="./img/staff3-crop.jpg" alt="Lowy staff")

    .row-test(style="height:50%;")

      .sub-column.bg-b-lt
        .bcard.fade-in.delay-2.bg-ff(style="height:100%; transform:scale(1);")
          .img-pan
            img.bg-img(data-src="./img/staff1.jpg" alt="Lowy staff")

      .sub-column.bg-b-dk
        .bcard.fade-in.delay-4.bg-ff(style="height:50%; transform:scale(1);")
          .img-pan
            img.bg-img(data-src="./img/staff2-alt.jpg" alt="Lowy staff")

        .bcard.fade-in.delay-0.bg-ff(style="height:50%; transform:scale(1);")
          .img-pan
            img.bg-img(data-src="./img/staff4.jpg" alt="Lowy staff")


//-style
  :sass

    .bcard
      transition-duration: 600ms !important
      justify-content: start !important
      transform: scale(1.1)

      [data-view="in-viewport"]:not(.visible) &
        transform: translate3d(0, 80px, 0) !important