.row
  .col-1-2
  .col-1-2
    .block.ph-xl
      :marked
        A feasibility study completed in 2002 by the Institute’s current Executive Director, [Dr&nbsp;Michael&nbsp;Fullilove](https://www.lowyinstitute.org/people/experts/bio/michael-fullilove), and the early, formative years of the Institute under its founding Executive Director [Allan&nbsp;Gyngell](https://www.lowyinstitute.org/the-interpreter/remembering-allan-gyngell-finest-mind-australian-foreign-policy), provided a set of principles that have guided the Institute’s work to this day: to be independent, non-partisan and evidence-driven; to influence policy and to inform the public; and to host the widest range of opinions but be the advocate of none.