
.row.row-sm
  .col-1-2.bg-b-dk
    .img-pan
      img.bg-img(data-src="./img/allan-gyngell_x1920.jpg" alt="founding Executive Director Allan Gyngell")
    .caption.txt-ff
      | Allan Gyngell 
      br
      | (Photo: Peter Morris/Sydney Heads for Lowy Institute)

  .col-1-2.bg-b-dk.txt-ff
    .p-xs.txt-center(style="max-width: 74%")

      .block.pv-xs
        :marked
          A feasibility study completed in 2002 by the Institute’s current Executive Director, [Dr Michael Fullilove](https://www.lowyinstitute.org/people/experts/bio/michael-fullilove), and the early, formative years of the Institute under its founding Executive Director [Allan Gyngell](https://www.lowyinstitute.org/the-interpreter/remembering-allan-gyngell-finest-mind-australian-foreign-policy), provided a set of principles that have guided the Institute’s work to this day: 
          
          to be independent, non-partisan and evidence-driven; to influence policy and to inform the public; and to host the widest range of opinions but be the advocate of none.

.row
  .col-1-2.bg-dk.txt-ff
    .block.p-sm.txt-md
      | In the last election, only 18% of
      br
      | successful candidates were women

  .col-1-2.bg-dk.txt-dk
    .block.p-sm.txt-md
      | This year 40% of the candidates are women
      br
      | and activists hope for a better result