.row
  .col-fw
    .block.ph-sm.txt-ff
      :marked
        Over 20 years, the Institute has [published influential research](https://www.lowyinstitute.org/publications?keys=&amp;author=All&amp;type=All&amp;issues=All&amp;related_issues=All&amp;sort_by=&amp;page=0) with an eye to the topics that matter. 
        
        First and foremost, it has examined Australia’s place in the world. It has explored the global role of the United States, highlighted the emergence of India and analysed the rising power of China. It has re-thought Australian policy in the Pacific and [mapped global aid flows in the region](https://www.lowyinstitute.org/about/Pacific%20Aid%20Map%20interactive%20site). It has published cutting-edge research on climate change, global diasporas and Asia’s changing power dynamics.

.row
  .col-1-2.bg-hl.txt-dk
    .block

  .col-1-2.bg-dk
    .block