.row(style="height:50%;")
  .col-fw.bg-hl.txt-dk
    .block
      .txt-sm.txt-tu.pv-xs More than
      .txt-xxl(data-view="counter") 500
      .txt-lg reports, analyses &amp; policy briefs

.row.overflow-sm(style="height:50%;")
  .col-1-3.bg-b-bl
    .block
      .txt-sm.txt-tu.pv-xs Plus over
      .txt-xl 47
      .txt-md Lowy&nbsp;Institute Papers
      .txt-sm.txt-tu(style="font-weight:200;") Australia’s only<br />book-length monographs<br />on international issues

  .col-1-3.bg-b-lt
    .block
      .txt-sm.txt-tu.pv-xs Over
      .txt-xl(data-view="counter") 156
      .txt-md podcasts<br />&nbsp;

  .col-1-3.bg-b-dbl.txt.ff
    .block
      .txt-sm.txt-tu.pv-xs and more than
      .txt-xl(data-view="counter") 309
      .txt-md videos<br />&nbsp;

style
  :sass
    @media (max-width: 450px)
      .overflow-sm
        overflow: scroll