.row
  .col.col-1-3
    .block.ph-sm
      :marked
        The Institute has created a suite of interactives that are eagerly anticipated and parsed around the world: the [Lowy Institute Poll](https://poll.lowyinstitute.org/), the most authoritative survey of Australian attitudes to the world; the [Global Diplomacy Index](https://globaldiplomacyindex.lowyinstitute.org/), mapping the world's most significant diplomatic networks; the [Asia Power Index](https://power.lowyinstitute.org/), the world's most comprehensive effort to measure power in the world's most consequential region; and the [Pacific Aid Map](https://pacificaidmap.lowyinstitute.org/) and [Southeast Asia Aid Map](https://seamap.lowyinstitute.org/), both first-of-their-kind comprehensive accounts of regional aid flows.

  .col.col-2-3(style="overflow: hidden;")
    .box
      .layer
      .layer
      .layer
      .layer
      .layer