.row(style="height:50%;")
  .col-fw
    .block.ph-sm.flex-cv
      a(href="https://www.lowyinstitute.org/the-interpreter")
        img#img-interpreter(style="margin-bottom: 1rem;" data-src="img/the-interpreter-dark.png" width="180" alt="The Interpreter logo")
      p.txt-center.txt-md Our online magazine has published daily commentary and analysis on international issues since 2007.

.row(style="height:50%;")
  .col-1-2.animated-number-cell(style="border-top: 1px solid #f80")
    .block: .txt-center
      .txt-sm.txt-center.txt-tu.pv-xs Articles
      .inline-flex.flex-jcc.flex-aic.relative
        .txt-xl(data-view="counter") 18,000
        .suffix.txt-xl.txt-interpreter-lt.ph-xs +
  .col-1-2.animated-number-cell(style="border-top: 1px solid #f80")
    .block: .txt-center
      .txt-sm.txt-center.txt-tu.pv-xs Contributors
      .inline-flex.flex-jcc.flex-aic.relative
        .txt-xl(data-view="counter") 1,800
        .suffix.txt-xl.txt-interpreter-lt.ph-xs +