.row.row-sm
  .col-1-2
  .col-1-2
    .block.ph-lg
      :marked
        The Lowy Institute has become known for its convening power. Each year its historic headquarters in [Bligh Street](https://www.lowyinstitute.org/31-bligh-street-office) hosts dozens of speeches, debates, conferences, and roundtables. Institute audiences have heard from presidents and prime ministers; foreign and defence ministers; spooks and soldiers; international envoys and global experts.