
.row.row-sm
  .col-fw.bg-b-lt
    .box
      .layer
        .label <a href="https://poll.lowyinstitute.org">the Lowy Institute Poll</a>
      .layer
        .label Layer 2
      .layer
        .label Layer 3
      .layer
        .label Layer 4

.row.row-sm
  .col-fw.bg-bg-dk
    .block.ph-sm