.row
  .col-fw
    .block.ph-sm.txt-ff
      :marked
        The Institute has created a suite of interactives that are eagerly anticipated and parsed around the world: the [Lowy Institute Poll](https://poll.lowyinstitute.org), the most authoritative survey of Australian attitudes to the world; the [Global Diplomacy Index](https://globaldiplomacyindex.lowyinstitute.org), mapping the world’s most significant diplomatic networks and the [Asia Power Index](https://power.lowyinstitute.org), still the world’s most comprehensive effort to measure power in the world’s most consequential region.

//-.row.row-sm
 .col-1-3.bg-dk.txt-hl
   .p-sm.txt-lg.num-lf
     | Lowy Poll 
     br
 .col-1-3.bg-lt(style={
   "background": "url(./img/social.jpg)",
   "background-size": "cover",
   "background-position": "center bottom"
 })
   .p-sm.txt-md.num-lf
     | API 
     br
 .col-1-3.bg-dk.txt-hl
   .p-sm.txt-lg.num-lf
     | Pacific Aid Map 
     br