.row
  .col-1-2.bg-hl.txt-dk
    .block.txt-lg.num-lf
      .txt-sm.pv-xs.txt-tu More than
      .txt-xl.pv-xs(data-view="counter") 18,000
      .txt-lg articles on <em><a href="https://www.lowyinstitute.org/the-interpreter">The Interpreter</a></em>
      
  .col-1-2.bg-dk
    .block.txt-lg.num-lf
      .txt-sm.pv-xs.txt-tu by more than
      .txt-xl.pv-xs(data-view="counter") 1,860
      .txt-lg contributors

