.row
  .col-1-2
    .block.ph-md
      :marked
        At the heart of the events program is the annual Lowy Lecture, at which a prominent individual reflects on Australia’s role in the world and the world’s influence on Australia. Past Lowy Lecturers include [Dr&nbsp;Angela Merkel](#), Chancellor of the Federal Republic of Germany; UK Foreign Secretary [Boris&nbsp;Johnson](#); US National Security Adviser [Jake&nbsp;Sullivan](#); and Lowy Institute Chairman [Sir&nbsp;Frank&nbsp;Lowy](#).
  .col-1-2