.row
  .col-1-2
  .col-1-2
    .p-xs.txt-center.mw
      .text-box.block
        :marked
          At the heart of the events program is the annual Lowy Lecture, at which a prominent individual reflects on Australia’s role in the world and the world’s influence on Australia. Past Lowy Lecturers include [Dr&nbsp;Angela Merkel](#), Chancellor of the Federal Republic of Germany; UK Foreign Secretary [Boris&nbsp;Johnson](#); US National Security Adviser [Jake&nbsp;Sullivan](#); and Lowy Institute Chairman [Sir&nbsp;Frank&nbsp;Lowy](#).