.row
  .col-1-2
    .block.ph-md
      :marked
        At the heart of the events program is the annual Lowy Lecture, at which a prominent individual reflects on Australia’s role in the world and the world’s influence on Australia. Past Lowy Lecturers include German Chancellor [Angela Merkel](https://youtu.be/HZYR5NVB8XA?feature=shared), UK Foreign Secretary [Boris&nbsp;Johnson](https://youtu.be/QWltV9Fhv2I?feature=shared), US National Security Adviser [Jake&nbsp;Sullivan](https://youtu.be/um__EI545UM?feature=shared), World Trade Organization Director-General [Ngozi Okonjo-Iweala](https://www.youtube.com/watch?v=10pdkc2FNh8); and Lowy Institute Chairman [Sir&nbsp;Frank&nbsp;Lowy](https://youtu.be/mexAFjiHhRM?feature=shared).
  .col-1-2