.row(style="height: 50%")
  .col-fw.bg-dk.txt-ff
    .block
      .txt-sm.pv-xs.txt-tu More than
      .txt-xl.pv-xs(data-view="counter") 18,000
      .txt-lg articles on <em><a href="https://www.lowyinstitute.org/the-interpreter">The Interpreter</a></em>
      
.row(style="height: 50%")
  .col-fw.bg-hl.txt-ff
    .block
      .txt-sm.pv-xs.txt-tu by more than
      .txt-xl.pv-xs(data-view="counter") 1,860
      .txt-lg contributors
      
      .txt-sm.p-sm.txt-dk.txt-tu
        | That’s more than the whole population of Denmark&nbsp;or&nbsp;Singapore
