.row(style="height:40%;")
  .col-fw(style="background-color:#1a1f23; color:#fff;")
    .block.ph-sm
      img#img-interpreter(style="margin:0" data-src="img/the-interpreter-dark.png" width="180" slt="The Interpreter logo")
      p
      |  Our online magazine, <em><a href="https://www.lowyinstitute.org/the-interpreter" style="color:#f80;">The Interpreter</a></em> has published daily commentary and analysis on international issues since 2012.

.row(style="height:60%;")
  .col-1-2(style="background-color:#fff; color:#1a1f23;" id="col-2")
    .block.txt-lg.num-lf
      .txt-sm.pv-xs.txt-tu More than
      .txt-xl.pv-xs(data-view="counter") 18,000
      .txt-lg articles
      
  .col-1-2(style="background-color:#f80; color:#1a1f23;" id="col-3")
    .block.txt-lg.num-lf
      .txt-sm.pv-xs.txt-tu by more than
      .txt-xl.pv-xs(data-view="counter") 1,860
      .txt-lg contributors

