.row
  .col-1-2
    .block.ph-md
      :marked
        At the heart of the events program is the annual Lowy Lecture, at which a prominent individual reflects on Australia’s role in the world and the world’s influence on Australia. Past Lowy Lecturers include [Dr&nbsp;Angela Merkel](https://youtu.be/HZYR5NVB8XA?feature=shared), Chancellor of the Federal Republic of Germany; UK Foreign Secretary [Boris&nbsp;Johnson](https://youtu.be/QWltV9Fhv2I?feature=shared); US National Security Adviser [Jake&nbsp;Sullivan](https://youtu.be/um__EI545UM?feature=shared); and Lowy Institute Chairman [Sir&nbsp;Frank&nbsp;Lowy](https://youtu.be/mexAFjiHhRM?feature=shared).
  .col-1-2