.row
  .col-fw
    .block.ph-sm.txt-ff
      :marked
        The Lowy Institute has become known for its convening power. Each year its historic headquarters in Bligh Street hosts dozens of speeches, debates, conferences, and roundtables. Institute audiences have heard from presidents and prime ministers; foreign and defence ministers; spooks and soldiers; international envoys and global experts.

        At the heart of the events program is the annual Lowy Lecture, at which a prominent individual reflects on Australia’s role in the world and the world’s influence on Australia. Past Lowy Lecturers include Dr Angela Merkel, Chancellor of the Federal Republic of Germany; UK Foreign Secretary Boris Johnson; US National Security Adviser Jake Sullivan; and Lowy Institute Chairman Sir Frank Lowy.

        The Institute’s roster of speakers has also included then US Vice President Joe Biden and current Ukrainian [President Volodymyr Zelenskyy](https://www.lowyinstitute.org/event/special-address-volodymyr-zelenskyy-president-ukraine); the prime ministers of the Netherlands, [Finland](https://www.lowyinstitute.org/event/sold-out-address-sanna-marin-prime-minister-finland), [New Zealand](https://www.lowyinstitute.org/event/address-prime-minister-new-zealand-jacinda-ardern) and Papua New Guinea; the Foreign Ministers of [India](https://www.lowyinstitute.org/event/address-dr-s-jaishankar-india-s-minister-external-affairs), the United Kingdom, and the Philippines; global figures such as [Microsoft founder Bill Gates](https://www.lowyinstitute.org/event/preparing-global-challenges-conversation-bill-gates) and NATO Secretary-General Jens Stoltenberg; and every Australian prime minister of the last 20 years.