.row(style="height: 25%")
  .col-1-2
    .block
      :marked
        The Institute’s roster of speakers has also included then US Vice President [Joe&nbsp;Biden](#) and current Ukrainian President [Volodymyr&nbsp;Zelenskyy](https://www.lowyinstitute.org/event/special-address-volodymyr-zelenskyy-president-ukraine); the prime ministers of the Netherlands, [Finland](https://www.lowyinstitute.org/event/sold-out-address-sanna-marin-prime-minister-finland), [New&nbsp;Zealand](https://www.lowyinstitute.org/event/address-prime-minister-new-zealand-jacinda-ardern) and Papua New Guinea; the Foreign Ministers of [India](https://www.lowyinstitute.org/event/address-dr-s-jaishankar-india-s-minister-external-affairs), the United Kingdom, and the Philippines; global figures such as Microsoft founder [Bill&nbsp;Gates](https://www.lowyinstitute.org/event/preparing-global-challenges-conversation-bill-gates) and NATO Secretary-General [Jens&nbsp;Stoltenberg](#); and every Australian prime minister of the last 20 years.

  //- .column

    .row-test(style="height:50%;")
      .sub-column.bg-b-bl
        .bcard.fade-in.delay-3.bg-ff(style="transform:scale(1);")
          .img-pan
            img.bg-img(data-src="./img/volodymyr-zelenskyy.jpg" alt="Volodymyr Zelenskyy")

    .row-test(style="height:50%;")

      .sub-column.bg-b-lt
        .bcard.fade-in.delay-2.bg-ff(style="height:50%; transform:scale(1);")
          .img-pan
            img.bg-img(data-src="./img/jaishankar.jpg" alt="Foreign Minister of India")

        .bcard.fade-in.delay-1.bg-ff(style="height:50%; transform:scale(1);")
          .img-pan
            img.bg-img(data-src="./img/bill-gates.jpg" alt="Bill Gates")

      .sub-column.bg-b-dk
        .bcard.fade-in.delay-0.bg-ff(style="height:100%; transform:scale(1);")
          .img-pan
            img.bg-img(data-src="./img/jacinda-ardern.jpg" alt="Jacinda Ardern")


//-style
  :sass

    .bcard
      transition-duration: 600ms !important
      justify-content: start !important
      transform: scale(1.1)

      [data-view="in-viewport"]:not(.visible) &
        transform: translate3d(0, 80px, 0) !important