.row.sticky-top(style="height: 20%")
  .col-1-2
    .block
      :marked
        The Institute’s roster of speakers has also included then US Vice President [Joe&nbsp;Biden](https://youtu.be/i6fcOLAw12o?feature=shared); Ukraine’s President [Volodymyr&nbsp;Zelenskyy](https://www.youtube.com/watch?v=9plcAPFQrHY); Prime Minister [Sanna Marin](https://www.youtube.com/watch?v=0BEhKo5ex0A) of Finland; Prime Minister James Marape of Papua New Guinea; Prime Minister Lee Hsien Loong of Singapore; President José Ramos-Horta of Timor-Leste; Myanmar leader Aung San Suu Kyi; Microsoft founder and philanthropist [Bill&nbsp;Gates](https://www.youtube.com/watch?v=038__DssSv0); NATO Secretary-General [Jens&nbsp;Stoltenberg](https://www.youtube.com/watch?v=i51_Kl8IoGI); and every Australian prime minister of the past 20 years.