.row.row-sm
  .col-1-2
    .p-xs.txt-center(style="max-width: 74%")
      .block.pv-xs
        :marked
          The Lowy Institute has become known for its convening power. Each year its historic headquarters in [Bligh Street](https://www.lowyinstitute.org/31-bligh-street-office) hosts dozens of speeches, debates, conferences, and roundtables. Institute audiences have heard from presidents and prime ministers; foreign and defence ministers; spooks and soldiers; international envoys and global experts.

  .col-1-2
    .img-pan
      img.bg-img(data-src="./img/bligh-st-crop.jpg" alt="31 Bligh Street facade at night")