.row
  .col-fw
    .block.ph-sm.txt-ff
      :marked
        The Lowy Institute has become known for its convening power. Each year its historic headquarters in Bligh Street hosts dozens of speeches, debates, conferences, and roundtables. Institute audiences have heard from presidents and prime ministers; foreign and defence ministers; spooks and soldiers; international envoys and global experts.

        At the heart of the events program is the annual Lowy Lecture, at which a prominent individual reflects on Australia’s role in the world and the world’s influence on Australia. Past Lowy Lecturers include Dr Angela Merkel, Chancellor of the Federal Republic of Germany; UK Foreign Secretary Boris Johnson; US National Security Adviser Jake Sullivan; and Lowy Institute Chairman Sir Frank Lowy.