.row
  .col-1-2.flex-col
    .block.ph-lg.txt-xl The Institute has a global online audience
  .col-1-2.flex-col
    .animated-numbers-grid.relative
      .block.p-md
        .txt-center
          .txt-xs.faint.txt-tu.pv-xs.txt-center The Interpreter
          .inline-flex.ws-no
            .txt-xl(data-view="counter") 10
            .faint.txt-xl.ph-xs M+
          .txt-xs.faint.txt-tu.pv-xs.txt-center Unique page views
      .block.p-md
        .txt-center
          .txt-xs.faint.txt-tu.pv-xs.txt-center Publications
          .inline-flex.ws-no
            .txt-xl(data-view="counter") 4.4
            .faint.txt-xl.ph-xs M+
          .txt-xs.faint.txt-tu.pv-xs.txt-center Page views and downloads
      .block.p-md
        .txt-center
          .txt-xs.faint.txt-tu.pv-xs.txt-center Podcasts and videos
          .inline-flex.ws-no
            .txt-xl(data-view="counter") 3
            .faint.txt-xl.ph-xs M+
          .txt-xs.faint.txt-tu.pv-xs.txt-center Plays
      .block.p-md
        .txt-center
          .txt-xs.faint.txt-center.txt-tu.pv-xs Media citations
          .inline-flex.ws-no
            .faint.txt-xl.ph-xs ~
            .txt-xl(data-view="counter") 100
            .faint.txt-xl.ph-xs K
          .txt-xs.faint.txt-center.txt-tu.pv-xs Citations for our expert commentary, research and events
          .animated-numbers-footnote.txt-xs.faint.absolute.txt-center.txt-cond ^ Counts between 2020-22