.row.row-sm.landing-slide()
  .col-fw
    .scroll-container
      .flex.absolute.inset-0(style="top: 0%; height: 400px")
        img.gallery(width="20%" height="auto" src='./img/afghan.jpg')
        img.gallery(width="25%" height="auto" src='./img/bill-gates.jpg')
        img.mx-auto(width="20%" height="auto" src='./img/pm-samoa.jpg')
      .flex.absolute.inset-0(style="z-index: 2; top: 33%; height: 300px")
        img.gallery(width="500" height="auto" src='./img/volodymyr-zelenskyy.jpg')
        //- img.mx-auto(width="300" height="auto" src='./img/cave.jpg')
          //- img.mx-auto(width="300" height="auto" src='./img/situation.jpg')
      .flex.absolute.inset-0(style="top: 50%; height: 400px; z-index: 1")
        img.gallery(width="25%" height="auto" src='./img/angela-merkel.jpg')
        img.gallery(width="35%" height="auto" src='./img/jaishankar.jpg')



  