.row
  .col-1-2.flex-col
    .block.ph-lg.txt-xl The Institute has a global online audience
  .col-1-2.flex-col
    .animated-numbers-grid.relative
      .spin-graphic-wrapper(data-view="spin" data-fill="0.5" data-source="data/votes")
      .block.p-md
        .txt-center
          .inline-flex.ws-no
            .txt-xl(data-view="counter") 10
            .faint.txt-xl.ph-xs M+
          .txt-xs.faint.txt-tu.pv-xs.txt-center Unique page views for The Interpreter
      .block.p-md
        .txt-center
          .inline-flex.ws-no
            .txt-xl(data-view="counter") 4.4
            .faint.txt-xl.ph-xs M+
          .txt-xs.faint.txt-tu.pv-xs.txt-center Unique page views and downloads for Lowy Institute publications
      .block.p-md
        .txt-center
          .inline-flex.ws-no
            .txt-xl(data-view="counter") 3
            .faint.txt-xl.ph-xs M+
          .txt-xs.faint.txt-tu.pv-xs.txt-center Podcast listens and video plays
      .block.p-md
        .txt-center
          .inline-flex.ws-no
            .faint.txt-xl.ph-xs ~
            .txt-xl(data-view="counter") 100
            .faint.txt-xl.ph-xs K
          .txt-xs.faint.txt-center.txt-tu.pv-xs Media citations for our expert commentary, research, and events
          .animated-numbers-footnote.txt-xs.faint.absolute.txt-center.txt-cond ^ Counts between 2020-22

style
  :sass
    .spin-graphic-wrapper
      position: absolute
      width: 100%
      height: 100%