.row.row-sm
  .col-2-3.bg-b-lt
    .block.ph-sm.txt-ff
      :marked
        The Institute’s roster of speakers has also included then US Vice President Joe Biden and current Ukrainian [President Volodymyr Zelenskyy](https://www.lowyinstitute.org/event/special-address-volodymyr-zelenskyy-president-ukraine); the prime ministers of the Netherlands, [Finland](https://www.lowyinstitute.org/event/sold-out-address-sanna-marin-prime-minister-finland), [New Zealand](https://www.lowyinstitute.org/event/address-prime-minister-new-zealand-jacinda-ardern) and Papua New Guinea; the Foreign Ministers of [India](https://www.lowyinstitute.org/event/address-dr-s-jaishankar-india-s-minister-external-affairs), the United Kingdom, and the Philippines; global figures such as [Microsoft founder Bill Gates](https://www.lowyinstitute.org/event/preparing-global-challenges-conversation-bill-gates) and NATO Secretary-General Jens Stoltenberg; and every Australian prime minister of the last 20 years.

  .col-1-3.bg-dk
    .block.txt-lg
      .img-pan
        img.bg-img(data-src="./img/allan-gyngell_x1920.jpg")
      .caption.txt-ff
        | Allan Gyngell 
        br
        | (Photo: Peter Morris/Sydney Heads for Lowy Institute)

.row
  .col-1-2.bg-dk.txt-ff
    .block.p-sm.txt-md
      | In the last election, only 18% of
      br
      | successful candidates were women

  .col-1-2.bg-dk.txt-dk
    .block.p-sm.txt-md
      | This year 40% of the candidates are women
      br
      | and activists hope for a better result
