
.row.row-sm
  .col-1-2.flex-col
    blockquote.txt-cond
      .rise-in.delay-0 The Lowy Institute represents
      .rise-in.delay-1
        | an
        span.txt-hl  investment in ideas

    .txt-tu.txt-sm.rise-in.delay-2(style="width: 100%") Sir Frank Lowy

  .col-1-2