.row
  .col-fw
    .block.ph-sm.txt-ff
      :marked
        For each of the Institute’s first 20 years, our Chairman has asked: how do we know we are succeeding? 
        
        We know because others invest in our work: more than half the Institute’s funding now comes from external grants and corporate support. We know because the best think tanks and research institutions want to work with us: from the Brookings Institution and Council on Foreign Relations in the United States to the Foundation for Strategic Research in France and the Australian National University. We know because Lowy Institute staff have gone on to fill prominent roles in government, including heads of intelligence agencies and senior advisors to cabinet ministers.

      //-  Perhaps the biggest compliment that can be paid to the Lowy Institute is to repeat what others have told us: that twenty years after its establishment, it would be difficult to imagine Australia’s international policy landscape without it.
