
.row
  .col-1-2.bg-b-bl.pv-xl.relative.flex-ch
    include ../../img/bligh-st.svg

  .col-1-2.bg-b-dk
    .ph-lg.txt-left
      :marked
        Perhaps the biggest compliment that can be paid to the Lowy Institute is to repeat what others have told us: that twenty years after its establishment, it would be difficult to imagine Australia’s international policy landscape without&nbsp;it.
