
.row
  .col-1-2.relative.flex-ch
    include ../../img/bligh-st.svg

  .col-1-2
    .txt-left
      :marked
        More than twenty years since its establishment, it is impossible to imagine Australia’s international policy landscape without the Lowy Institute.
