
.row.row-sm
  .col-1-2.bg-b-lt

    blockquote.right.txt-md.txt-ff
      p "...the Lowy Institute represents an investment in ideas.”
      cite.txt-sm Sir Frank Lowy

  .col-1-2
    .img-pan
      img.bg-img(data-src="./img/sir-frank-lowy-crop.jpg" alt="Sir Frank Lowy")