.row
  .col-fw.flex-col
    iframe(class="video" style="margin: auto; max-width:850px;" src="https://www.youtube.com/embed/SlHZUR2gcKc?si=BgFBF6-4FtJtN1vq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    .faint.txt-xs A celebration of Lowy Institute's 20 years.