
.row.row-sm(style="height:40%")

  .col-fw
    .block.ph-sm.txt-ff
      :marked
        Perhaps the biggest compliment that can be paid to the Lowy Institute is to repeat what others have told us: that twenty years after its establishment, it would be difficult to imagine Australia’s international policy landscape without&nbsp;it.

      hr

.row(style="height:60%")
  .col-fw
    .bg-img.of-hidden
      include ../../img/bligh-st.svg