.row.row-sm(style="height:70%")

  .col-fw.bg-b-dk
    .block
      //-.img-pan
      //-  img.bg-img(data-src="./img/michael-wesley.jpg" alt="Executive Director Michael Fullilove")
      //-.img-pan
      //-  img.bg-img(data-src="./img/michael-wesley.jpg" alt="Executive Director 2009–2012, Michael Wesley")
      //-.img-pan
      //-  img.bg-img(data-src="./img/allan-gyngell.jpg" alt="founding Executive Director Allan Gyngell")
      block.pv-xs
        :marked
          A feasibility study completed in 2002 by the Institute’s current Executive Director, [Dr Michael Fullilove](https://www.lowyinstitute.org/people/experts/bio/michael-fullilove), and the early, formative years of the Institute under its founding Executive Director [Allan Gyngell](https://www.lowyinstitute.org/the-interpreter/remembering-allan-gyngell-finest-mind-australian-foreign-policy), provided a set of principles that have guided the Institute’s work to this day: 

          to be independent, non-partisan and evidence-driven; to influence policy and to inform the public; and to host the widest range of opinions but be the advocate of none.

      .caption.txt-ff
        | Michael Fullilove, Michael Wesley, Allan Gyngell

  //-.col-2-3.bg-b-dk
    .p-xs.txt-center(style="max-width: 74%")
      .block.pv-xs
        :marked
          A feasibility study completed in 2002 by the Institute’s current Executive Director, [Dr Michael Fullilove](https://www.lowyinstitute.org/people/experts/bio/michael-fullilove), and the early, formative years of the Institute under its founding Executive Director [Allan Gyngell](https://www.lowyinstitute.org/the-interpreter/remembering-allan-gyngell-finest-mind-australian-foreign-policy), provided a set of principles that have guided the Institute’s work to this day: 

          to be independent, non-partisan and evidence-driven; to influence policy and to inform the public; and to host the widest range of opinions but be the advocate of none.

.row(style="height:30%")
  .col-fw.bg-b-dk
    .img-pan
      img.bg-img(data-src="./img/michael-wesley.jpg" alt="Executive Director Michael Fullilove")
    .img-pan
      img.bg-img(data-src="./img/michael-wesley.jpg" alt="Executive Director 2009–2012, Michael Wesley")
    .img-pan
      img.bg-img(data-src="./img/allan-gyngell.jpg" alt="founding Executive Director Allan Gyngell")