.row
  .col-fw.txt-ff
    .logo-block.fade
      //-img(src='./img/logo-20-years-white.svg')
      include ../../img/logo-20-years-white.svg

.row
  .col-fw.txt-ff.num-lf
    .txt-center
      .txt-lg.ph-sm.delay
        = page.title