.row
  .col-fw
    .logo-block.fade
      //-img(src='./img/logo-20-years-white.svg')
      include ../../img/logo-20-years-white.svg

.row
  .col-fw.num-lf
    .txt-center
      h1.txt-lg.ph-sm.delay
        = page.title