.row
  .col-fw
    .block(style="text-align: center")
      //-.title Explore

      p
        :marked
          Explore our latest [research](https://www.lowyinstitute.org/publications)

          Listen to our [podcasts](https://www.lowyinstitute.org/publications/podcasts)

          Come to an [event](https://www.lowyinstitute.org/events)

      p
        :marked
          To be the first to receive the Lowy Institute’s latest research, podcasts and information on upcoming events:

      .social-share
        .ph-sm(style="margin: auto;")
          a.icon.txt-sm.txt-tu(style="border-radius: 0;" role="button" href="https://portal.lowyinstitute.org/Account/Login/Register?returnUrl=%2fprofile-custom%2f")
            | Subscribe now
          

      .txt-tu.txt-sm.pv-md
        :marked
          Website by [Ian Bruce](https://ianbrucedesign.com)
      

