extend ../../partials/_essay

block prepend config
  - author = "Dr Kori Schake"

block append body

  iframe(class="video" src="https://www.youtube.com/embed/fYvQuwU2lEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

  :marked
    ## Abstract 

    Russia's invasion of Ukraine has shocked liberal democracies into action to strengthen the international rules-based order, **Dr Kori Schake** argues. 
    
    Nations that value the post-war international framework have been reminded that they need to be prepared to argue for and defend the system. However, she says it is disappointing that the renewed focus on the rules-based order has come about not through positive decisions by liberal democracies, but in response to the actions of authoritarian states. She says the response to Russia's invasion of Ukraine should send a message to China about the consequences of a move against Taiwan.
