extend ../../partials/issue

block prepend config
  include ../../partials/chart
  - href = "covid-19"
    
block endnote
block content
  :marked
    There has been much debate about the extent to which different countries’
    responses to and effectiveness in handling Covid-19 has impacted their global
    standing. But Indonesian perceptions of how other countries handled the pandemic
    do not seem closely correlated to the different approaches that countries have
    taken. Respondents rated Indonesia’s response the highest, with 83% saying that
    their country has managed Covid-19 ‘very well’ or ‘fairly well’. Singapore,
    which has maintained tight border and social restrictions throughout much of the
    pandemic, receives similarly high praise with 82% saying the country has done
    well. Around eight in ten Indonesians say the United States, United Kingdom,
    Australia and Malaysia have handled the pandemic well, even though these
    countries have taken divergent approaches to border controls and lockdowns.
    Fewer Indonesians (69%) say China has handled things well, while they regard
    India as having performed worst, at 54%.
  
  +chart(39)
  :marked

    As in other countries, there are conspiracy theories and misinformation swirling
    around social media in Indonesia about the causes of the Covid-19 pandemic.
    Globally, certain Chinese officials and state media outlets have tried to
    promote disinformation that suggests the pandemic originated from a laboratory
    leak in the United States. The US government, for its part, has investigated
    whether Covid-19 originated from a laboratory leak in China, but has not found
    conclusive evidence of the origins of the pandemic. Overall, very few
    Indonesians believe the lab leak theory, although 11.6% say that a lab leak in
    China is the most likely cause of the pandemic, compared to just 0.2% who
    believe that it came from a US lab leak.

    More Indonesians (37%) see Covid-19 as an act of God, while 22% say it comes
    from human contact with an infected animal. A small fraction of Indonesians (8%)
    say the pandemic is the result of a domestic issue in Indonesia. Around one in
    five (19%) say they do not know the source of the pandemic.

  +chart(40)

