extend ../partials/issue

block append config
  - issue = { href: "introduction", title: "Introduction" }
  - page.includeFonts = false
  - page.url = "https://interactives.lowyinstitute.org/features/indonesia-poll-2021/"
  - page.title = "Indonesia Poll 2021"
  - page.metaTitle = `About - Lowy Institute`
  - page.description = ""
  - page.image = "https://interactives.lowyinstitute.org/features/indonesia-poll-2021/img/thumb.jpg"

block content
  :marked
    As Asia is buffeted by intensifying great power rivalries, Indonesia faces competing pressures from the outside world on its alignment and direction of travel. There are also growing expectations that a more prosperous and confident Indonesia will take a greater leadership role in regional and global affairs.

    This is not the first time that Indonesia has had to make its own way in a bitterly contested world.

    As Indonesia threw off the shackles of Dutch colonialism, founding father Mohammad Hatta asked in 1948 if Indonesians “have to choose between Russia and America?” His answer was no. He declared that “we must remain the subject who reserves the right to decide our own destiny.”

    Hatta called for Indonesia to “row between two reefs” — one of the most enduring images of Indonesia’s quest to navigate the Cold War — and laid out Indonesia’s “independent and active” principle of foreign policy. For almost 75 years, Indonesian leaders have broadly held to that principle, even if they implemented foreign policies seemingly inimical to it from time to time.   

    While these images convey the need for a strong captain across the seas, too little attention has been paid to the people on board. Most analysis of Indonesian foreign policy centres on the elite — presidents and foreign ministers for the most part. 

    But what of the Indonesian public, who play a key role in shaping foreign policy in the world’s third most populous democracy? How do Indonesians view the world? Do they want to stay ‘neutral’ amidst a rapidly changing world? 

    A decade has passed since the last Lowy Institute poll in Indonesia. In that period, Indonesia has grown wealthier and now aspires to a greater role on the global stage. But the world, and Asia in particular, also looks far more contested, fractious and dangerous than it did in 2011. 

    The Lowy Institute surveyed a nationally representative sample – some 3000 Indonesians aged 17 to 65 across 33 provinces – between 29 November and 24 December 2021 to understand how the nation’s 275 million people perceive their neighbours, the great powers, the major threats facing Indonesia and its position in the world.  

    The survey considers a wide range of vital issues for Indonesia’s present and future, from security threats and regional relations to climate change. It asks how connected Indonesians are to the world, and how Indonesians see the world in general. We ask how respondents understand key foreign policy doctrines or platforms — from the Association of Southeast Asian Nations to the United Nations — and how they should be prioritised. We further examine how the public views the role of key agencies in safeguarding the country’s strategic interests.

    The findings confirm some age-old beliefs — and challenge others — about how Indonesians see the country’s role in the world. On more than a few questions, we see contradictory worldviews — as is common in many countries. Most Indonesians support democracy, but they also respect authoritarian leaders overseas. They are more confident in their own county and institutions than in the past, but have lost trust in most major powers.

    They are increasingly wary about China, and particularly Chinese investment, and are not overly enthusiastic about the United States and Australia. They see domestic issues as the most significant threats to Indonesia’s interests, but would also support the country playing a larger global role.

    Survey respondents defy easy stereotyping. Amid talk of an Islamic turn in Indonesian foreign policy, and rising religious conservatism at home, Indonesians express more confidence in Saudi Arabian Crown Prince Mohammed bin Salman Al Saud and United Arab Emirates Sheikh Mohamed bin Zayed Al Nahyan than any other foreign leaders. But Japan, the United States and South Korea are the top destinations for Indonesians to study and work abroad. 

    Overall, the survey depicts a confident, ambitious people who want Indonesia to chart its own course in the world.

    We believe that listening is a vital tool for understanding Southeast Asia’s largest country. It is in this spirit that we present the findings of this Lowy Institute survey.

block append css
  style
    include:sass ../styles/_base.sass
    include:sass ../styles/_typography.sass
    include:sass ../styles/_styles.sass
    include:sass ../styles/_responsive.sass
    include:sass ../styles/_link-grid.sass
    include:sass ../styles/_animation.sass
    include:sass ../styles/_button.sass
    include:sass ../styles/_scroller.sass
    include:sass ../styles/_landing.sass
