extend /partials/layout

block append config
  - page.includeFonts = false
  - page.url = "https://interactives.lowyinstitute.org/features/indonesia-poll-2021/"
  - page.class = "landing"
  - page.title = "Indonesia Poll 2021"
  - page.metaTitle = `${page.title} - Lowy Institute`
  - page.description = "Explore how Indonesia's 275 million citizens perceive their neighbours, the great powers, the major threats facing Indonesia and its position in the world."
  - page.image = "https://interactives.lowyinstitute.org/features/indonesia-poll-2021/img/thumb.jpg"
  - page.issues = data.getOne("static/features/indonesia-poll-2021/data").issues

block page
    
  include partials/header

  .h-screen.overflow-hidden.relative
    #map-wrap.absolute.inset-0
      include ./img/drawing.svg
    .title-block.flex-col.relative.p-md.h-full.txt-center
      h1.title.txt-tu.txt-xl
        | Charting their own course
      h2.subtitle.txt-md.txt-tu.opacity-75
        em How Indonesians see the&nbsp;world
      .txt-sm.opacity-50: em Ben Bland, Evan Laksmana and Natasha Kassam
      a#enter.absolute.bottom-8.flex-cv.txt-bare.txt-muted(href="#introduction")
        .txt-nano Enter
        svg(viewBox="0 0 10 10" height="10" stroke="currentColor" fill="none")
          path(d="M0,5 L5,10 L10,5")

  #introduction.h-screen.relative.z1.flex-col.border-t
    .flex.flex-swap.flex-grow
      .col.col-3-5.pt-16.pb-4.border-r.txt-center.flex-col
        h1 Executive Summary
        .gradient-overlay.mb-4.flex-grow
          .scroller
            .scroller-inner
              .ph-xl.pv-md.txt-sans.mxw.txt-mmd.txt-left
                :marked
                  With Indonesia seeking to play a larger role on the global stage, and many outside powers hoping to woo Southeast Asia's largest country, there is a pressing need to better understand how its people see the world and themselves in a changing international environment. 

                  The *Indonesia Poll 2021 --- Charting their own course*, conducted a decade after the Lowy Institute's last poll in the country, is based on fieldwork carried out in December 2021. The survey consists of a nationally representative sample of some 3000 Indonesians aged 17 to 65 across 33 provinces of Indonesia.

                  The polling results reveal that the citizens of the world's third most populous democracy are optimistic about the future but wary of the great powers that are seeking to court them. They are increasingly sceptical about China, and particularly of Chinese investment, but neither are they overly enthusiastic about the United States. Trust in near neighbours --- Malaysia and Singapore --- remains high but has declined for Australia.

                  On several questions, Indonesians hold contradictory views. Most Indonesians support democracy, but they also respect authoritarian leaders overseas. They see domestic issues as the most significant threats to Indonesia's interests, but express confidence in Indonesia's global standing and future. 

                  The survey respondents defy easy stereotyping. Amid talk of an Islamic turn in Indonesian foreign policy, and rising religious conservatism at home, more Indonesians express confidence in the leaders of Saudi Arabia and the United Arab Emirates than in any other foreign leaders. But Japan, the United States and South Korea are the top destinations for Indonesians to study and work abroad. 

                  While the survey presents many diverse viewpoints, overall it projects an image of a confident, ambitious people who want Indonesia to chart its own course in the world.
                  
              a#read-more.txt-micro.txt-bare.fw600.flex-ch(
                href="/features/indonesia-poll-2021/introduction/"
              )
                | Read full introduction
      .col.col-2-5.flex-col
        .txt-center.opacity-75.p-sm.border-v-lt
          .txt-mini.fw600 Topics
        .relative.flex-grow
          include ./partials/link-grid

    include ./partials/footer
  

block append css
  style
    include:sass ./styles/_base.sass
    include:sass ./styles/_typography.sass
    include:sass ./styles/_styles.sass
    include:sass ./styles/_responsive.sass
    include:sass ./styles/_header.sass
    include:sass ./styles/_link-grid.sass
    include:sass ./styles/_animation.sass
    include:sass ./styles/_navigation.sass
    include:sass ./styles/_button.sass
    include:sass ./styles/_scroller.sass
    include:sass ./styles/_landing.sass
    include:sass ./styles/_print.sass
