.social-share.txt-center.txt-ff
  a.icon.icon-download.relative(
    download
    href="/features/indonesia-poll-2021/report/Lowy Institute Indonesia Poll 2021.pdf"
  )
    .label.txt-nano Download PDF
  a.icon.icon-social-facebook(
    target="_blank"
    href=[
      "https://www.facebook.com/sharer.php?u=",
      encodeURIComponent(page.url),
    ].join("")
  )
  a.icon.icon-social-twitter(
    target="_blank"
    href=[
      "https://twitter.com/share?url=",
      encodeURIComponent(page.url),
      "&text=",
      encodeURIComponent(page.socialTitle || page.metaTitle),
      "&via=LowyInstitute"
    ].join("")
  )
