extend /partials/layout

block append config
  - var datapath = "static/charts/indonesia-swf/fig-7/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"
  - isEmpty = (y) => (y === undefined || y == null || y.length <= 0)
  - chart = page
  
block page
  .wrapper.flex
    .txt-center.flex.flex-grow.flex-col
      .chart-title= chart.title
      .chart-subtitle.txt-muted.txt-tu.p-sm!= chart.subtitle
      .chart.flex-grow: .chart-content
        
        svg(height="100%" width="100%")

          // CHART 1: fig-7a
          svg(height="40%" width="32%" x="1%" y="0")
            text.sub-chart-title( x="41%" y="0%") Adhi Karya
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(0 4)") 0
              svg(y="83.33%")
                text(text-anchor="end" transform="translate(0 4)") 1
              svg(y="66.67%")
                text(text-anchor="end" transform="translate(0 4)") 2
              svg(y="50.00%")
                text(text-anchor="end" transform="translate(0 4)") 3
              svg(y="33.33%")
                text(text-anchor="end" transform="translate(0 4)") 4
              svg(y="16.67%")
                text(text-anchor="end" transform="translate(0 4)") 5
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(0 4)") 6
              svg(height="100%")
                svg
                  line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
                svg
                  line(x1="0%" y1="16.67%" x2="100%" y2="16.67%" stroke="#5552" stroke-dasharray="")
                svg
                  line(x1="0%" y1="33.33%" x2="100%" y2="33.33%" stroke="#5552" stroke-dasharray="")
                svg
                  line(x1="0%" y1="50.00%" x2="100%" y2="50.00%" stroke="#5552" stroke-dasharray="")
                svg
                  line(x1="0%" y1="66.67%" x2="100%" y2="66.67%" stroke="#5552" stroke-dasharray="")
                svg
                  line(x1="0%" y1="83.33%" x2="100%" y2="83.33%" stroke="#5552" stroke-dasharray="")
                svg
                  line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg(class="x-label" x="6.49%" y="102%")
                text(text-anchor="middle" transform="translate(0 20)") 2012
              svg(class="x-label" x="17.30%" y="102%")
                text(text-anchor="middle" transform="translate(0 20)") 2013
              svg(class="x-label" x="28.11%" y="102%")
                text(text-anchor="middle" transform="translate(0 20)") 2014
              svg(class="x-label" x="38.92%" y="102%")
                text(text-anchor="middle" transform="translate(0 20)") 2015
              svg(class="x-label" x="49.73%" y="102%")
                text(text-anchor="middle" transform="translate(0 20)") 2016
              svg(class="x-label" x="60.54%" y="102%")
                text(text-anchor="middle" transform="translate(0 20)") 2017
              svg(class="x-label" x="71.35%" y="102%")
                text(text-anchor="middle" transform="translate(0 20)") 2018
              svg(class="x-label" x="82.16%" y="102%")
                text(text-anchor="middle" transform="translate(0 20)") 2019
              svg(class="x-label" x="92.97%" y="102%")
                text(text-anchor="middle" transform="translate(0 20)") 2020
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polyline(fill="none" stroke="#539ed4" stroke-dasharray="" stroke-width="6" stroke-linejoin="round" stroke-linecap="round" points="6.486486486486487 5.56570771666666,17.2972972972973 12.036440866666664,28.10810810810811 17.146024966666662,38.91891891891892 62.55122238333334,49.729729729729726 55.13121358333334,60.54054054054053 36.21990736666667,71.35135135135134 36.80108301666667,82.16216216216216 27.616228233333338,92.97297297297297 2.779712066666666")
              

          // CHART 2: fig-7b
          svg(height="40%" width="32%" x="35%" y="0")
            text.sub-chart-title( x="37%" y="0%") Hutama Karya
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(0 4)") 0
              svg(y="83.33%")
                text(text-anchor="end" transform="translate(0 4)") 1
              svg(y="66.67%")
                text(text-anchor="end" transform="translate(0 4)") 2
              svg(y="50.00%")
                text(text-anchor="end" transform="translate(0 4)") 3
              svg(y="33.33%")
                text(text-anchor="end" transform="translate(0 4)") 4
              svg(y="16.67%")
                text(text-anchor="end" transform="translate(0 4)") 5
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(0 4)") 6
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="16.67%" x2="100%" y2="16.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="33.33%" x2="100%" y2="33.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="50.00%" x2="100%" y2="50.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="66.67%" x2="100%" y2="66.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="83.33%" x2="100%" y2="83.33%" stroke="#5552" stroke-dasharray="")
              svg
                  line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
            svg(class="x-label" x="6.49%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2012
            svg(class="x-label" x="17.30%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2013
            svg(class="x-label" x="28.11%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2014
            svg(class="x-label" x="38.92%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2015
            svg(class="x-label" x="49.73%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2016
            svg(class="x-label" x="60.54%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2017
            svg(class="x-label" x="71.35%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2018
            svg(class="x-label" x="82.16%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2019
            svg(class="x-label" x="92.97%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2020
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              polyline(fill="none" stroke="#990f02" stroke-dasharray="" stroke-width="6" stroke-linejoin="round" stroke-linecap="round" points="6.486486486486487 2.9552906666666727,17.2972972972973 0.7654467166666734,28.10810810810811 15.862351199999999,38.91891891891892 77.54343998333333,49.729729729729726 63.62898143333333,60.54054054054053 21.64982969999999,71.35135135135134 15.351152683333336,82.16216216216216 50.13556498333334,92.97297297297297 58.4949477")

          // CHART 3: fig-7c
          svg(height="40%" width="32%" x="69%" y="0")
            text.sub-chart-title( x="39%" y="0%") Jasa Marga
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(0 4)") 0
              svg(y="83.33%")
                text(text-anchor="end" transform="translate(0 4)") 1
              svg(y="66.67%")
                text(text-anchor="end" transform="translate(0 4)") 2
              svg(y="50.00%")
                text(text-anchor="end" transform="translate(0 4)") 3
              svg(y="33.33%")
                text(text-anchor="end" transform="translate(0 4)") 4
              svg(y="16.67%")
                text(text-anchor="end" transform="translate(0 4)") 5
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(0 4)") 6
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="16.67%" x2="100%" y2="16.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="33.33%" x2="100%" y2="33.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="50.00%" x2="100%" y2="50.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="66.67%" x2="100%" y2="66.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="83.33%" x2="100%" y2="83.33%" stroke="#5552" stroke-dasharray="")
              svg
                  line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
            svg(class="x-label" x="6.49%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2012
            svg(class="x-label" x="17.30%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2013
            svg(class="x-label" x="28.11%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2014
            svg(class="x-label" x="38.92%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2015
            svg(class="x-label" x="49.73%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2016
            svg(class="x-label" x="60.54%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2017
            svg(class="x-label" x="71.35%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2018
            svg(class="x-label" x="82.16%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2019
            svg(class="x-label" x="92.97%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2020
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              polyline(fill="none" stroke="#B7C1CE" stroke-dasharray="" stroke-width="6" stroke-linejoin="round" stroke-linecap="round" points="6.486486486486487 74.51625593333334,17.2972972972973 73.16125699999999,28.10810810810811 70.19261976666668,38.91891891891892 67.18007431666668,49.729729729729726 62.0928995,60.54054054054053 44.77560953333333,71.35135135135134 48.6611077,82.16216216216216 45.01372905,92.97297297297297 46.647115850000006")
              
          // CHART 4: fig-7d
          svg(height="40%" width="32%" x="1%" y="51%")
            text.sub-chart-title( x="19%" y="0%") Pembangunan Perumahan
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(0 4)") 0
              svg(y="83.33%")
                text(text-anchor="end" transform="translate(0 4)") 1
              svg(y="66.67%")
                text(text-anchor="end" transform="translate(0 4)") 2
              svg(y="50.00%")
                text(text-anchor="end" transform="translate(0 4)") 3
              svg(y="33.33%")
                text(text-anchor="end" transform="translate(0 4)") 4
              svg(y="16.67%")
                text(text-anchor="end" transform="translate(0 4)") 5
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(0 4)") 6
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="16.67%" x2="100%" y2="16.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="33.33%" x2="100%" y2="33.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="50.00%" x2="100%" y2="50.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="66.67%" x2="100%" y2="66.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="83.33%" x2="100%" y2="83.33%" stroke="#5552" stroke-dasharray="")
              svg
                  line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
            svg(class="x-label" x="6.49%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2012
            svg(class="x-label" x="17.30%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2013
            svg(class="x-label" x="28.11%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2014
            svg(class="x-label" x="38.92%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2015
            svg(class="x-label" x="49.73%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2016
            svg(class="x-label" x="60.54%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2017
            svg(class="x-label" x="71.35%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2018
            svg(class="x-label" x="82.16%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2019
            svg(class="x-label" x="92.97%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2020
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              polyline(fill="none" stroke="#ffc52b" stroke-dasharray="" stroke-width="6" stroke-linejoin="round" stroke-linecap="round" points="6.486486486486487 30.59953936666666,17.2972972972973 12.407626766666668,28.10810810810811 14.782325850000003,38.91891891891892 54.38711026666666,49.729729729729726 68.45079688333334,60.54054054054053 67.77427823333333,71.35135135135134 62.98684250000001,82.16216216216216 59.753074533333326,92.97297297297297 53.04075441666667")

          // CHART 5: fig-7e
          svg(height="40%" width="32%" x="35%" y="51%")
            text.sub-chart-title( x="35%" y="0%") Waskita Karya
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(0 4)") 0
              svg(y="83.33%")
                text(text-anchor="end" transform="translate(0 4)") 1
              svg(y="66.67%")
                text(text-anchor="end" transform="translate(0 4)") 2
              svg(y="50.00%")
                text(text-anchor="end" transform="translate(0 4)") 3
              svg(y="33.33%")
                text(text-anchor="end" transform="translate(0 4)") 4
              svg(y="16.67%")
                text(text-anchor="end" transform="translate(0 4)") 5
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(0 4)") 6
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="16.67%" x2="100%" y2="16.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="33.33%" x2="100%" y2="33.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="50.00%" x2="100%" y2="50.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="66.67%" x2="100%" y2="66.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="83.33%" x2="100%" y2="83.33%" stroke="#5552" stroke-dasharray="")
              svg
                  line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
            svg(class="x-label" x="6.49%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2012
            svg(class="x-label" x="17.30%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2013
            svg(class="x-label" x="28.11%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2014
            svg(class="x-label" x="38.92%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2015
            svg(class="x-label" x="49.73%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2016
            svg(class="x-label" x="60.54%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2017
            svg(class="x-label" x="71.35%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2018
            svg(class="x-label" x="82.16%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2019
            svg(class="x-label" x="92.97%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2020
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              polyline(fill="none" stroke="#68389a" stroke-dasharray="" stroke-width="6" stroke-linejoin="round" stroke-linecap="round" points="6.486486486486487 47.19372718333333,17.2972972972973 55.212675366666666,28.10810810810811 43.291275133333336,38.91891891891892 64.61173316666667,49.729729729729726 55.631687166666666,60.54054054054053 44.96336785,71.35135135135134 44.89789301666667,82.16216216216216 46.499711233333336,92.97297297297297 10.51011945")

          // CHART 6: fig-7f
          
          svg(height="40%" width="32%" x="69%" y="51%")
            text.sub-chart-title( x="35%" y="0%") Wijaya Karya
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(0 4)") 0
              svg(y="83.33%")
                text(text-anchor="end" transform="translate(0 4)") 1
              svg(y="66.67%")
                text(text-anchor="end" transform="translate(0 4)") 2
              svg(y="50.00%")
                text(text-anchor="end" transform="translate(0 4)") 3
              svg(y="33.33%")
                text(text-anchor="end" transform="translate(0 4)") 4
              svg(y="16.67%")
                text(text-anchor="end" transform="translate(0 4)") 5
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(0 4)") 6
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="16.67%" x2="100%" y2="16.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="33.33%" x2="100%" y2="33.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="50.00%" x2="100%" y2="50.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="66.67%" x2="100%" y2="66.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="83.33%" x2="100%" y2="83.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
            svg(class="x-label" x="6.49%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2012
            svg(class="x-label" x="17.30%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2013
            svg(class="x-label" x="28.11%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2014
            svg(class="x-label" x="38.92%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2015
            svg(class="x-label" x="49.73%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2016
            svg(class="x-label" x="60.54%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2017
            svg(class="x-label" x="71.35%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2018
            svg(class="x-label" x="82.16%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2019
            svg(class="x-label" x="92.97%" y="102%")
              text(text-anchor="middle" transform="translate(0 20)") 2020
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="6" stroke-linejoin="round" stroke-linecap="round" points="6.486486486486487 51.840875016666665,17.2972972972973 51.615933150000004,28.10810810810811 63.38978851666667,38.91891891891892 56.58930388333333,49.729729729729726 75.20035193333334,60.54054054054053 64.62966854999999,71.35135135135134 59.32431288333333,82.16216216216216 62.79514465,92.97297297297297 48.51969416666667")


      .chart-source.txt-right.txt-muted.txt-cond!= chart.source
      .chart-notes.txt-right.txt-muted.txt-cond!= chart.notes
      
      .tooltip

  script.

    /* --- USER TO UPDATE --- */
    const enableTooltips = false;
    const nLegendItems = 6;
    const nSeries = 7;
    /* --------------------- */
    
    const chart = document.querySelectorAll('.chart-content');
    const rects = document.querySelectorAll('rect');
    const vals = document.querySelectorAll('.chart-value');
    const series = document.querySelectorAll('.x-label');
    const tooltip = document.querySelector('.tooltip');
    const legendItems = document.querySelectorAll('.legend-item-label');
    
    if (enableTooltips) {
      window.addEventListener('DOMContentLoaded', () => {
        rects.forEach( (rect, i) => addHoverEventListeners(rect, i) );  
      });
    }
        
    function addHoverEventListeners(el, i) {
      el.addEventListener('mouseover', () => {
        
        let val = vals[i].innerHTML;
        let ser = series[ Math.floor(i/nLegendItems) ].innerHTML;
        let cat = legendItems[i % nLegendItems].innerHTML;
        let box = el.getBoundingClientRect();
        
        tooltip.innerHTML = val + " of " + ser + " countries were " + cat + " performing";
        tooltip.style.left = box.left + box.width/2 - tooltip.offsetWidth/2 + 'px';
        tooltip.style.top = box.top - tooltip.offsetHeight + 'px';
        tooltip.style.opacity = 1;
        
      });
      
      el.addEventListener('mouseleave', () => { 
        tooltip.style.opacity = 0;
      });
      
    }
    
  
block append css
  style
    :sass
    
      .wrapper
        height: 700px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 20px
        left: 20px
        right: 20px
        bottom: 20px

      .chart-content > svg
        border-bottom: 0px solid #bbb

      .chart-title
        margin: auto
        font-size: 20px
        
      .chart-subtitle
        font-weight: 600
        height: 10px
        margin-top: -10px
        font-size: 15px
        
      .tooltip
        position: absolute
        left: 0
        background: #fffe
        padding: .75em
        opacity: 0
        border-radius: .2em
        box-shadow: 0 0 5px 0 #0004
        transition-duration: 0.5s
        pointer-events: none
        font-size: 14px
        text-transform: lowercase
        max-width: 180px
        box-sizing: border-box

      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px

      .legend
        font-size: 15px
        margin-bottom: .75em

      .legend-item
        margin: 4px 24px 0
        padding-right: 0
        position: relative
        white-space: nowrap

      .legend-item-box
        position: absolute
        left: -1em
        top: .85em
        height: .25em
        width: 2em
        background: black

      polyline
        vector-effect: non-scaling-stroke

      text
        font-size: 14px
        fill: currentColor

      svg
        overflow: visible
        
      .chart-notes, .chart-source
        margin: 0
        font-size: 15px
        
      .chart-value
        opacity: 0
        transition-duration: .4s
        pointer-events: none
      
      .chart-content:hover .chart-value
        opacity: 0

      .bars svg rect
        fill: #ffc52b

      .x-label text
        text-anchor: end
        transform: rotate(-90deg) translate(0px, 14px)

      .sub-chart-title 
        font-size: 15px
        font-weight: bold

      @media (max-width: 650px)
        
        text
          font-size: 13px

        .x-label
          display: none
        .x-label:nth-child(2n)
          display: block

        .sub-chart-title,x-label
          font-size: 13px
          font-weight: normal
          
      @media (max-width: 450px)
        .chart-content
          bottom: 40px
        .legend
          flex-direction: column
        .chart-title
          font-size: 18px
        .chart-subtitle
          font-size: 14px
          margin-bottom: 50px
        .chart-notes,
        .chart-source
          text-align: center
          font-size: 13px

        

