footer.txt-sm.bg-lt.txt-center.relative
  b.txt-mini: a.bare(href="https://www.lowyinstitute.org/") Lowy Institute
  p With thanks to our five contributors.
  p 
    | This debate is part of the Lowy Institute's 
    a.bare.fw500(href="https://www.lowyinstitute.org/about/programs-and-projects/australias-security-and-rules-based-order")
      em Australia’s Security and the Rules-Based Order Project
    |  and is supported by the Department of Defence’s Strategic Policy Grants Program.
  
  p
    | Edits by 
    a.bare.fw500(href="") Ben Scott
    | , 
    a.bare.fw500(href="") Clare Caldwell
    | , 
    a.bare.fw500(href="") Sam Roggeveen.
    br
    |  Site by 
    a.bare.fw500(href="") Brody Smith.
