footer.txt-sm.bg-lt.txt-center.relative
  b.txt-mini: a.bare(href="https://www.lowyinstitute.org/") Lowy Institute
  p With thanks to our five contributors.
  p 
    | This debate is part of the Lowy Institute's 
    a.bare.fw500(href="https://www.lowyinstitute.org/about/programs-and-projects/australias-security-and-rules-based-order")
      em Australia’s Security and the Rules-Based Order Project
    | . This feature is supported by the Australian Government through a grant by the Australian Department of Defence. The views expressed are those of the authors and not necessarily those of the Australian Government or the Australian Department of Defence.
  
  - twits = "https://twitter.com"
  p
    | Edits by 
    a.bare.fw500(href=`${twits}/Ben_G_Scott`) Ben Scott
    | , 
    a.bare.fw500(href=`${twits}/ClareECaldwell`) Clare Caldwell
    | , 
    a.bare.fw500(href=`${twits}/SamRoggeveen`) Sam Roggeveen.
    br
    |  Site by 
    a.bare.fw500(href=`${twits}/__brodysmith`) Brody Smith.
