#socials.txt-center.txt-ff.p-4.fixed.flex-col
  a.icon.icon-social-facebook.mb-2(
    target="_blank"
    href=[
      "https://www.facebook.com/sharer.php?u=",
      encodeURIComponent(page.url),
    ].join("")
  )
  a.icon.icon-social-twitter(
    target="_blank"
    href=[
      "https://twitter.com/share?url=",
      encodeURIComponent(page.url),
      "&text=",
      encodeURIComponent(page.socialTitle || page.metaTitle),
      "&via=LowyInstitute"
    ].join("")
  )
