extend ../../partials/issue

block prepend config
  - author = "Alex Oliver"
    
block bio
  :marked
    ***Alex Oliver*** was the Director of Research at the Lowy Institute from 2018 to 2021, and prior to that Director of the Institute’s Diplomacy and Public Opinion Program.

block content
  :marked
    Until several months ago, Australia’s handling of Covid was the envy of the developed world. Fatalities were miniscule compared with most other countries. Infection rates were low and testing rates high. Australia ranked almost at the top of 100 countries in a Lowy Institute analysis of global pandemic performance. The Fortress Australia approach — capping international arrivals at a few thousand a week, locking out its own citizens, and preventing them from leaving the country without special exemptions — kept cases mostly in the manageable single digits. 

    With the arrival of the Delta variant on our shores, this approach failed. Covid thrived, undeterred by fortress walls and heedless of months of harsh lockdowns limiting the freedoms of most Australians. Tens of thousands of Australian citizens remain unable to return home 18 months after the pandemic hit. International students and foreign workers are still locked out, risking harm to the Australian economy over the long term.
    
    > The result was a country unprepared for the attack of an infectious variant resistant to the clumsy tool of border-based policy.

    The country managed the early days of the crisis exceptionally well. Its conservative government extended generous social welfare assistance to its citizens at a level never seen before. It mobilised a national cabinet of diverse political persuasion, which was largely effective in coordinating national responses. It heeded science-based medical advice. The economy prospered after a brief technical recession.

    A year later, states are bickering with each other, divided on whether the zero-Covid strategy is still a realistic goal and still unable to agree on a nationwide system of vaccine passports. The federal government has at critical moments been held hostage to the federal system, forced in June to halve the already very low cap on international arrivals under pressure from states intent on maintaining their zero-Covid status.

    Australia’s initial success is partly to blame for its rollercoaster trajectory. Lulled by low case numbers, Australians seem to have felt no urgency to embrace vaccination. That was for other countries, such as Britain and the United States, where the virus had run rampant from the start. When vaccines eventually became available here, the rollout was excruciatingly slow. Some of it was likely due to poor government communication; some of it related to unlucky bets on ever-so-slightly imperfect vaccines. But the result was a country unprepared for the attack of an infectious variant resistant to the clumsy tool of border-based policy.  

    In the meantime, Fortress Australia has earned us the sort of international criticism that many of us blithely levelled at most of the world last year as we watched it flounder in infection and closed economies. The criticisms are no longer limited to those from unfortunate Australian travellers and from members of our large expatriate community seeking to return home to see family, attend funerals, or care for sick family members. In the past few months, international commentators have criticised our Covid approach in outlets including the BBC, Bloomberg, *The New York Times*, *The Washington Post*, and *Foreign Policy*. Infuriated and disappointed Australians abroad talk of alienation from their inhospitable home country.

    Yet there are signs the rollercoaster may be climbing out of its trough. Lockdown-weary Australians are now rushing to get vaccinated. The government of New South Wales, the largest and most Covid affected state, promises a general re-opening once key vaccination targets are hit as early as October 2021. Prime Minister Scott Morrison flagged in early September that national cabinet had agreed in principle to raising the capacity of international arrivals to help more Australians stranded abroad get home.
    
    > What counts now is not cases but fatalities, not eradication but vaccination.

    Which leads back to where Australia started, with harsh border restrictions. We need to unwind them, and fast. Much more is at stake than adverse commentary in international newspapers. The huge pool of both Australian expatriate talent, which enhances the country’s reputation abroad, and foreign expatriate talent in Australia, which contributes to our prosperity at home, needs reassurance that they have not been forsaken. International students, who constitute our fourth-largest export, need to be welcomed back to our universities. Seasonal workers, critical to the success of Australian agriculture, need to be allowed in. Australian business and industry need access to foreign investments, opportunities, and customers. 

    To do this, our pre-Delta variant definition of success must be abandoned. Zero-Covid was a dangerous illusion. What almost every other advanced economy in the world has realised is that what counts now is not cases but fatalities, not eradication but vaccination, not confinement but re-opening. Australia is one of the most globally-enmeshed nations of the world and this is key to our success. Prolonging our isolation for any longer will damage our enviable prosperity and standing in the world.
