extend ../../partials/issue

block prepend config
  - author = "Michael Fullilove"

block caption
  :marked
    Photo: <a href="">Wikimedia Commons</a>

block introduction
  :marked
    If the virus flattered Australia in 2020, it doesn’t flatter us in 2021.

block content
  :marked
    COVID reveals. It sees through what nations say about themselves and reveals what they really are.

    Australia has fared very well, compared to most. Our initial handling of the pandemic was among the best in the world.

    Being an island was an advantage, of course. We were able to pull up the drawbridge more easily than most.

    But it was not all good fortune. Canberra was quick to act. In short order, the government banned visitors from mainland China, introduced a mandatory two-week quarantine for all travellers, and then closed its borders to all non-residents and non-citizens. Australia declared COVID a national pandemic a fortnight before the WHO did so.

    NEED STUFF HERE ABOUT GOOD DECISIONS, SMART OFFICIALS, AN ALERT CITIZENRY. ED PLEASE FIND PARS FROM OP-EDS LAST YEAR – ALSO Q&A PREP.

    But if the virus flattered Australia in 2020, it doesn’t flatter us in 2021. It shows Australia in an altogether different light.

    As other developed countries reopen, Australia – an open-minded nation of immigrants and travellers, with a long-held belief in globalisation – remains closed to the world.

    We are stone cold last on the OECD’s list of rich country vaccination rates, with only X% vaccinated. Our state governments have come to love lockdowns. We have forgotten how to assess and manage risk. And our fellow citizens have become uncharacteristically hesitant about vaccines. INSERT COMPARISON OF VACCINE HESITANCY IN UK AND AUSTRALIA. S

    Somehow Australians, a people known for being brave and adventurous, have allowed ourselves to be spooked by extremely rare side-effects that the Brits, for example, have taken in their stride. Usually a curious and intrepid people, we have become nervous and fearful.

    We have also become insular. It is natural that during a crisis people look inwards. But Australia has taken this to an exceptional degree given how few souls we have lost to COVID. State loyalties have reemerged – along with state borders. We have forgotten that Australian security and prosperity depends on engagement with the world. The risk is that when COVID recedes, it reveals a smaller Australia.
