@import app/static/features/indonesia-poll-2021/styles/_vars.sass

*
  box-sizing: border-box

html,
body,
body.embed-false
  width: auto
  height: auto
  overflow-x: hidden
  overflow-y: initial
  scroll-behavior: smooth
  overscroll-behavior: none

body
  font-family: $font-default-stack
  font-size: 18px
  line-height: 1.4
  font-weight: 400
  color: $color-dk
  font-feature-settings: "liga" 0
  text-rendering: geometricPrecision
  
  &::-webkit-scrollbar
    width: 0
    
  &.article
    
    &::-webkit-scrollbar
      width: 4px
    
    &::-webkit-scrollbar-track
      background: transparent

    &::-webkit-scrollbar-thumb
      background: $color-dk
  
a
  transition: color 300ms

  svg
    transition: fill 300ms

  &:hover,
  &:hover svg,
  &:focus
    color: $color-hl
    fill: $color-hl

li
  margin-bottom: 0
  line-height: inherit

p, pre, dl, dd, ul, ol, svg
  margin-bottom: 1.7em

.container
  max-width: 100%
  margin: 0 auto
  width: $w-content

footer
  height: $h-footer
  border-top: 1px solid #fff8

#footer-logo
  font-weight: 700
  font-size: 1.5rem

.cover-img
  background-size: cover
  // filter: brightness(0.7)
  background-position: center

.title-block
  align-items: center
  text-shadow: .2em .2em 1rem rgba(black, .05), -.2em -.2em 1rem rgba(black, .05), -.2em .2em 1rem rgba(black, .05), .2em -.2em 1rem rgba(black, .05), .2em 0 1rem rgba(black, .05), -.2em 0 1rem rgba(black, .05), 0 .2em 1rem rgba(black, .05), 0 -.2em 1rem rgba(black, .15)

@media (max-width: $screen-tablet)
  
  body.article
    &::-webkit-scrollbar
      width: 0

  #footer-logo
    font-size: 1rem
    padding-left: 0
    width: 100px

  #footer-links
    padding-right: 0
    a
      line-height: 1.7

@media (max-height: $screen-short)
  footer
    height: 60px
    .txt-sm
      font-size: 12px
    #footer-logo
      font-size: 1rem