@import app/static/features/indonesia-poll-2021/styles/_vars.sass

header
  width: 100%
  margin: auto
  height: $h-nav
  padding: 1.5rem
  transition: all 300ms

  .landing &
    position: absolute
  
  a
    &:hover,
    &:focus
      color: inherit

#header-logo
  font-weight: 700
  line-height: 1
  width: 120px

  >
    transition-duration: 0.3s

  .article &
    .wordmark
      height: 0
      overflow: hidden

#progress
  top: 0
  left: 0
  height: 6px
  z-index: 20
  position: fixed
  background: $color-hl

@media (max-width: $screen-tablet)
  
  header

    .article &
      padding: 6px 1rem 0
      height: $h-nav-sm
      box-sizing: content-box
      background: white
      box-shadow: 1px 4px 8px 0px white

      #header-logo
        width: auto
        line-height: $h-nav-sm

    .header-title
      left: 0
      text-align: left
      width: auto
  