@import app/static/features/indonesia-poll-2021/styles/_vars.sass

.link-grid
  display: grid
  grid-template-rows: repeat(5, 1fr)
  grid-template-columns: 1fr 1fr
  height: 100%

  li
    position: relative
    
    &:nth-child(-n + 8)
      border-bottom: 1px solid #fff2

    &:nth-child(odd)
      border-right: 1px solid #fff2

    a > span
      transition: all 450ms cubic-bezier(0.7, 0.7, 0.3, 1)

    > *
      padding: 0 3rem      
      
    a
      display: block
      height: 100%
      width: 100%
      display: flex
      align-items: center
      position: relative
      z-index: 1
      box-sizing: border-box
      transition: all 250ms cubic-bezier(0.7, 0.7, 0.3, 1)

      &:hover,
      &:focus
        color: $color-ff
        background-color: rgba(white, .05)
        
      &.active
        pointer-events: none
        background-color: rgba(white, .03)

        &:hover
          background: darken($color-dk, 2)

.tag
  font-size: 12px
  padding: 1em 2px
  margin-right: 1rem
  letter-spacing: .08em

@each $color in $spectrum
  $i: index($spectrum, $color) - 1
  .tag-#{$i}
    background: $color

@media (max-width: $screen-tablet)

  .link-grid
    grid-template-rows: repeat(10, 1fr)
    grid-template-columns: 100%
    
    li
      &:nth-child(odd)
        border-right: none
      &:nth-child(-n + 9)
        border-bottom: 1px solid #fff2
      &:last-child
        border-bottom: none
    
    a
      padding: 1.25rem 1rem
    
@media (max-height: $screen-short)
  .link-grid
    li a
      padding: 1.25rem 1rem
      .txt-mini
        font-size: 12px


