@media print

  #enter,
  #progress,
  .social-share
    display: none!important

  header
    padding: 2.5rem

  .chart
    break-inside: avoid
  
  .landing

    .h-screen
      height: 297mm

    .title-block
      margin-top: 7rem

    h1
      margin-bottom: 3rem
      font-size: 48px
      text-shadow: none!important

    h2
      font-size: 35px
      text-shadow: none!important

    .txt-sm
      font-size: 18px

    h1,h2
      max-width: 500px

    .h-screen.border-t
      border: none

  .article
    aside,
    header,
    footer
      display: none!important

    article
      padding: 4rem!important