//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/_essay

block prepend config
  - author = "Michael Cox"

block append body
  :marked
    A year after 9/11, I got into an academic spat with a colleague about how to make sense of the attack and whether it would have a significant long-term impact on world politics. I tended to the view that its consequences were likely to be great; that it would indeed “[shake the world](https://saqibooks.com/books/saqi/two-hours-that-shook-the-world/).” My colleague rated its importance much less highly, insisting that unlike the Cold War, it would not define the state system, or like the end of the Cold War, change the structure of the international order.

    We did however agree on one thing: that it would have been almost impossible to have anticipated the precise way in which the Bush administration decided to respond to 9/11. There was no logical reason, for instance, for it to have interpreted the attack as constituting the beginning of a ‘long war’. It could just as easily have viewed 9/11 as a one-off. Nor was there any necessary connection between 9/11 and the US decision to invade Iraq 18 months later. If anything, this action was less determined by 9/11 than by the nature of the Bush administration, the people in it, and their reading of the past, not to mention their idiosyncratic understanding of the Middle East and its problems. Indeed, another US administration, led by Al Gore, would almost certainly not have invaded Iraq. But we are still forced us to ask the question: how did those few hours on 11 September 2001 change the world?

    The climate crisis, for one thing, had nothing at all to do with what occurred in September 2001. We all did that. Nor was globalisation much changed by 9/11: global business just went on and on! It is true that economist Jim O’Neill came up with the idea of the BRICs economies (Brazil, Russia, India and China) in the wake of 9/11 and because of 9/11. But their later development had little to do with the attack itself. Asia’s economic rise also had little to do with 9/11; and unless I have been reading the wrong books, the great crash of 2008 was more determined by financiers and bankers than terrorists.

    But, even if we accept that 9/11 did not define the world in, say, the same way as the Cold War — my colleague was therefore correct in issuing a health warning — its impact nonetheless was immense.

    First, 9/11 changed the United States itself, and not for the better, making it less tolerant towards others, more nationalistic, and increasingly more divided against itself. Moreover, when the war in Iraq began to go badly wrong, which many in the wider international relations community predicted it might, it undermined trust in government or, more precisely, in the competence of those who ruled. In any functioning democracy, scepticism of those in power is no bad thing. But when a lack of trust segues into a complete distrust of all established politicians — something Donald Trump exploited to the full in 2016 — then the way is left open for the populists. And we know what followed when they took over the White House.

    The 9/11 attacks, followed by the Iraq war, also impacted on British politics by destroying the reputation of the United Kingdom’s then Prime Minister Tony Blair. However, it was not just Blair’s reputation that suffered. So too did the ‘[Third Way](https://www.theguardian.com/politics/2003/feb/10/labour.uk1)’ project and along with it the whole idea of ‘New Labour’ — and we all know to whom the Labour Party then turned in 2015: Jeremy Corbyn, an avowed enemy of ‘New Labour’ and of what for decades had been mainstream Labour Party thinking on foreign policy which hitherto had included a close ‘[special](https://www.bbc.com/news/newsbeat-35783309)’ relationship with the United States, strong support for the North Atlantic Treaty Organisation (NATO), and for Britain having its own independent nuclear deterrent. Corbyn turned all this on its head and pushed the Party in a completely new direction. This was no doubt popular with his left-wing supporters, but proved much less so with the British electorate — and in 2019 Labour suffered a crushing defeat from which it might take at least a generation to recover.

    Finally, in terms of the wider world, there is, I suggest, a link of sorts between 9/11 and perhaps the most important development of the following 20 years: China’s explosive entry onto the world stage. China would no doubt have risen in power and stature without the attacks. But in the ‘Global War on Terror’ (GWOT), the United States was prepared to make every concession to build bridges to potential rivals — now defined as ‘responsible stakeholders’ — such as China. This may have been a wise and necessary policy back then. But while the United States remained bogged down fighting wars across the Middle East, from which it has been trying to extract itself ever since, China steadily progressed along its trajectory towards major power status unimpeded, that is until the United States woke up to the fact that it might have a serious long-term challenge on its hands; one that will prove every bit as difficult to deal with — if not more so — as 9/11.

    One can only hope it does a better job responding this time round.

block append qanda
  :marked
    
    ### Question?

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nostrum, provident molestiae voluptatum fugiat voluptate dolore fuga? Dicta iusto excepturi fuga, omnis maxime laborum libero! Reiciendis sunt odio, et, asperiores aspernatur corrupti expedita labore harum officia, eaque nulla tempora. Aliquam omnis quod veritatis amet saepe iure deserunt nisi et illo molestiae cum, dignissimos fugit officia laudantium, sequi magni sit debitis excepturi est. Praesentium nostrum, quae deserunt maiores quo provident quasi. Ab tenetur cupiditate obcaecati, suscipit alias dolorem distinctio iusto, architecto maiores voluptate? Aut fugiat modi necessitatibus facere quisquam, perspiciatis laboriosam..
