extend ../../partials/_essay

block prepend config
  - author = "Elina Noor"

block append body
  :marked
    
    Could Osama bin Laden have imagined the global upheaval he unleashed with his evil scheme? Could he have anticipated years of intense distrust in governments and fear of “the other”? Could he have predicted that the spectacular imagery of the World Trade Center towers collapsing would create a shared global moment that would be replayed time and again, to heighten emotions, increase fear, and spur outrage — all of which lingers to this day?

    Maybe not. But what is certain is that the attacks in New York, Washington, DC, and Pennsylvania that killed 2977 people from 93 countries changed the very character of nations — especially concerning identity and belonging — and unleashed decades of unforeseen circumstances including the rise of ISIS, the displacement of an estimated 50 million people, and a surge of hate and extremism amplified by the technological revolution.

    > The political and cultural fallout from the attacks has shaped our human experience, the dynamics of political relationships, and the strategic frameworks that hold them together.
    
    The vast majority of today’s global decision-makers were old enough when 9/11 occurred to understand the long-term effects of seeing passenger planes used as physical and psychological weapons. This critical fact affects the willingness of nations to advance new cooperative frameworks and factor-in the might of non-state actors. It explains the motivation to take protective, collective action around the “us versus them” ideologies used by terrorist recruiters. It also reflects how, from that day forward, the one-quarter of human civilisation that is Muslim underwent a new scrutiny based on religious affiliation.

    The massive US military response to the 9/11 attacks drew a global reaction through new coalitions, combined military training, intelligence sharing, and allied security operations. Nations expanded friendships, recalibrated enemies, and altered international dynamics. A sophisticated new threat environment required multilateral organisations to work differently to combat illicit financial networks, terrorist exploitation of technologies, and other tools that terrorist groups use to attract new recruits and conduct operations.

    While nations have cooperated in the past on international crises, such as famine or climate events, after 9/11 the international priority became security, relegating resources to these other global issues to second. In parallel, this period birthed a new urgency to contemplate how we interact with those who are “different”.
    
    > The consequences of the 9/11 attacks are more far-reaching than the steady evolution of global terrorism.

    These sentiments have driven hate-motived violence, both physical and emotional, on ethnic and religious populations worldwide. They also shape the way nations think about their internal Muslim populations and their foreign policy. Islam and Muslims are part of national equations in a way they were not prior to the attacks. Hate crimes have transformed the global landscape, emboldened former political outliers, fuelled new extremist movements, and altered diplomatic relations and political ties with nations where Muslims are the majority or where they live as minorities. The attacks put a single religion under the microscope and magnified a sentiment that Muslims everywhere continue to experience.


block append qanda
  :marked
    
    #### You write about the particular consequences that the 9/11 attacks and the War on Terror have had on global Muslim populations, but has the impact been uniform? And has the scrutiny subsided over the ensuing two decades?

    The impact of 24 hours/7-days-a-week scrutiny on global Muslim populations can’t be dismissed. The attacks changed the dynamics of ordinary life. The identity of someone who is, or is perceived to be, Muslim has transformed in societies all over the world. Where once no one cared if there was a mosque in a town, today there is interest. _What kind of Muslims are they? What are they doing there? Are they secretly plotting against us?_

    The fear of hate-activated violence, the overwhelming unwanted attention, and the need to “prove” they are not terrorists, among other issues, are common concerns throughout the globe. Muslims are worried about their safety and well-being; some have even changed their outward appearance, by removing headscarves or wearing Western clothes, to blend in. The way attitudes are displayed may vary, but the common connective tissue is that the Muslim population is invariably in the spotlight without wishing to be so.
