extend ../../partials/issue

block prepend config
  - author = "Emma Connors"
    
block bio
  :marked
    ***Emma Connors*** was Editor of The Interpreter at the Lowy Institute from 2015–2017. She is now The Australian Financial Review’s correspondent in Singapore.

block content
  :marked
    In the early, panicked days of the Covid pandemic, Singapore and Australia were in lock-step when it came to border closures. Australia put a stop to international departures and barred entry to non-citizens on 20 March 2020. Four days later, Singapore did the same. Both were hard-line. 

    Singapore, more dependent on foreign labour than Australia, began adjusting its settings last year to allow some non-leisure travel. Australia managed a bubble with New Zealand, but not for long. In recent months, the two countries have veered further apart. Singapore is opening up via a series of meticulously planned manoeuvres in what the government describes as “the preparatory stage of re-opening”. The temperature screening stations that for the past 18 months have stood guard at every public entry point across the island have been removed. All going well, this will be followed by two transition stages. The end goal is a Covid-resilient nation, one in which life is not the same as it was in 2019, but close.
    
    > Singapore has carefully calibrated all Covid-related restrictions, including border controls.

    Singapore has carefully calibrated all Covid-related restrictions, including border controls. A few countries, including India and Bangladesh, are judged to be such high risk that no travel from these countries is allowed. Most nations fall somewhere in between this and the gold, no-quarantine-necessary standard awarded to most of mainland China, Taiwan, and New Zealand. Travellers from Germany, for instance, can now apply for a Vaccinated Travel Pass to board dedicated quarantine-exempt flights to Singapore.

    In late August 2021, key ministers in Singapore’s People’s Action Party government, including Prime Minister Lee Hsien Loong, warned the city-state of the dangers of “turning inwards”. As the country emerges, blinking from the pandemic, its citizens are being told to get back on the horse. Since independence 56 years ago, Singapore, a tiny nation with no natural resources, has had to fight hard for its prosperity. Now it is game on again — but careful as she goes.

    Singapore has rejected both the zero-Covid and borders-sealed approach favoured by China as well as the near-total lifting of restrictions that has occurred in the United Kingdom. Rather, it has taken what the government describes as a “middle approach”. The Delta variant has necessitated a conservative approach, with regular policy adjustments, as the country transitions to living with Covid.

    Calls to open up Australia are coming from across the political spectrum. The leader of Australia’s most populated state, New South Wales Premier Gladys Berejiklian, has repeatedly declared zero-Covid is not a realistic goal. In recent weeks, Victorian Premier Dan Andrews has come around to this view and Prime Minister Scott Morrison has also joined the chorus, telling Parliament, “We cannot live in the cave forever.” As we wait for the rest of the country to get on board, the Singapore model offers some clues on how 2022 could unfold.   

    By then, the city-state hopes to be treating Covid as an endemic disease. It has carefully mapped out how this will work with rules covering everything from restaurant dining numbers to vaccination travel lanes.

    Of course, the key differentiator between the two nations is vaccination rates. Once Australia can get closer to where Singapore is now (where approximately 80 per cent of the total population is fully vaccinated), the Morrison government has flagged it will adjust its thinking.
    
    > Singapore has rejected both the zero-Covid and borders-sealed approach favoured by China as well as the near-total lifting of restrictions that has occurred in the United Kingdom.

    Like Singapore, Australia cannot afford to keep its borders closed. Education and tourism industries have been decimated. Other sectors of the economy are in desperate need of the skilled migrants that have long plugged gaps and brought new thinking and ideas. The stock of imported entrepreneurial talent that has done so much to power growth in recent decades has diminished. 

    Australia’s reputation has also taken a beating. Former diplomats say our soft power has diminished and analysts refer to second-order effects. Nearly everyone outside the country agrees Fortress Australia is damaging the country’s standing. 

    Australians are used to being warmly welcomed around the globe. We would never have admitted it, of course, but Australians overseas were used to being envied. People’s faces tended to light up when they found out where you hailed from. It was a great icebreaker as they told you how they dreamed of going there, or how their uncle lived there, or why their child was studying there. 

    Expats are having very different conversations now, and often they are quite confronting. “What has gone wrong in your country?” asked a Singaporean acquaintance when I bumped into her in the supermarket. “It’s so sad.” 

    A German friend was more pointed. “No one likes Germans,” he told me cheerfully. “But everyone used to like Australians. Wherever you went in the world, you’d meet an Aussie, their sense of humour travelled well and far. But now … it seems like a different country. It’s one that’s hard to like.”

    In March 2020, closing borders made a lot of sense. As vaccination rates increase, that is no longer the case. Singapore’s “middle approach” to opening up is one way of managing the risks. The Lee government’s relentless messaging on the need to do so provides another lesson; the need to convince a nation, particularly an island nation, that there is no real alternative. 

    Finance Minister Lawrence Wong has said that “being open, staying open, it is existential for Singapore”. Surely the same holds true for Australia.
