extend ../../partials/_essay

block prepend config
  - author = "Emma Sky"

block append body
  :marked
    In its response to the 9/11 attacks, the United States undermined the rules-based international order that it had established after the Second World War and which fundamentally reflected its power, principles, and preferences.

    The 9/11 attacks were launched from Afghanistan. But Iraq also came into the crosshairs over claims that Saddam Hussein had weapons of mass destruction, allegations that were later proven to be false. Unable to gain the agreement of the United Nations (UN) Security Council, the United States led a coalition of the willing (which included both the United Kingdom and Australia) to war with Iraq — an invasion that the UN Secretary-General Kofi Annan described as illegal and in breach of the UN Charter.
    
    > In its response to the 9/11 attacks, the United States undermined the rules-based international order.

    President George W. Bush asserted that America’s liberty depended on the liberty of others, because repressive states produce terrorists. Spreading democracy became a national security imperative to remove the conditions that foster terrorism. The cornerstone of Bush’s [Freedom Agenda](https://georgewbush-whitehouse.archives.gov/infocus/freedomagenda/) was to be the transformation of Iraq into a democracy. The architects of the Iraq war envisaged it would lead to a new regional democratic order and peace with Israel.

    However, in order to set Iraq on new democratic foundations, the US-led coalition dissolved Saddam Hussein’s Ba’ath Party and dismissed the security institutions. In so doing, it unintentionally created a power vacuum, leading to a breakdown in social order and Iraq’s descent into civil war.

    In its obsessive hunt to eradicate terrorists and prevent further attacks, the United States held thousands without due process, tortured detainees in Abu Ghraib and Guantanamo Bay, kidnapped suspects in one country and sent them via extraordinary rendition to another, and sanctioned assassinations even in countries where it was not at war.

    The Iraq war mobilised a new generation of jihadis with a vision not of democracy, but of a caliphate. Among the chaos, al-Qaeda established itself in Iraq. Its successor, ISIS, took advantage of the refusal of the Syrian regime to respond to the Arab Spring demands of its youth (for dignity, better governance, and jobs) to expand its control over ten million people in Iraq and Syria, bulldozing the border between the two countries.

    The Iraq war changed the regional balance of power in Iran’s favour, exacerbating a geopolitical struggle between it and Saudi Arabia. Across the wider region, the two powers gave their support to sectarian extremists, turning local grievances over poor governance into sectarian civil wars in which hundreds of thousands of Muslims were killed.

    In Syria, a total disdain was shown for international norms and the very notion of an international community was allowed to die. While all sides committed atrocities, the regime — aided by Iran and Russia — was by far the worst offender. More than half a million Syrians were killed, and over half the population displaced from their homes. No agreement could be reached in the UN Security Council on how to stop the bloodshed.

    Hundreds of thousands of people fled the region, crossing the Mediterranean Sea on flimsy boats to seek refuge in Europe. ISIS conducted horrific terrorist attacks in European cities, seeking to provoke a backlash against Muslims to show that the West was at war with Islam.

    > Democracy is no longer on the move. In fact, the number of liberal democracies has been declining since 2006.
    
    Western public confidence in globalisation as well as in political elites and experts was eroded by policy failures at home (including the 2007–08 financial crisis in which millions of ordinary people lost their homes while governments bailed out the bankers) and abroad (including the wars in the Middle East, the outflow of refugees, and terrorism). Regaining control of borders to limit immigration was a key driver of Brexit, the British decision to leave the European Union.

    Donald Trump’s hostility to trade alliances, international law, and multilateralism — and his tirades against Muslims, immigrants, and terrorists — propelled him to the White House.

    Democracy is no longer on the move. In fact, the number of liberal democracies has been declining since 2006. Externally-driven regime change did not lead to liberal democracy in Iraq, Afghanistan, or Libya.

    Instead, authoritarianism is on the rise. Contrary to hopes and expectations, China has not integrated into the US-led order. Rather, China is offering an alternative model where wealth and power can be amassed by opening to the global economy, but without a corollary political opening. The jury is still out on whether a totalitarian regime can self-correct in the face of crises. But for now, the “China Model” of authoritarian state-led capitalism is appealing to autocrats everywhere.

    Today, the primary US national security concern is no longer terrorism, but rather great power competition. The rivalry between the United States and China is ultimately over which country offers a better road to progress. Although America remains powerful both militarily and economically, its international reputation and legitimacy as the standard-bearer of democracy has been greatly tarnished by two decades of fighting without winning since 9/11, by its hypocritical human rights violations, and by its own political dysfunction. As a result, the world’s democracies are in a weaker position than they otherwise might have been to face the challenge posed by a rising China.

block append qanda
  :marked
    ### We now know that the Bush administration was committed to prosecute the Iraq war regardless of UN Security Council approval. You write that, as a result, “the United States undermined the rules-based international order that it had established after the Second World War”, yet doesn’t the fact that it put so much diplomatic effort into legitimising the invasion via the UN — even though it didn’t ultimately succeed — and the involvement in the UN post-invasion and running the subsequent elections mean that the United States was committed to maintaining the rules-based order?

    I disagree that the United States put much effort into gaining UN approval. It was important to the United Kingdom, but not to the United States, that there was a specific UN resolution to authorise the war. The Bush administration did not hold the UN in high regard and did not want the UN to have a large role post-invasion, even if the UN had been willing to take on such a role, which it was not. The Bush administration viewed the United States — and not the UN — as the supreme international authority. UN Secretary-General Kofi Annan described the Iraq war as illegal precisely because there was no UN Security Council authorisation. On 22 May 2003, the UN Security Council formally recognised — but did not endorse — the United States and the United Kingdom as occupying powers with UN Security Council Resolution 1483. Sergio Vieira de Mello, appointed as the Special Representative of the Secretary-General for Iraq, urged that real powers be given to an Iraqi transitional administration, but he was assassinated on 19 August 2003 in the bombing of the UN headquarters.

    ### You argue that the Iraq war, as part of the broader response to the 9/11 attacks, actually ended up spawning the Islamic State and the next generation of jihadists, who emerged in response to the US invasion. Yet couldn’t you argue that persistence and growth of jihadism in the Middle East has more to do with regional dynamics and dysfunction, such as ongoing political repression, corruption, sectarianism, and state-based regional competition?

    Many regimes in the Middle East are repressive and corrupt — and have been for decades. But it was the collapse of the Iraqi state — following US decisions to implement “[de-Ba’athification](https://www.aljazeera.com/opinions/2013/3/12/iraqs-de-baathification-still-haunts-the-country)” and dissolve the security forces — that led to civil war and created the chaotic conditions that enabled jihadist groups to take root and flourish in Iraq. Membership of jihadist groups swelled as they were perceived as the most effective in their opposition to the US occupation and the new regime. They were able to recruit followers locally who were driven by grievances, threats, income, and ideology. And thousands of Western-born Muslims were attracted to their cause.

    ### We are in a period of global democratic deficit, which you argue is due to the decline in the US’s reputation as the standard-bearer of democracy via “two decades of fighting without winning since 9/11”. How much is democratic backsliding due to the effects of 9/11 and the War on Terror? Doesn’t the current situation have more to do with domestic political dysfunction in the United States and other Western democracies?

    In its pursuit of the War on Terror, the United States undermined the image of democracy abroad with its failed national building efforts and violations of human rights, as well as domestically, with the [Patriot Act](https://www.congress.gov/107/plaws/publ56/PLAW-107publ56.pdf) infringing on civil liberties. American exceptionalism went into overdrive after 9/11. No one was held to account for the decision to go to war, nor the way in which the occupation was mishandled. The threat to the United States was exaggerated. Congress failed to critique policy. The military was glorified and put on a pedestal. The media failed to hold government to account. Vested interests perpetuated a war economy. Democracies are generally lauded for their ability to self-correct due to their openness. But the two decades of fighting without winning since 9/11 can be seen as emblematic of the decline in the quality of US democracy. It was the “forever wars” and the 2007–08 financial crisis (in which millions of ordinary people lost their homes, while government bailed out the bankers) that led to many people losing faith in the competence of elites and the subsequent rise of populism. The flood of refugees from the wider Middle East into Europe further aroused nativist and anti-immigration sentiments.
