@import app/static/features/indo-pacific-operating-system/styles/_vars.sass

html,
body,
body.embed-false
  background: white
  color: $color-dk
  height: unset

article
  padding: 6rem 0

#splash
  background-size: cover
  background-position: center

.landing-block
  padding: 3rem
  text-shadow: 0 0 2rem $color-dk
  
.profile-block
  padding: 3rem
  text-shadow: 0 0 2rem $color-dk
  border-top: 1px solid $color-border
  border-bottom: 1px solid $color-border
  background-image: url('../../img/noise.png')
  
.profile-text
  font-size: 24px
  font-weight: 300

.profile-image
  object-fit: cover
  object-position: center
  margin: 0 2rem
  box-shadow: 0 0 2rem rgba(black, .75)

p
  line-height: 1.8
  
blockquote p
  line-height: 1.4

@media (max-width: $screen-tablet)
  html,
  body,
  body.embed-false
    overscroll-behavior: none
  
  article
    padding: 0 1rem
    background: white
    
  .profile-block
    padding: 2rem
    margin-left: -1rem
    width: calc(100% + 2rem)
    flex-direction: column-reverse
    
  .profile-block
    flex-direction: column-reverse
