.title
  text-shadow: 0 0 2rem #002b45
  
  .txt-sm
    font-size: 3.5vh
    line-height: 1.25
  .txt-xl
    font-size: 12vh
    line-height: 1.1
    
  @media (orientation: portrait)
    .txt-sm
      font-size: 5vw
      
    .txt-xl
      font-size: 14vw
  
  h1 div:not(:first-child)
    padding-top: 0vh
  

section
  padding-top: 5rem
  
  &:last-child
    padding-bottom: 5rem
