h1,h2,h3
  text-transform: uppercase
  font-weight: 700

h1
  font-family: $font-caption-stack
  font-size: 3rem
  line-height: 1

h2,h3,h5
  font-family: $font-caption-stack

h2
  font-size: 2rem
  
h3
  font-size: 1.5rem

h4
  font-family: $font-default-stack
  font-size: 1.25rem
  
h4,h5
  text-transform: none
  letter-spacing: 0
  font-weight: 700

h5
  text-transform: uppercase
  font-size: 1.2rem
  font-weight: 700
  

strong, .txt-tu, .caption
  font-family: $font-default-stack
  font-weight: 700
  font-style: normal
  letter-spacing: 0.02em

blockquote
  color: inherit
  font-size: 0.9em
  padding: 1rem 2rem
  margin: 2rem 1rem 2rem 0
  letter-spacing: 0.02em
  border-width: 0
  border-color: currentColor
  border-left: 4px solid currentColor
  background: $color-lt

.txt-sans
  font-family: $font-default-stack

.txt-cond
  font-family: $font-caption-stack

.uppercase,
.txt-mini,
.txt-micro
  text-transform: uppercase
  letter-spacing: .05em
  
.txt-mini
  font-size: 15px

.txt-micro
  font-size: 13px
  
// Sizes
.txt-xxl
  font-size: 60px
.txt-xl
  font-size: 40px
.txt-lg
  font-size: 28px
.txt-base
  font-size: 18px
.txt-md
  font-size: 16px
.txt-sm
  font-size: 14px
  font-family: $font-default-stack

.txt-links
  font-size: 40px
  line-height: 48px
  margin-top: -4px

.lead-tightest
  line-height: 1
.lead-tight
  line-height: 1.2

.fw700
  font-weight: 700
.fw600
  font-weight: 700
.fw500
  font-weight: 700
.fw400
  font-weight: 400

.txt-nowrap
  white-space: nowrap

.bare
  text-decoration: none!important
