extend ../../partials/issue

block prepend config
  - author = "Lydia Khalil"
    
block bio
  :marked
    ***Lydia Khalil*** is a Research Fellow in the West Asia Program at the Lowy Institute. She manages the Institute‘s partnership with the Global Network on Extremism and Technology.

block content
  :marked

    Australia’s decisive move to close its international borders, and its state governments’ use of emergency powers to enact restrictions on freedom of movement and assembly have helped the country remain relatively unscathed in terms of deaths and severe illness from Covid. Even under current Delta variant daily caseloads of more than 1500 in early September 2021, Australia’s Covid infections are still far below international averages. Yet behind this success lies a worrying, and potentially long-term, erosion of Australians’ civil liberties and human rights.

    Australia’s most important neighbour, Indonesia, and its closest ally, the United States, have been devastated by illness and death through either lack of resources, incompetence, or unwillingness to enact similarly strict measures on borders and restrictions on movement and association.
    
    > Federal and state governments have made some questionable decisions for a liberal democracy.  

    In comparison, Australia’s early successes at suppressing the pandemic have given elected officials in Australia a wide berth to maintain the state of emergency powers which remove traditional checks on authority in the name of public health. Elected leaders discovered political popularity in their hard-line approaches. Because of the high confidence placed by Australians in their public health officials, these leaders have been quick to defer to public health advice without balancing that advice against considerations of civil liberties. 

    In so doing, federal and state governments have made some questionable decisions for a liberal democracy.

    Australia has banned its own citizens from leaving the country without express permission — a move that has raised human rights concerns from the United Nations. Using existing biosecurity legislation, Australia even threatened to jail and fine its citizens for attempting to return home from India. It has left tens of thousands of its own citizens to languish overseas, unable to return home due to hotel quarantine caps. This is not only a violation of civil liberties, but an erosion of the rights of Australian citizenship.
    
    At the state level, public health measures appear increasingly punitive — particularly in lower socioeconomic and minority communities. When Victoria locked down thousands of public housing residents in Melbourne in July 2020 with fewer than 24 hours’ notice, the Victorian ombudsman found it to be in violation of the residents’ human rights. She has gone on to identify thousands of other human rights breaches by public servants during the course of the pandemic. In Queensland, the state government recently prevented the parents of a premature newborn, both of whom had completed their quarantine, from visiting their baby despite a Covid-safe plan put in place by the hospital. Meanwhile, various snap state border closures have led to thousands of residents being locked out of their own state during the holiday travel season in 2021. These policies amount to some of the strictest public health measures in the democratic world.

    In parallel, mass surveillance has been largely normalised. In Victoria and Western Australia, drones have been used to monitor social distancing. Mobile surveillance units with CCTV cameras have been deployed to “capture and deter breaches of Chief Health Officer directions”. There is little public notice or debate on such modes of surveillance. Police have not provided information on why or where they are deployed, nor how surveillance footage is being used.
    
    > Failure to engage in a robust debate on the balance between civil liberties and public health will be detrimental to Australian democracy.

    The success of emergency powers in suppressing the pandemic, combined with a lack of regard for their impact on civil liberties, has allowed state governments to pursue legislation that would erode accountability. Last year, proposed Victorian legislation sought to remove the regular review of state of emergency declarations. While this draft legislation was retracted, states are renewing efforts to design new laws that would supersede temporary and reviewable state of emergency declarations, with few safeguards or mechanisms for accountability. 

    Yet in contrast to many of Australia’s democratic peers, the preservation of civil liberties and concerns about government overreach have not been the subject of serious debate in this country. That the few voices opposing the restrictions under various states of emergency are often those of conspiracy theorists and “sovereign citizen” protestors does not help. In fact, Australia’s reliance on lockdowns has fuelled conspiratorial narratives about an authoritarian takeover and energised extremist movements. 

    Failure to engage in a robust debate on the balance between civil liberties and public health will be detrimental to Australian democracy. The risk in the wake of this crisis is that extraordinary measures become normalised and human rights standards are permanently eroded. Trust between citizens and the state, historically high in Australia, may also suffer and impact long-term governance trends, particularly as tolerance for lockdowns and punitive measures starts to wane. 

    Australia’s ambassador to the United Nations recently told the UN Human Rights Council that “governments must ensure Covid-19 response measures comply with international human rights obligations”. Australia should urgently look to its own performance on this measure.
