extend ../../partials/_essay

block prepend config
  - author = "Anatol Lieven"

block append body
  :marked

    The most significant result of 9/11 by far was due not to the attack itself, but the American response to it; and it took place not in the United States itself, but in the Middle East. Outside that region, the effects of 9/11 have been surprisingly limited: existing features were accentuated, existing developments delayed or accelerated, but little fundamentally changed. The US response to 9/11, too, was critically shaped by longstanding traditions in US [political culture and institutions](https://www.amazon.com/America-Right-Wrong-American-Nationalism/dp/0199897557).

    The reason for this lack of change is that 9/11 proved to be a malignantly brilliant one-off, not the start of a series of major attacks. The monstrously expensive apparatus of Homeland Security was, therefore, created to combat an enemy that failed to appear. The measures that prevented further attacks – and would have prevented 9/11 and its consequences if they had been in place on 11 September 2001 – were low-key, inexpensive and indeed obvious. They ranged from stronger airport security to better co-ordination between the FBI and CIA to monitor potential foreign terrorists entering the country.
    
    > The most significant result of 9/11 by far was due not to the attack itself, but the American response to it.

    Although no single Islamist terrorist attack in Europe has so far come close to the scale of 9/11, the impact of Islamist terrorism has been much greater in Europe than in the United States because it feeds into wider and ongoing fears of Muslim immigration and lack of Muslim integration into European societies. As a consequence, 9/11 contributed to a surge in support for nationalist parties which threatens to overturn the existing European political order. In the United States, where the Muslim population is much smaller and on the whole much more assimilated, this impact, though real, has been less significant.

    In the United States, the long-term impact of 9/11 does not compare to the great underlying tensions that have shaped American life over generations and centuries: racial tensions and oppression; fears created by immigration; concern about cultural change and the threat to religion and morality; fears about the impact of alcohol and drugs; and the Cold War, reinforcing older fears of a threatening outside world. The impact of 9/11 rather resembles one of the “moral panics” analysed by James A. Morone in [_Hellfire Nation_](https://www.amazon.com/Hellfire-Nation-Politics-American-History/dp/0300105177); a wave of public hysteria that, like Prohibition and McCarthyism, has receded again, leaving behind a new layer of US security institutions and practices.
    
    The impact of 9/11 on global geopolitics has also been limited. In the case of US–Russia relations, the resulting thaw lasted literally three months, until in December 2001 the Bush administration announced the [abrogation](https://www.armscontrol.org/act/2002-07/news/us-withdraws-abm-treaty-global-response-muted) of the Anti-Ballistic Missile (ABM) Treaty, and went on to launch the invasion of Iraq and attempted to expand the North Atlantic Treaty Organisation (NATO) to Georgia and Ukraine.

    In the case of US–China relations, 9/11 – or rather the US embroilment in Iraq and Afghanistan that followed – delayed by a decade US moves to contain China’s growing power and influence. The Bush administration came to power in 2001 with this strategy high on its agenda. Its implementation, however, did not begin until the Obama administration announced the “[Pivot to Asia](https://www.brookings.edu/articles/the-american-pivot-to-asia/)” in 2011. How much difference this time lag made to China’s rise is, however, not clear.

    Oddly enough, the impact of 9/11 has also proved limited in Afghanistan, where it all began, and despite all those who have died there. The US attempt to create a modern Afghan state has failed, like others before it. The Taliban will return to power, though hopefully in a more moderate and pragmatic form than before 9/11. Afghan developments will be managed – or not – by the countries of Afghanistan’s region, with the United States playing a relatively minor role.
    
    > All future histories of the Middle East will therefore give an important place to 9/11 and the catastrophic US strategy that it enabled.

    In the Middle East, by contrast, the impact of 9/11 has been colossal, and not just in terms of lives lost. A US invasion of Iraq had been long desired by sections of the US establishment, but it is very unlikely that the Bush administration could have gained the necessary public support for the move without the mass hysteria caused by 9/11, and the administration’s resulting ability to fabricate a link between Saddam Hussein, Iraqi weapons of mass destruction, and Islamist terrorism.

    The destruction of the Ba’ath Iraqi state led to a vast increase in Shia and Iranian influence, and to ferocious conflict between Shia and Sunni. Increased fear of Iran pushed Saudi Arabia and other Sunni Arab states into de facto alliance with Israel, with dangerous consequences for their domestic legitimacy. The appearance first of Al-Qaeda in Iraq and then of ISIS as a result of the US invasion of Iraq fed into the Syrian Civil War, which brought Russia back into the Middle East. The US alliance with the Kurds to fight ISIS contributed greatly to the radical alienation of Turkey from the Western alliance. All future histories of the Middle East will therefore give an important place to 9/11 and the catastrophic US strategy that it enabled.

    The events of 9/11 have not, however, defined the world in general, and certainly not “our” world in the West. The truly defining factors are quite different: the growing geopolitical struggle with China; the domestic troubles of Western democracies, exacerbated by socio-economic inequality; mass migration and its social, cultural and political consequences; the uncertain but probably immense impact of artificial intelligence and genetic engineering; and above all climate change, that is literally altering the world in which we must go on living.

block append qanda
  :marked
    
    ### You write that after the 9/11 attacks, “The monstrously expensive apparatus of Homeland Security was therefore created to combat an enemy who failed to appear” and that the attacks were a one-off. But did the threat fail to appear, or did the Homeland Security apparatus successfully prevent another attack?

    The measures that prevented a repetition of anything on the scale of 9/11 were simple and low cost. They did not require the immense apparatus and expense of the Department of Homeland Security. Its most useful role was probably to create better cooperation between the Federal Bureau of Investigation (FBI), Central Intelligence Agency (CIA), and National Security Agency (NSA), the lack of which was largely responsible for the failure to identify the 9/11 terrorists. Such coordination, however, did not require a vast new government department. It may be noted that Western European states, which are much more exposed to Islamist terrorism than the United States because of their proximity to the Muslim world, and much larger and more radicalised Muslim populations, have contained this threat (though not, of course, ended it) with a fraction of the money spent on the Department of Homeland Security.

    ### The Iraq War exposed sectarian tension and conflict in Iraq and the wider region, as you outline in your essay. But the regional competition between Iran and Saudi Arabia has been an enduring feature of the region at least since the Iranian Revolution of 1978–1979. How much can we really blame the Iraq War for the “furious conflict” between Shia and Sunni blocs in the Middle East?

    Hostility between Sunni and Shia dates back more than 1700 years, almost to the very birth of Islam. It has flared up periodically since, notably in the wars between the Sunni Ottoman Empire and Shia Safavid Persia in the sixteenth and seventeenth centuries. The Wahabis of Saudi Arabia have been bitterly anti-Shia since their emergence in the eighteenth century, and it is quite correct that the Iranian Revolution stoked this hostility still further.

    However, it is also clear that the new Shia ascendancy in Iraq resulting from the US invasion, and fears of a “Shia Crescent” that this created, inflamed still further the fears of Saudi Arabia and other Sunni states (as well as Israel). The Iraqi Sunni backlash against the Shia and the US occupation also gave birth to the savagely sectarian forces of Al-Qaeda in Iraq and its offspring ISIS, which in turn helped to turn the conflict in Syria from an anti-regime uprising to a ferocious sectarian civil war. So although sectarian conflict was not the intention of the US planners of the invasion of Iraq (they were in most cases shamefully ignorant of Iraqi history and society), they cannot escape a share of responsibility for these outcomes.

    ### In your conclusion you point to a number of other factors that could redefine our world, such as geostrategic competition, climate change, and technological change. Other contributors have argued that the Global War on Terror (GWOT) was a distraction from dealing with those challenges. Because of that distraction, could 9/11 have been more impactful than we think?

    As I argued, 9/11 did delay by a decade the US pushback against rising Chinese power, and this was a significant effect – though how significant is not clear and perhaps never will be.

    In Britain, as noted by Professor Cox, an indirect result of 9/11 – Tony Blair’s decision to support the US in the invasion of Iraq – did have a very important result. It discredited Blair’s “Third Way” strategy in the Labour Party, bitterly divided that party, and led to a revival of its radical wing. This in turn led to a new hegemony of the Conservative Party in British politics, and contributed to Brexit.

    However, 9/11 did not have any significant impact on action against climate change. In the US, the Bush administration (like the Trump administration) came to office with an agenda of climate change denial, and in the months prior to 9/11 had already cancelled as much as it could of the climate change measures of the previous Clinton administration. These policies continued regardless of 9/11.

    It is possible to argue that embroilment in the Iraq and Afghan wars (and the dilemma of what to do about the Syrian Civil War) distracted the Obama administration from quicker and stronger action to limit climate change.

    This cannot however be proved, as a much more formidable obstacle to legislative action on climate change was created by the hostility of several key Democratic senators, as well as virtually the entire Republican Party in Congress (especially after the Republicans regained control of the Senate in 2010). The growth of fracking, leading to US energy self-sufficiency, also removed part of the argument for alternative energy on the grounds of national security.

    As for the other key global emitters of carbon gases (China, Europe, India, Japan, and Russia), 9/11 and its consequences either had no visible effect on their climate change policies, or in some cases may to a limited degree have spurred moves to alternative energy because of increased fears about the security of Middle Eastern oil and gas supplies.

    So my argument stands: in the Middle East, the impact of 9/11 – or rather, the misguided and disastrous Bush administration _response_ to 9/11 – was indeed momentous. Outside that region, despite its tragic and horrific effects, historians are likely to say that the attacks of 9/11 had only a very limited real impact.
