.slide.bg-dk
  .mx-auto
    .type.txt-xl.txt-ff(
      data-view="type, in-viewport"
      data-duration=1000
      style="margin: 0 auto 60px"
    )
      span.line.txt-mono.bg-lta The Party and Business
