footer.bg-xdk.ph-lg.pv-md
  .flex.content-between.flex-ch.h-full.txt-tu.txt-sm
    a#footer-logo.txt-bare.header-logo.ph-sm(href="https://www.lowyinstitute.org/")
      | Lowy Institute
    
    #footer-links.flex.flex-col.ph-sm
      a.txt-bare(href="/features/indonesia-poll/preface") Preface
      a.txt-bare(href="/features/indonesia-poll/about") About the poll
