header.visible.fixed.w-full.z100
  #progress
  .txt-tu.txt-sm
    a#header-logo.txt-bare.flex-col(href="/features/indonesia-poll/")
      span.wordmark Lowy Institute
      span.project.txt-xhl
        | Indonesia
        | Poll 2021
    
    include social
