extend ../../partials/issue

block prepend config
  include ../../partials/chart
  - href = "foreign-policy" 
  
block endnote
block content
  :marked
    At a time of increasingly contested and overlapping geopolitical identities, Indonesians have a clear vision of their place in the world that is centred on Asia, Islam and democracy. Around nine in ten respondents (89%) say that Indonesia is part of ‘the democratic world’ and ‘Southeast Asia’, while 78% say Indonesia is part of the Asia-Pacific and 72% say it is part of the Islamic world.
    
    While the Indonesian government has worked to frame Indonesia as a key actor in the Indo-Pacific, only a bare majority — 57% of Indonesians — agree that Indonesia’s place in the world is the Indo-Pacific. Only 44% say that Indonesia belongs to the Global South, despite Indonesia’s traditional role as a promoter of developing county cooperation, dating back to the Asia–Africa (Bandung) Conference of 1955, and recent government efforts to revive that spirit through initiatives such as the South–South and Triangular Cooperation (SSTC).

  +chart(18)

  :marked
  
    That said, Indonesians’ opinions on major foreign policy have remained remarkably consistent since 2011, with most respondents wanting the government to focus on keeping citizens safe overseas and supporting jobs and the economy at home. This is broadly in line with President Joko’s push for Indonesia to concentrate on economic diplomacy.
    
    As in 2011, Indonesians’ three most important ambitions for their foreign policy are ‘protecting Indonesian citizens abroad’, ‘strengthening the Indonesian economy’ and ‘protecting the jobs of Indonesian workers’. While these remain top priorities for Indonesians, with 91% saying these goals are either ‘very important’ or ‘fairly important’ for Indonesian foreign policy, the number of Indonesians that say these are ‘very important’ priorities has fallen by approximately 20 points since 2011.
    
    The other two top-ranked goals are ‘protecting Indonesia’s sovereign waters or archipelagic waters’ and ‘protecting the health of citizens domestically’. Concern about the protection of Indonesian waters comes at a time of continued friction between Jakarta and Beijing over control of Indonesia’s exclusive economic zone in the Natuna Sea, and broader concerns about illegal incursions by foreign fishing fleets.
    
    Nine in ten Indonesians (90%) say that ‘strengthening Indonesia’s trade relations’ is either very or fairly important, reflecting domestic economic concerns. A similar proportion (89%) say ‘promoting Indonesian businesses overseas’ is an important foreign policy goal.
    
    On the whole, Indonesians also see global and regional challenges as important goals, but place a lower priority on them than domestic and trade-related concerns. Many Indonesians describe strengthening international institutions, peace and conflict resolution and other foreign policy goals as ‘fairly important’, rather than ‘very important’.
  
    More than eight in ten Indonesians (87%) say that ‘combating international terrorism’ is either very or fairly important, unchanged from 2011. A similar number (89%) say that ‘strengthening the Association of Southeast Asian Nations’ and ‘strengthening the United Nations’ are important goals for Indonesia, both stable since 2011.
  
    Indonesians are more concerned about climate change than in 2011, with 87% saying that ‘tackling climate change’ is an important goal, a six-point increase over the past decade. Concern about nuclear weapons has also increased, with 84% saying ‘helping to prevent the spread of nuclear weapons’ is a very or fairly important goal, up seven points since 2011.
  
    The vast majority of Indonesians (86%) say ‘promoting peace and conflict resolution’ is an important goal for Indonesian foreign policy. More Indonesians than a decade ago see promoting democracy in other countries as an important goal (78%, up 12 points from 2011). The same proportion of Indonesians (78%) say ‘advocating for Muslim communities in other countries’ is a very or fairly important goal. Religious background is an important factor for this question, with 36% of Muslim Indonesians saying advocating for Muslims overseas is a very important goal, compared to 26% of non-Muslim respondents.
  
    Three-quarters of Indonesians (76%) say ‘promoting gender equality internationally’ is a very or fairly important goal. This is a view held regardless of gender, with no significant difference between the views of male and female Indonesians.
  
    Much like in 2011, bilateral relations are seen as the lowest priority goal for many Indonesians. Three-quarters of Indonesians (76%) see ‘building close relations with the United States’ as important, which has not changed since 2011. A similar number (72%) say ‘building close relations with Australia’ is important, which has fallen eight points since 2011. At the bottom of the list is ‘building close relations with China’, an important goal for 64% of Indonesians, which represents a six-point decline since 2011.

  +chart(20)

  :marked
  
    As Indonesia becomes wealthier, modernises its military and raises its voice abroad, there are growing expectations that Jakarta will take a more proactive and sustained role, if not leadership, in responding to global conflicts.
  
    The 86% of respondents who see ‘promoting peace and conflict resolution’ as a very or fairly important goal for Indonesian foreign policy are broadly supportive of some of the Indonesian government’s recent steps to promote peace and stability. Their top priorities for Indonesia’s peace and conflict resolution agenda are: deploying Indonesian peacekeepers to other countries (87% saying important), playing a larger role in the Islamic world (82%), providing foreign aid to developing countries (80%) and creating an independent Palestinian state (79%).
  
    The support for providing foreign aid to developing countries suggests some backing for the government’s new Indonesian Agency for International Development, which was launched in 2019. Thinking about other diplomatic initiatives taken by Jakarta in recent years, 73% say that addressing the Rohingya issue is important, 69% say that supporting an inclusive government in Afghanistan is important, and 66% say that playing a leadership role in resolving the Myanmar crisis is important.
  
    When it comes to regional security, three-quarters (76%) say that it is important for Indonesia to push ASEAN to manage the South China Sea disputes. But other China-related challenges are seen as less important: two-thirds of Indonesians (73%) say it is important to protect Uyghur communities in China, and fewer (62%) see ‘helping to mediate US–China competition’ and ‘supporting the democratic movement in Hong Kong’ as important goals for Indonesia.

  +chart(21)

  :marked
  
    Despite sharing some of the government’s key foreign policy objectives, only a quarter of Indonesians have heard of the government’s signature ‘independent and active’ (_bebas dan aktif_) foreign policy principle.
  
    The principle was first laid out by Mohammad Hatta, one of the country’s founders, following Indonesia’s revolutionary struggle to secure independence from the Netherlands after the Second World War and during the early days of the Cold War. The principle embodies Indonesia’s desire to play a proactive role in world affairs without siding with any great powers. It was also a politically expedient principle to avoid Cold War-induced domestic polarisation and instability.
  
    Of those who have heard of the independent and active principle, 45% say they have a ‘good understanding’ of what it is about, 42% have a ‘vague idea’, and 13% have ‘no idea at all’. And among those who have a good or vague idea about the policy, there is overwhelming support, with 90% saying Indonesia should maintain the independent and active principle.
  
    Enthusiastic nationalism is a prominent element of the public, media and political debates about Indonesia’s place in the world, as it is in many countries. But in terms of diplomatic style, only one in five respondents say they want to see the government ‘defending Indonesia’s interests at all costs, even if it involves confrontation with other countries’. Some 46% say they favour the government taking a middle path ‘being firm but polite, even if it causes some friction with other countries’. And just over one in three wants to see Jakarta taking what some would regard as a traditional Javanese approach, ‘engaging with other countries in a patient way, seeking consensus through consultation’.

  +chart(23)

  :marked
  
    Although Indonesia often frames its foreign policy through its membership of ASEAN, only three in ten people (30%) say that ASEAN is the most important organisation for Indonesia, a ten-point fall since 2011. The United Nations now sits at the top of important organisations for Indonesians, with 41% saying the United Nations is the most important international organisation to Indonesia, an increase of seven points since 2011.
  
    Almost no Indonesians say the G20, which Indonesia is currently chairing, is the most important organisation to Indonesia. Despite the centrality of the ‘Islamic world’ and ‘Asia-Pacific’ to Indonesia’s regional and global identity, the Organisation of Islamic Cooperation, Asia-Pacific Economic Cooperation, and the Non-Aligned Movement all receive results in the single digits.

  +chart(25)

  :marked
  
    Overall, 81% of Indonesians are ‘optimistic’ or ‘very optimistic’ about ASEAN’s role in the future, but only 17% of those are ‘very optimistic’. Although ASEAN has faced growing challenges in recent years, including its responses to the pandemic, great power competition, and the Myanmar crisis, these responses suggest little change since ASEAN’s own polling in 2018, which found that 88% of Indonesians are optimistic about the organisation’s future success, compared to 78% of ASEAN citizens. Future research might be needed to understand the sources of such optimism, especially given the decline of ASEAN’s importance compared to the United Nations among the Indonesian public.

  +chart(26)

  :marked
  
    Like a growing number of other countries, Indonesia has explored a range of minilateral partnerships to complement its bilateral and multilateral diplomacy, including MIKTA (made up of Mexico, Indonesia, South Korea, Turkey and Australia) and the Indonesia–India–Australia trilateral. Although the country has had a longer history of minilateral cooperation, such as the Malacca Straits Patrol (early to mid-2000s) and the Indonesia–Malaysia–Singapore Growth Triangle (mid-1990s), only one in three (35%) say that they would support ‘Indonesia forming partnerships/minilaterals with other middle powers and neighbours depending on different issues and interests’, and 13% say they would oppose such partnerships. But the response of the majority (52%) to this question is to say they did not know.
  
    Of those who support the minilateral approach, Japan is far and away the top partner of choice, backed by 46% of these 1,046 respondents. Next comes neighbouring Singapore (14%), Australia (13%) and Malaysia (10%), all of which already participate in a range of different minilateral initiatives with Indonesia. A mere 5% support minilateral cooperation with China, and there is no support for minilaterals with other Southeast Asian neighbours, including the Philippines, Thailand, Timor-Leste and Vietnam.

  +chart(34)

  :marked
  
    **Confidence in institutions**
  
    Overall, Indonesians have a very high degree of confidence in their national security institutions to defend Indonesia’s strategic interests, with more than nine in ten people having some or a lot of confidence in these organisations.
  
    The Indonesian Armed Forces receive the highest vote of confidence, with almost all Indonesians (97%) having ‘a lot of confidence’ or ‘some confidence’ in their military to defend Indonesia’s interests. A remarkable 70% of Indonesians have a lot of confidence in the military to defend the country from external threats. This seems to follow the military’s high public approval rating over the past decade. There are also very high levels of confidence in Indonesia’s maritime security agency (94%) and intelligence agencies (92%). Most Indonesians have either a lot or some confidence in the foreign ministry (91%) and Indonesian police (83%).

  +chart(19)

  :marked
  
    When asked about external threats specifically, rather than broader strategic interests, Indonesians continue to demonstrate high levels of confidence in the military. Six in ten Indonesians (62%) have a lot of confidence in the Indonesian military to defend Indonesia from external threats, with 34% saying they have some confidence.

  +chart("19b")

  :marked