[fade],
.is-inview.fade
  opacity: 0
  animation: fadein 1.5s forwards

[burst]
.is-inview.burst
  opacity: 0
  animation: burst 1.5s forwards cubic-bezier(0.43, 0.49, 0.28, 1.19)

@for $i from 1 through 30
  .delay-#{$i * 100}
    animation-delay: $i * 100ms

@keyframes burst
  from
    opacity: 0
    transform: scale(0)
  to
    opacity: 1
    transform: scale(1)

@keyframes rise
  from
    opacity: 0
    transform: translate(0,100%)
  to
    opacity: 1
    transform: translate(0,0%)
    
@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1
