@import app/static/features/9-11/styles/_vars.sass

html,
body,
body.embed-false
  background: white
  color: $blue-dark
  height: unset

article
  padding: 6rem 0
  padding-left: 190px
  font-weight: 300

#submenu
  top: 0
  left: 240px
  right: 50px
  z-index: 10
  padding: 0.25rem 0
  background: white
  border-bottom: 1px solid
  
  a
    padding: 0.3rem
    transition: all .2s
    
    &.current
      background: rgba($blue-light, 1)
      color: white
    &.current:hover
      background: rgba($blue-light, 0.95)
    &:hover
      background: rgba($blue-light, 0.2)

.profile
  font-size: 16px
  font-weight: 300

#essay
  p
    line-height: 1.8

#qanda
  h3
    font-size: 1rem
    font-weight: 600

  p
    &:not(:last-child)
      margin-bottom: 2.25em

#progress
  left: 0
  top: calc(100% - 2px)
  height: 4px
  z-index: 20
  background: #004b78

@media (max-width: $screen-tablet)
  article
    padding: 8rem 1rem
    
  #submenu
    top: 4rem
    left: 0
    right: 0
    
  .profile
    flex-direction: column
