*
  box-sizing: border-box
  
html,
body,
body.embed-false
  margin: 0
  background: linear-gradient(-135deg, $blue-light, $blue-dark)
  width: auto
  height: 100vh
  overflow: auto
  color: white
  font-size: 18px
  line-height: 1.6

article,
.content
  margin: auto
  max-width: 650px

.text-mini
  text-transform: uppercase
  font-size: 14px
  font-weight: 600
  letter-spacing: 0.1em
  
.text-micro
  text-transform: uppercase
  font-size: 12px
  font-weight: 600
  letter-spacing: 0.15em

svg
  overflow: visible
