*
  box-sizing: border-box
  
html,
body,
body.embed-false
  margin: 0
  background: linear-gradient(-135deg, $blue-light, $blue-dark)
  width: auto
  height: 100vh
  overflow: auto
  color: white
  font-size: 18px
  line-height: 1.6
  scroll-behavior: smooth

article,
.content
  margin: auto
  max-width: 675px
  box-sizing: content-box

.text-mini
  text-transform: uppercase
  font-size: 14px
  font-weight: 600
  letter-spacing: 0.1em
  
.text-micro
  text-transform: uppercase
  font-size: 12px
  font-weight: 600
  letter-spacing: 0.15em

svg
  overflow: visible
  
  button &
    height: 1em
    fill: currentColor

a
  &:hover,
  &:focus
    color: inherit
  &.bare
    text-decoration: none

h1,h2,h3
  font-family: "Semi"
  
h1
  font-size: 3rem
  font-weight: 400
  line-height: 1
  
  article &
    font-weight: 500
    line-height: 1.2
    
  #menu &
    font-size: 2.5rem
    line-height: 1.2

h2
  font-size: 1.8rem

blockquote
  border-top: none
  border-bottom: none
  border-left: 2px solid $blue-light
  padding: .5em 1.5em
  font-style: italic
  font-weight: 500
  margin: 1.25em 0 1.25em 2em
  font-size: 20px
  color: inherit
  float: right
  width: 40%

.thumbnail
  height: 4.5rem
  width: 4.5rem
  border-radius: 50%
  border: 2px solid rgba($muted, 0.75)
  object-fit: cover
  

[fold]
  overflow: hidden
  transition: max-height .4s

@media (max-width: $screen-tablet)
  
  h1
    #menu &
      margin-bottom: 0
      line-height: 1.2
      font-size: 1.75rem


  blockquote
    float: none
    width: 100%
    margin-left: 0
