.landing-slide
  padding: 6rem
  position: relative
  min-height: 100vh
  
#title
  position: fixed
  z-index: 1
  left: 3rem
  bottom: 3rem
  width: 290px
  font-size: 26px
  pointer-events: none
    
#landing-img
  position: absolute
  left: 45vw
  bottom: 0
  
  img
    padding-top: 25vh
    height: 100vh

.scroll-button
  position: fixed
  bottom: 3rem
  right: 3rem
  padding: .5rem
  border: none
  transition: opacity .75s, transform .3s
  z-index: 2
  
  &.disabled
    opacity: 0
    pointer-events: none
  
  &:hover
    background: none
    transform: scale(1.04)
  
  svg
    top: 95%
    left: calc(50% - .5em)
    position: absolute
    transform-origin: center
    animation: bounce 1s ease infinite alternate
    
#slide-1
  z-index: 1
  min-height: 0
  height: 100vh
  // margin-bottom: -6rem
  
  img
    filter: grayscale(0.5)

#slide-3
  padding-bottom: 1rem


@media (max-width: $screen-tablet)
  
  #landing-img
    left: 0
    
    img
      padding-top: 40vh
    
  #title
    top: 3rem
    right: 3rem
    bottom: unset
    width: unset
    
  .landing-slide
    padding: 2rem 1rem

  .scroll-button
    display: none    

  #slide-1
    display: none
    
  #slide-3
    .absolute.inset-0
      position: unset
    

      
