.landing-slide
  padding: 6rem
  position: relative
  min-height: 100vh
  
  &:first-child
    // min-height: 50vh
  
#controls
  display: flex
  position: fixed
  align-items: flex-end
  justify-content: space-between
  padding: 0 3rem 3rem
  width: 100%
  bottom: 0
  left: 0
  z-index: 1
  pointer-events: none
  
  .col:first-child
    align-self: flex-start
    
  button
    pointer-events: all

  &.compact
    .title
      opacity: 0
    .subtitle
      transform: translate(0,-1.5rem) scale(0.85)
      width: 250px

.btns
  transition: all .5s ease-out
  
#menu-button
  display: flex
  height: 4rem
  padding: 1rem 2rem
  font-size: 16px
  width: 120px

.title
  font-size: 3.25rem
  font-weight: 900
  letter-spacing: 0.1em
  transition: all .3s ease-out
  padding-bottom: 1rem
  
.subtitle
  position: absolute
  top: calc(100% - 1.5rem)
  width: 500px
  font-size: 18px
  word-break: break-all
  transition: all .5s ease-out
  transform-origin: left
    
#landing-img
  position: absolute
  left: 45vw
  bottom: 0
  
  img
    padding-top: 25vh
    height: 100vh
    
#slide-1
  img
    filter: grayscale(0.5)
  
.slide-0
  #back
    opacity: 0
    pointer-events: none
