.landing-slide
  padding: 6rem
  position: relative
  min-height: 100vh
  
#title
  position: fixed
  z-index: 1
  left: 3rem
  bottom: 3rem
  width: 280px
  font-size: 32px
  
#subtitle
  font-size: 14px
  font-weight: 500
  letter-spacing: 0.2em
  line-height: 1.4
    
#landing-img
  position: absolute
  left: 45vw
  bottom: 0
  
  img
    padding-top: 25vh
    height: 100vh

.scroll-button
  position: fixed
  bottom: 3rem
  right: 3rem
  padding: .5rem
  border: none
  transition: opacity .75s, transform .3s
  z-index: 2
  
  &.disabled
    opacity: 0
    pointer-events: none
  
  &:hover
    background: none
    transform: scale(1.04)
  
  svg
    top: 95%
    left: calc(50% - .5em)
    position: absolute
    transform-origin: center
    animation: bounce 1s ease infinite alternate
    
#slide-1
  z-index: 1
  min-height: 0
  height: 100vh
  // margin-bottom: -6rem
  
  img
    filter: grayscale(0.5)

#slide-2
  p:last-child
    margin-bottom: 1.4em
  
#slide-3
  padding-bottom: 1rem

#submenu
  width: 100%
  border: 1px solid $muted
  padding: .25rem
  
  a
    padding: .5rem 1rem
    transition: background .3s
    
    &:hover
      background: rgba(white, .25)
    &:first-child
      border-right: 1px solid $muted

@media (max-width: $screen-tablet)
  
  #scroller
    padding-bottom: 4rem
    
  #landing-img
    left: 0
    
    img
      padding-top: 40vh
    
  #title
    top: 3rem
    right: 3rem
    bottom: unset
    width: unset
    
  .landing-slide
    padding: 2rem 1rem

  .scroll-button
    top: 0
    right: 0
    bottom: unset
    z-index: 1000
    flex-direction: row
    padding: .75rem 1rem
    height: 70px
    
    .arrow
      position: relative
      left: unset
      top: unset
      padding-left: .5rem

  #slide-1
    display: none
    
  #slide-3
    min-height: 0
    height: auto
    
    #menu,
    #menu-modal,
    #scale-wrap
      position: relative
      top: auto
      left: auto
      right: auto
      bottom: auto

      
