$h-card: 34px

#logo
  position: fixed
  color: white
  top: 2rem
  left: 2rem
  z-index: 200
  
  .wordmark
    width: 80px
  
  .landing &
    opacity: 0
    transition: opacity .75s

#menu
  z-index: 100
  position: fixed
  pointer-events: none
  color: white

#menu-button
  position: absolute
  left: 2rem
  bottom: 1rem
  padding: 1rem 2rem
  pointer-events: all
  z-index: 1
  
  .label
    transition: all .2s
    position: absolute
    top: -.5em
    
    &:first-child
      opacity: 0
      transform: translateY(1em)
  
  g
    transform: rotate(-180deg)
    transition: all .2s
    
  .collapsed &
    
    g
      transform: rotate(0deg)
      
    .label
      &:first-child
        opacity: 1
        transform: translateY(0)
      &:nth-child(2)
        opacity: 0
        transform: translateY(-1em)
  
#menu-modal
  background: linear-gradient(-135deg, $blue-light, $blue-dark)
  animation: fadein 0.4s forwards
  padding: 2rem 3rem
  pointer-events: all

#question
  flex: 0.5
  padding-right: 2rem
  border-right: 1px solid $muted
  
#scale
  justify-content: center
  height: 100%
  margin: 0 2rem

  .col
    &:first-child
      padding: 0 2rem
      border-right: 1px solid
  
  .agree .label
    bottom: 3rem
  .disagree .label
    top: 3rem
    
  .label
    flex: 1
    font-weight: 400
    letter-spacing: 0.2em
    left: 0rem
    
  .node
    padding: 0.5rem 1rem
    transition: all .3s
    transform-origin: left center
    
    &:hover

      .linkage
        &:before
          transform: rotate(45deg) scale(1.2)
          background: $blue-light
      
      .card
        background: #fff1
    
  .linkage
    position: absolute
    width: 2rem
    height: 1px
    background: white
    top: 50%
    left: 0
    display: none
    
    &:before
      content: ''
      position: absolute
      top: -7px
      left: -8px
      width: 13px
      height: 13px
      border: 1px solid
      background: $blue-lowy
      border-radius: 2px
      transform: rotate(45deg)
      transition: all .3s
    
  .card
    padding: .5rem .75rem
    border-radius: 4px
    margin-left: 5rem
    transition: background .3s
    
    &:hover
      color: white

//#scale
  .node
    &.left
      .linkage
        left: -2rem
        &:before
          left: unset
          right: -8px
      .card
        position: relative
        right: 100%

// When on homepage

.landing

  #menu
    position: absolute
    
  #menu-modal
    background: none
    display: flex
    
  #menu-button
    display: none


// When collapsed
aside

  #menu-button.hidden
    
  #menu-modal.hidden
    display: flex
    width: 190px
    padding: 0
    
    #question,
    #scale-title
      display: none
      
    #scale
      display: none
      position: relative
      padding-left: 1rem
      height: 30%
      top: 34%
      
      .col
        &:first-child
          border-right: none
      
      
      .label
        display: none
        
      .card
        opacity: 0
        width: 220px
        border-radius: 4px
        transform: translate(0,-$h-card)
        box-shadow: 0 0 25px rgba(black, 0.3)
        background: white
        color: $blue-lowy

      .linkage
        width: 0
        top: 0
        
      .node
        transform: none
        
        &:hover
          .card
            opacity: 1
            
        
      @for $i from 1 through 6
        .node:nth-child(#{$i})
          top: ($i - 1) * 20% !important


@media (max-width: $screen-tablet)
  
  #logo
    top: .75rem
    left: 1rem
    
    &::before
      content: ''
      position: fixed
      top: 0
      left: 0
      right: 0
      height: 70px
      pointer-events: none
      background: #002b45
      z-index: -1

    .wordmark
      width: auto
  
  #menu-modal
    flex-direction: column
    padding: 0
    
    aside &.hidden
      height: 4rem
      padding: 0
      width: 100%
      
  #menu-button
    top: 1rem
    right: 1rem
    padding: 1rem
    left: unset
    
  #question
    border-right: none
    padding-bottom: 1.5rem
    
  #scale
    padding-left: 0
    margin: 0
    
    .col:first-child
      padding: 0
      width: 2rem
      
    .node
      position: relative
      top: auto!important
      padding: .5rem
      
    .label
      position: relative
      display: inline-block
      padding: 1em 0
      
      &:after
        content: ''
        position: absolute
        right: 0
        height: 1px
        top: calc(50% - 1px)
        background: rgba($muted, 0.5)
      
    .agree .label
      top: -.75em
      bottom: unset
      
      &:after
        left: 70px

    .disagree .label
      top: 0.25em
      
      &:after
        left: 95px
      
    .linkage
      width: 1.25rem
      
    .card
      margin-left: 0
      
    .divider
      display: none
      
    
