.type
  white-space: nowrap
  overflow: hidden
  opacity: 0
  
  &.split
    opacity: 1
    
  &.visible
    opacity: 1

.line
  display: inline
  
.word
  display: inline-block
  opacity: 0
  
  .visible &
    animation: rise 1s forwards

  &:not(:first-child)
    margin-left: 0.25em
