button
  cursor: pointer
  color: white
  cursor: pointer
  background: none
  border: 1px solid
  padding: .5rem 1rem
  transition-duration: 0.3s
  
  &:hover
    background: $blue-dark
    
  &.bare
    border: none
    opacity: 0.5

    &:hover
      background: none
      opacity: 1

.highlight
  background: $highlight
  padding: .25em .5em
  border-radius: 2px
