extend ../../partials/issue

block prepend config
  - author = "Michael Fullilove"
    
block bio
  :marked
    ***Dr Michael Fullilove AM*** is the Executive Director of the Lowy Institute.

block content
  :marked
    In the beginning, Australia handled Covid very well.

    Being an island was an advantage. We were able to pull up the drawbridge more easily than most.  

    But our success was not all down to good fortune. Canberra was quick to act. In short order, the government banned visitors from mainland China, introduced a mandatory two-week quarantine for all travellers, and closed the borders to nearly all non-residents and non-citizens. Australia declared Covid a national pandemic a fortnight before the WHO did so. Generous Commonwealth expenditures cushioned the blow to the economy.

    Politicians and officials were conscientious and our universal healthcare system was critical. Importantly, the Australian people were calm, engaged, and pragmatic. 

    The results, measured in the ultimate metric of lives saved, were excellent. 

    But if the virus flattered Australia in 2020, it doesn’t flatter us so much in 2021. It shows Australia in a somewhat different light.

    <blockquote class="w-full">
    <p>As other developed countries re-open, Australia — an open-minded nation of immigrants and travellers, with a long-held belief in globalisation — remains closed to the world.</p>
    </blockquote>

    Both the acquisition and the early rollout of vaccines were flawed. And somehow Australians, known for being adventurous and laconic, allowed ourselves to be spooked by extremely rare vaccine side-effects that other comparable countries have taken in their stride. We put our vaccine brand preferences above the national welfare. Usually a curious and intrepid people, we became hesitant and fearful.

    National unity curdled into interstate rivalry. State loyalties re-emerged — along with state borders.

    We also became insular. In any crisis, people tend to look inwards. But this turn was particularly pronounced in Australia. We forgot that Australian security and prosperity depends on engagement with the world.

    The risk is that when Covid recedes, it leaves behind a smaller Australia.

    For most of our history, Australians have looked outwards, not inwards. We have always regarded ourselves as a country with global interests. You see this in the remarkable diversity of Australia’s military deployments: from the Boer War to the Boxer Rebellion; from the Dardanelles to the Western Front; from Greece to Malaya; from Vietnam and East Timor to Afghanistan and Iraq.

    You see it in the consistent public support for allying with the great global power of the day, first the United Kingdom and then the United States — and in the concerted drive since the 1970s to engage with Asia. You see it in our instinct to join multilateral institutions, like the United Nations, and to help create them, as we did with APEC and the G20.

    You see it in the foreign investment that has driven Australia’s growth since white settlement, and the large immigration programs of recent decades.

    But now consider the changes that have taken place in the Covid era.
    
    > The burden of Australia’s Covid response has been borne most heavily by our expatriates and our immigrants.

    Our international border has been closed for 18 months. Consider what this means for the one in two Australians who were either born overseas or had at least one parent born abroad, as well as the Australians currently living abroad: the births, marriages, and funerals missed, the last goodbyes forsaken. Think of the business opportunities missed, the fortunes not made, the foreign investment not won, the degrees not earned, the friendships not made.

    Disruption is inevitable in a global pandemic, and short-term border restrictions are a useful policy tool. But locking ourselves off from the world for so long is undesirable and unnecessary. 

    The burden of Australia’s Covid response has been borne most heavily by our expatriates and our immigrants. 

    Australia has always had a large diaspora, out there conquering the world. But the debate about Australians abroad has soured. 

    Australia has severely restricted the rights of its people to both leave and return to the country. Tens of thousands of Australians remain stranded overseas. And there has been a small-minded and mean tone to the public discussion about our expatriates. 

    We also seem to have forgotten the advantages of immigration. Properly managed, immigration is nation-building. It grows our economy; it makes us more demographically vigorous; it thickens our connections to the countries around us; it brings in imagination and ambition. The qualities of the immigrant are highly correlated to the qualities of the entrepreneur.

    Covid has temporarily frozen inward migration. This demographic shock will have implications for both our population and economy for decades – and yet we rarely hear public discussion about the need to kickstart immigration again.
    
    > We must not take Australia in a direction that is contrary to our interests and foreign to our historical experience.

    It seems likely that in coming months, parts of Fortress Australia will be dismantled. Perhaps the border will re-open and muscle memory will kick in. I hope we will resume our practice of finding our security and prosperity in the world — not from the world. But we need to be careful that we don’t get caught in a rut, complacent and happy with the Covid quo. We must not take Australia in a direction that is contrary to our interests and foreign to our historical experience. 

    We don’t want Australia to be a little nation, anxious about the world and disposed to erect barriers against it. It is better to be larger — a big, confident country, vigilant in relation to viruses and other threats, but self-assured enough to keep risks in perspective. 

    Australians are now getting vaccinated in ever greater numbers. We need to roll up our sleeves, get our jabs, open up our country as safely as possible, and rejoin the world. 

    At our best, Australians are adventurers, with a large conception of Australia’s role in the world. Fortress Australia is a smaller Australia.
