#menu.inset-0.collapsed
  #menu-modal.absolute.inset-0.flex.hidden
    button#menu-button.bare.flex-cv.text-micro.items-center
      .label menu
      .label close
      +arrow
    #question.flex-cv
      .fw-400.text-micro.txt-muted.mb-2 Essay Question
      h1.type(data-view="type, in-viewport" data-norepeat data-callback="showScale")
        .line September 11 changed America, but did it change the&nbsp;world?
    #scale-wrap.flex-1(fade)
      //- #scale-title.text-mini.mx-12.mb-2 Expert responses
      include _scale
