extend ../../partials/issue

block prepend config
  - author = "Ben Bland"
    
block bio
  :marked
    ***Ben Bland*** is Director of the Southeast Asia Program at the Lowy Institute.

block content
  :marked

    Since the pandemic began, Indonesian Foreign Minister Retno Marsudi has met her Chinese counterpart, Wang Yi, face-to-face four times. Retno has also received or visited counterparts from the United States, the United Kingdom, Japan, the European Union, Iran, Hungary, and United Arab Emirates, some on multiple occasions. But she had not met in person with Australian Foreign Minister Marise Payne until earlier in September, despite Indonesia being Australia’s most important neighbour. Hopefully this long-overdue visit presages a new approach to our region.
    
    > Australia and its regional partners need more of the difficult conversations that can only be had face-to-face and behind closed doors by ministers.

    For while other countries are intensifying their diplomatic ground games at a time of renewed geopolitical competition in Asia, Australia has been largely absent. With Canberra reluctant to give quarantine exemptions to visiting foreign officials, the onus has been on Australian ministers to get travelling. But they have been sparing in their overseas trips, concerned about the risks of catching Covid (despite their access to vaccines), the quarantine they have to complete when they return (albeit at home) and, presumably, the possible political blowback from taking to the skies when others cannot.

    Although Australian ministers have been active on the telephone and in video conferences, there is no substitute for showing up, especially in Asia.

    Australia’s relationships with key Southeast Asian partners such as Indonesia, Malaysia, and Vietnam are probably the best they have been for many years. But these are not the seamless discussions of truly like-minded states and allies. To advance their relationships, Australia and its regional partners need more of the difficult conversations that can only be had face-to-face and behind closed doors by ministers, while aides share a joke as they wander the official corridors. From the crisis in Myanmar to the management of the pandemic and the planning for economic recovery, the region is facing many complex challenges that cannot be tackled on Zoom calls alone.
    
    It is not just high-level diplomacy that has suffered. Broader people-to-people links — the connective tissue of Australia’s relationships with its neighbourhood — will continue to be strained by closed borders. Foreign students who have paid good money to study in Australia but are blocked from entering are growing increasingly frustrated — as are the Asian diplomats advocating on their behalf. Educational exchanges such as the New Colombo Plan, which sends Australian undergraduates to study or participate in internships across Asia, could be on hold (or reduced to online-only activities) for years. And government efforts to turbo-charge the economic relationships with growth markets such as India, Indonesia, and Vietnam are likely to stutter unless investors can travel, look for opportunities, and connect in person.

    When he addressed the Australian parliament just before the pandemic, Indonesian President Joko Widodo said that “true friends are people who stay with you during the good and the bad times”.
    
    > If stringent border restrictions endure, without carefully managed pathways to opening up, they will undermine the argument that Australia is a proactive part of the region.

    Australia’s deep connections with its neighbours in Southeast Asia have long been an important part of its contribution to the Five Eyes partnership with the United States, the United Kingdom, Canada, and New Zealand. But, despite being in the midst of far worse Covid crises, the United Kingdom and the United States have been more active visitors to the region in recent months, and they have progress to show for it. British Foreign Secretary Dominic Raab convinced the member-states of the Association of Southeast Asian Nations (ASEAN) to make the United Kingdom their first new Dialogue Partner in 25 years. Lloyd Austin, the US Secretary of Defense, convinced mercurial Philippines President Rodrigo Duterte to restore a vital agreement governing the presence of US troops in his country.

    Australian diplomats have worked hard to provide concrete support to the region, increasing Covid-related development assistance to Southeast Asia, promising to deliver millions of vaccine doses, and providing financial support to Indonesia. This help is appreciated, but it needs to be accompanied by more high-level diplomatic visits and a plan to resume other people-to-people connections.

    The longer Australia remains cut off from its own backyard, the more it leaves the field open to its partners, who are to some degree competitors for influence, as well as rivals such as China. To capitalise on the progress of the pre-pandemic years, and realise Australia’s role as an engaged Indo-Pacific nation, the government must find ways to reconnect with Asia in a safe and controlled manner.
