extend ../../partials/issue

block prepend config
  - author = "Jenny Hayward-Jones"
    
block bio
  :marked
    ***Jenny Hayward-Jones*** is a Nonresident Fellow in the Pacific Islands Program at the Lowy Institute.

block content
  :marked

    When the United Kingdom went into its first Covid lockdown on 23 March 2020, three days after Australia closed its international borders, my family was already in quarantine. My son had developed symptoms of Covid and, under the prevailing rules, we had to take him and my daughter out of school and our family had to stay inside our home for ten days. Earlier, in February, I had developed a severe cough, fever, and lost my sense of taste and smell — later known as the three key Covid symptoms. I called my doctor for a tele-consultation. She said, “There’s nothing to worry about. Unless you’ve been to northern Italy recently, there is no chance it’s coronavirus.” I live in rural southwest England but had recently been to London for a meeting at the UK Foreign, Commonwealth and Development Office, travelled on busy trains, and visited the National Gallery, coming into close contact with hundreds of people, unwittingly putting myself at risk. I will never know if I had Covid. At the time, there were fewer than 20 official cases in the United Kingdom. 

    As cases and deaths from Covid quickly escalated, and the Conservative government increasingly looked hapless in the face of the horrors of the pandemic, we considered whether it would be safer for us as a family to return to Australia to wait out the pandemic. We knew Australia had closed the borders to contain the pandemic, but had not appreciated until then that the caps imposed on international arrivals had locked out Australian citizens. We resigned ourselves to life in lockdown in the United Kingdom and sadly accepted the cancellation of flights to Sydney we had booked for August 2020 to see our family.
    
    > Border closures have been a handy blunt instrument, but there are now smarter, more compassionate ways to manage the pandemic.

    When the pandemic raged for us that year, our British family, friends, and colleagues looked enviously at Australia, New Zealand, and Pacific Island countries as a sort of Shangri-la — a corner of the world that had seemed to outsmart the virus. More than a year later, in early September 2021, 65 per cent of the total UK population has been fully vaccinated and almost all Covid restrictions have been removed. Now we look incredulously at Australia, where fewer than 35 per cent of the population has been fully vaccinated and lockdowns in several states continue. While we eagerly accepted text message invitations from the National Health Service to get our jabs and, like thousands of other fully vaccinated Australians overseas, dreamed of rescheduling our trip to Sydney, the Australian government squandered its advantage in the battle against the virus.

    The caps on international arrivals, the significant expense of inflated airfares, compulsory quarantine, and now a requirement that Australians normally resident overseas who return to visit family are required to seek an exemption from a ban on departing Australia in order to return home means that hundreds of thousands of Australians, many in much greater need than my family, are prevented from seeing their families until 80 per cent of the Australian population has been fully vaccinated, according to the federal government’s pandemic exit plan. 

    The Morrison government’s decision to deny up to one million Australians who live and work overseas their privilege as citizens to “re-enter Australia freely” served to protect lives in Australia in the pre-vaccination era. Many Australians overseas could understand that sacrificing this privilege was for the greater good. But the sense of alienation this policy wrought endures and rankles in the mass vaccination era. The needs of Australians overseas are unlikely ever to be factored into government decision-making, but the needs of their families in Australia, who pay taxes and vote, should be. Indefinite border closures have been a handy blunt instrument, but there are now smarter, more compassionate ways to manage the pandemic.
