extend ../../partials/_essay

block prepend config
  - author = "Mick Ryan"

block append body

  iframe(class="video" src="https://www.youtube.com/embed/n-2V2IxBvuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

  :marked

    ## Abstract 
    
    In conversation with Mick Ryan and Dr Kori Schake
    
    Mick discussed his recent book *War in the Future*, Russian military strategy in Ukraine, and the lessons that China’s military has taken from the conflict.