@import app/static/features/fortress-australia/styles/_vars.sass

.landing-block
  padding-top: $h-nav

article
  color: black
  padding: 4rem
  line-height: 1.7
  max-width: 850px
  font-family: "Sans"
