@import app/static/features/fortress-australia/styles/_vars.sass

#progress
  top: 0
  left: 0
  right: 0
  height: 6px
  z-index: 20
  position: fixed
  background: $color-hl

.landing-block
  padding-top: $h-nav

.img-caption
  position: absolute
  background: black
  bottom: 0
  right: 0

article
  color: black
  padding: 4rem
  line-height: 1.7
  max-width: 750px
  font-family: "Sans"

.article
  
  .title
    max-width: 700px
    
  .cover-img
    filter: brightness(0.75)
