@import app/static/features/fortress-australia/styles/_vars.sass

.title-block
  text-shadow: .2em .2em 1rem rgba($color-dk, .2), -.2em -.2em 1rem rgba($color-dk, .2), -.2em .2em 1rem rgba($color-dk, .2), .2em -.2em 1rem rgba($color-dk, .2), .2em 0 1rem rgba($color-dk, .2), -.2em 0 1rem rgba($color-dk, .2), 0 .2em 1rem rgba($color-dk, .2), 0 -.2em 1rem rgba($color-dk, .2)


.landing
  
  a:focus,
  a:hover
    color: inherit
    
    svg
      fill: none
      stroke: white
      
