@import app/static/features/fortress-australia/styles/_vars.sass

.title-block
  // background: #fff
  text-shadow: .2em .2em 1rem rgba($color-dk, .2), -.2em -.2em 1rem rgba($color-dk, .2), -.2em .2em 1rem rgba($color-dk, .2), .2em -.2em 1rem rgba($color-dk, .2), .2em 0 1rem rgba($color-dk, .2), -.2em 0 1rem rgba($color-dk, .2), 0 .2em 1rem rgba($color-dk, .2), 0 -.2em 1rem rgba($color-dk, .2)
    
    // &:before
      content: ''
      position: absolute
      top: 10%
      left: 20%
      width: 60%
      height: 80%
      border-radius: 30%
      background: $color-dk
      box-shadow: 2px 0 2rem $color-dk, -2px 0 2rem $color-dk
      z-index: -1
      opacity: .9
      
