@import app/static/features/fortress-australia/styles/_vars.sass

@media (max-width: 800px), (max-height: 625px)
  .hidden-sm,
  .page-issue .header-logo,
  .header-page,
  .scroll-prompt,
  .social-share-label
    display: none

  .page-issue header .header-title
    line-height: 16px
    text-align: left
    padding: 12px 0px
    max-width: 120px
    margin-left: 0

  header .social-share
    display: flex
    float: right

  header:before
    margin: 0 -8px

  .scroll-item
    height: auto
    //scroll-snap-align: none
    border-top: 1px solid rgba(#fff, 0.2)
    margin-top: -1px

  .row
    flex-direction: column
    height: auto !important
    display: block

    .col-1-3,
    .col-2-3,
    .col-1-2
      width: 100%

  .fd-r
    flex-direction: column

  .bg-dk > .txt-border
    //margin: -16px 0 48px

    &:last-child
      margin-bottom: 16px

  .scroll-item > .row,
  .scroll-item > .container
    padding: 0

  .img-pan
    max-height: 240px

  .fill
    height: auto

  br
    display: inline
    padding-left: 0.4em

  hr
    margin: 0.4em 0

  .map-caption,
  .flags-caption
    position: static
    text-align: center
    max-width: 300px
    background-color: transparent

  .p-md, .p-lg
    padding: 16px

  .pv-md, .pv-lg
    padding-top: 16px
    padding-bottom: 16px

  .ph-md, .ph-lg, .ph-xl
    padding-left: 16px
    padding-right: 16px

  .p-xs, .pv-xs
    padding-top: 4px
    padding-bottom: 4px

  .p-xs, .ph-xs
    padding-left: 4px
    padding-right: 4px

  .caption
    font-size: 12px
    bottom: 12px

  header
    padding: 0 8px

  header
    &:before
      mix-blend-mode: normal
      border-color: rgba($color-dk, 0.1)
