@import app/static/features/the-xi-jinping-era/style/_vars.sass

.soe-list-item-grid
  margin: auto
  position: relative
  display: grid
  gap: 1rem
  grid-template-columns: 1fr 1fr

  .list-item

    &:nth-child(even)
      justify-content: flex-start
      flex-direction: row-reverse

      .list-item-num
        margin-left: -1px
      .list-item-txt
        transform: translateX(40px)

    &:nth-child(odd)
      justify-content: flex-start
      
      .list-item-num
        margin-right: -1px
      .list-item-txt
        transform: translateX(-40px)

    &:nth-child(1)
      grid-column-start: 1
      grid-column-end: 3
      flex-direction: column
      align-items: center
      margin: auto

      .list-item-num
        margin-bottom: -1px
      .list-item-txt
        transform: translateY(-20px)

  .list-item-num
    border: 1px solid

  .list-item-num
    position: relative
    height: calc(100% - 2px)
    z-index: -1

  .list-item-txt
    transition-duration: 1.4s
    transition-delay: inherit

    .visible &
      transform: translateX(0px)!important

.features
  margin-top: 2rem
  padding: 88px 0

.feature-icon
  width: 100px
  height: 100px
  box-sizing: border-box
  border-radius: 50%
  left: 50%
  margin-left: -52px
  border: 2px solid $color-hl
  .feature:nth-child(2n) &
    top: 0
  .feature:nth-child(2n + 1) &
    bottom: 0

.feature-name
  height: 36px
  width: max-content
  position: relative
  left: 50%
  transform: translateX(-50%)
  box-sizing: border-box
  .feature:nth-child(2n) &
    margin-top: 148px
  .feature:nth-child(2n + 1) &
    margin-bottom: 148px

.feature
  width: 220px
  margin: 0 -32px
  &:before
    content: ""
    position: absolute
    width: 4px
    left: 50%
    margin: 36px -2px
    background: $color-hl
    height: 60px
  &:nth-child(2n)
    margin-bottom: -88px
    &:before
      bottom: 0
  &:nth-child(2n + 1)
    margin-top: -88px
    &:before
      top: 0
