//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/_essay

block prepend config
  - author = "Andrew Bacevich"

block append body
  :marked
    
    The 9/11 attacks occurred at a moment in history when a set of insidious illusions held Americans in their grip. Those illusions stemmed directly from Washington’s preferred interpretation of what the end of the Cold War just two decades prior had signified. That interpretation in turn derived from and seemingly affirmed the meaning that Americans assigned to the Second World War as a [Manichean](https://www.britannica.com/topic/Manichaeism) struggle in which freedom, democracy and basic human rights were at stake. With the fall of the Berlin Wall in 1989, as with the collapse of Hitler’s Germany in 1945, good once again had triumphed over evil.

    During the Cold War, sustaining this view had entailed equating the Soviet Union with Nazi Germany. It also meant giving the Anglo-American allies the lion’s share of the credit for defeating the Third Reich, while minimising the Soviet role in achieving final victory. By further extension it meant soft-peddling or ignoring morally suspect US and British practices, including the denial of basic human rights to populations deemed racially inferior.

    Reading the outcome of the Cold War as a sequel to victory in the Second World War found expression in a belief that the United States had definitively achieved unprecedented ideological, political, economic and military primacy on a global scale.

    Enamored with this conceit, various observers, analysts and even policymakers during the 1990s devised a new vocabulary to describe the post-Cold War global order and the role of the United States atop that order. A [Unipolar Moment](https://www.foreignaffairs.com/articles/1990-01-01/unipolar-moment) had arrived over which the United States presided as the Sole Superpower or Indispensable Nation. The End of History itself was at hand, with American-style liberal democratic capitalism the only plausible model for designing a functioning society.

    Take those claims seriously and an incident such as 9/11 — nineteen radical Islamists armed with boxcutters terrorising an entire nation — becomes implausible. When the implausible occurred, in broad daylight and witnessed by the entire world, it became essential for the United States to demonstrate that this was a one-off event — murderous and despicable, but devoid of any larger significance.

    To affirm that the various claims to US primacy remained fully intact, the administration of George W. Bush immediately embarked upon an ill-conceived military undertaking that it dubbed its Global War on Terror (GWOT). Undertaken pursuant to a Freedom Agenda, the GWOT initially targeted a so-called Axis of Evil. For policymakers in Washington, the evil character of the enemy provided sufficient rationale for the United States to grant itself the authority to wage preventive war — a radical departure from existing international norms.

    In practice however, victory proved elusive as US forces struggled unsuccessfully to impose their will on ostensibly inferior adversaries. Within a matter of years, this spectacularly misguided undertaking gave rise to its own distinctive vocabulary, including phrases such as “forever wars”. The GWOT proved to be a costly diversion from far more pressing concerns — a classic illustration of the wrong war fought in the wrong place against the wrong adversary.

    Two decades after 9/11, the significance of that terrible day now comes fully into view. The attack on the World Trade Center and the Pentagon set in motion events that exposed US claims of global primacy as fraudulent. Chief among those events are failed wars in Iraq and Afghanistan, which together have cost the United States trillions of dollars while producing little of value. The nations that the United States vowed to “liberate” remain mired in corruption and instability. Terrorist organisations have proliferated.

    In effect, Washington’s misuse of military power has accelerated the emergence of a multipolar order. The post-Cold War order, if it ever existed, is today gone for good. The defining characteristics of the emerging order may not be entirely clear, but one thing is certain: no single nation-state will dominate it.

    Also increasingly clear is the reality that the emphasis on military power and military activism in which the United States is deeply invested is of minimal relevance to the emerging problem set that threatens the planet as a whole. The national security paradigm devised at the outset of the Cold War and to which Washington remains devoted is obsolete. Thus far, however, there exists little evidence that the US national security establishment is willing to make the necessary adjustments required. Meanwhile, the strategic initiative is passing into other hands.

    If the GWOT has produced a “victor”, the People’s Republic of China (PRC) is best positioned to lay claim to that title. That American folly contributed directly to that outcome is a truth to which the US foreign policy establishment refuses to own up. With the phrase “great power competition” once more in fashion, Washington appears intent on gearing up for a new Cold War, with the preservation of US global primacy the ultimate goal.

    This will prove to be a fool’s errand. The primary threats to the security and well-being of the American people are not “out there” in the so-called Indo-Pacific. They are “back here” where Americans actually live. Those threats include disease, the climate crisis, the deterioration of the natural world, cyber-criminality, economic inequality, insecure borders and extreme partisanship reflecting the absence of an operative conception of the common good. To persist in treating such matters as an afterthought will be to underwrite America’s decline.

block append qanda
  :marked
    
    ### You argue that the 9/11 attacks exposed the United States’ claim to global primacy after the collapse of the Soviet Bloc as fraudulent. But by many military, economic, and institutional measures (see Lowy Institute [Asia Power Index](https://power.lowyinstitute.org/)), the United States was the primary power at the time, and arguably remains so. In what way can you argue that US primacy was an illusion?

    One only need examine domestic trends within the United States. My country is mired in crisis, primarily related to race, but involving a fully-fledged culture war. The need to set our own house in order is of paramount importance. In that sense, the US response to 9/11 has exacerbated that crisis and inhibited efforts to address it in a meaningful way.

    ### In your essay, you write, “If the Global War on Terror (GWOT) has produced a victor, the People’s Republic of China is positioned to claim that title. Washington’s misuse of military power has accelerated the emergence of a multipolar order.” Are you saying that China’s rise wouldn’t have happened otherwise? Fellow contributor Yun Sun argues that “Even without 9/11, the world is still most likely to have witnessed China’s growing assertiveness and the same shift in power equilibrium between the United States and China.”

    China's "rise" stems primarily from developments within China. The folly of US policy after 9/11 has merely accelerated the changes in the international order. It is a fact, in my view, that members of the foreign policy establishment are unwilling to acknowledge that the era of American global primacy – if it ever existed – has now ended for good. That reason alone suffices to cripple US policy going forward.

    ### The general consensus is that the current and evolving strategic competition between the United States and China is the primary driving force in international affairs. You write that “the reality that the emphasis on military power and military activism in which the United States is deeply invested is of minimal relevance to the emerging problem set.” How can it be that military power is irrelevant to US–China strategic competition and the future security of the United States and democracies across the world?

    I do not see the military balance as “irrelevant”. However, other issues are of greater immediate importance to the well-being of the American people. Among them: the climate crisis, environmental degradation, disease, open borders, and the erosion of privacy. Collaboration between the United States and China – however difficult – is a precondition to addressing these issues. Simply shovelling more money to the Pentagon will solve nothing.
