extend /partials/layout

block append config
  - page.includeFonts = false
  - page.url = "https://interactives.lowyinstitute.org/features/fortress-australia/"
  - page.class = "page-0 page-menu"
  - page.title = "Fortress Australia"
  - page.metaTitle = `${page.title} - Lowy Institute`
  - page.description = ""
  - page.image = "https://interactives.lowyinstitute.org/features/fortress-australia/img/thumbnail.jpg"
  - page.issues = data.getOne("static/features/fortress-australia/data").issues

block page
  //- include partials/header

  .h-screen.flex.bg-dk.txt-ff
    .col-1-3.num-lf.pv-md.border-r.txt-center.flex-cv
      .d
        .txt-mini.pv-xs Lowy Institute
        .title.txt-tu.ph-xl.pv-sm Fortress Australia
        .subtitle.ph-sm.pv-sm.txt-muted.hidden At what cost?
          
        .stripes.pv-sm.active.relative.overflow-hidden
          .absolute.inset-0.flex-ch
            for bar in new Array(20)
              .border-r.ph-xs.pv-xs

        .ph-xl.intro-description.txt-sans.mxw.pv-sm.txt-mmd
          :marked
            Lowy Institute experts discuss the costs and benefits of the ‘Fortress Australia’ approach to managing the pandemic by closing Australia’s borders to all but returning citizens.
            
        //- .pv-sm
        //- 
        //- a.txt-sm.mx-auto.txt-dk.txt-bare(
        //-   href="./report/Fortress Australia.pdf"
        //-   download
        //- ) DOWNLOAD PDF

    .col-2-3.bg-dk.txt-ff
      include ./partials/link-grid
      //.block.txt-center
        .txt-sm.txt-tu.ph-sm.pv-sm.txt-hl Topics
        .block
          ul.list-bare.txt-links
            for issue in page.issues
              li
                a.txt-bare(href=`issues/${issue.href}`)
                  != issue.titleShort

block append css
  style
    include:sass ./styles/_base.sass
    include:sass ./styles/_typography.sass
    include:sass ./styles/_styles.sass
    include:sass ./styles/_responsive.sass
    include:sass ./styles/_link-grid.sass
