extend /partials/layout

block append config
  - page.includeFonts = false
  - page.url = "https://interactives.lowyinstitute.org/features/fortress-australia/"
  - page.class = "landing bg-dk txt-ff"
  - page.title = "Fortress Australia"
  - page.metaTitle = `${page.title} - Lowy Institute`
  - page.description = ""
  - page.image = "https://interactives.lowyinstitute.org/features/fortress-australia/img/landing.jpg"
  - page.issues = data.getOne("static/features/fortress-australia/data").issues

block page
  
  a#pdf.active.btn-wrap.slide-btn.flex-ch.txt-bare.fw600(
    download
    href="/features/fortress-australia/report/Fortress Australia.pdf"
  )
    .icon.icon-download
    .label.txt-micro.ph-sm Download PDF

  .h-screen.flex-ch.bg-dk.txt-ff
    .cover-img.absolute.inset-0(style=`background-image: url('/features/fortress-australia/img/landing.jpg')`)
    .title-block.flex-cv.txt-center.z1.relative.p-md
      .upper.pv-xs.fw700 Lowy Institute
      .title.txt-tu.pv-sm.mb-4 Beyond<br>Fortress<br>Australia
      a.flex-cv.txt-bare(href="#introduction")
        .txt-micro Scroll to Enter
        svg(viewBox="0 0 10 10" height="10" stroke="currentColor" fill="none")
          path(d="M0,5 L5,10 L10,5")
    .stripes.active.pv-sm.absolute.inset-0.overflow-hidden
      .bars.absolute.inset-0.flex-ch
        for bar in new Array(40)
          .bar.h-full.border-r.ph-xs.pv-xs

  #introduction.h-screen.flex.bg-dk.txt-ff.border-t.flex-swap
    .col.col-2-5.num-lf.pv-md.border-r.txt-center.flex-cv
        h1 Introduction
        p.txt-micro Hervé Lemahieu
        .gradient-overlay.mb-4
          .scroller
            .scroller-inner
              .ph-xl.pv-md.txt-sans.mxw.txt-mmd.txt-left
                :marked
                  The reality of living in a pandemic has dawned on Australia. The virus is here to stay. Equally clear is that ring-fencing the country from the world — the ‘Fortress Australia’ policy — is no longer viable. A pivot in Australia’s Covid public health response from elimination to vaccination and adaptation presents a vital opportunity to address wider policy problems caused by more than 18 months of unprecedented isolation. This series of essays by Lowy Institute experts explores the broader domestic and international ramifications of Fortress Australia, and ways forward.
                  
              a#read-more.txt-micro.txt-bare.fw600.flex-ch(
                href="/features/fortress-australia/article/executive-summary"
              )
                | Read more

    .col.col-3-5.bg-dk.txt-ff
      .txt-center.bg-sdk.p-sm.border-v-lt.show-sm
        .txt-mini.fw600 Articles
      include ./partials/link-grid

block append css
  style
    include:sass ./styles/_base.sass
    include:sass ./styles/_typography.sass
    include:sass ./styles/_styles.sass
    include:sass ./styles/_responsive.sass
    include:sass ./styles/_link-grid.sass
    include:sass ./styles/_animation.sass
    include:sass ./styles/_button.sass
    include:sass ./styles/_scroller.sass
    include:sass ./styles/_landing.sass
