extend ../../partials/issue

block prepend config
  include ../../partials/chart
  - href = "climate-change"
    
block endnote
block content
  :marked
    Even as their country has been buffeted by extreme weather events, Indonesians
    remain divided on how their government should respond to climate change. The
    number of people who believe that ‘global warming is a serious and pressing
    problem’ and that Indonesia ‘should begin taking steps now even if this involves
    significant costs’ has risen from 31% in 2011 to 36%. But the proportion of
    respondents who believe that ‘until we are sure that global warming is really a
    problem, we should not take any steps that would have economic costs’ doubled
    from 13% in 2011 to 26% in 2021. Meanwhile, the proportion who feel that
    Indonesia can ‘deal with the problem gradually by taking steps that are low in
    cost’ fell from 48% in 2011 to 38%.

  +chart(32)
  :marked

    Indonesians are also divided in their assessments of how their own and other
    countries are responding to climate change. India is perceived as the worst
    laggard, with 56% saying it is doing too little, followed by China (48%) and
    Australia (46%). Indonesians view the responses of Japan and the United States
    in a similar light to that of their own government, with around 39% saying these
    countries are doing too little.

  +chart(33)