extend ../../partials/issue

block prepend config
  - author = "Richard McGregor"
    
block bio
  :marked
    ***Richard McGregor*** is Senior Fellow for East Asia at the Lowy Institute.

block content
  :marked

    The politics of Covid in Australia swung decisively in late August 2021, from political leaders sheltering behind the safety of closed borders to campaigning to win the benefits of opening them up. As far as Australian diplomacy goes, the switch could not have come soon enough.

    Australia’s relatively successful early handling of Covid placed it in good company in Asia — the region which had both the best record of handling the pandemic and large pockets needing help in battling it. Similarly, in recent months, the Delta variant has spread in Australia and other countries, including China, Taiwan, and Vietnam, that had done well in suppressing the virus.
    
    The obvious diplomatic lesson, then, both in the early successes and more recent stumbles, might be to build on that legacy with alacrity. Finally, that appears to be happening.
    
    > Political leaders of all stripes have had to take monumental, life-changing decisions without a road map, and often on the run during the pandemic.

    Canberra’s lengthy fixation on closed borders left Australia sharply off the pace in regional diplomacy, precisely at a moment when rivals like Beijing have had all shoulders to the wheel.

    The federal government, with the bellicose support of most state premiers, until recently saw closed borders as a winning political strategy. But it was a policy with countless detrimental knock-on effects for Australian foreign policy.

    A caveat to these criticisms before I expand on them.

    Political leaders of all stripes have had to take monumental, life-changing decisions without a road map, and often on the run during the pandemic. Equally, the balance between opening up and public health is precarious. The spread of the Delta strain is evidence of that.

    It is also true that Scott Morrison’s government has worked hard in the Pacific, with nations such as Papua New Guinea and Fiji, to provide vaccines and the means to deliver them. But after more than a year of managing the pandemic, Australia should have developed substantial muscle memory, both in managing outbreaks at home and creative ways to re-open to the world.

    Sadly, for a country with a lengthy history of migration and which proudly proclaims itself as a “trading nation”, the policies all went in the opposite direction.

    The first instinct was to keep the borders closed, with indifference bordering hostility to foreign students, workers, and tourists, let alone a robust reboot of regional diplomacy. Even after millions of people around the world had been vaccinated, strategies to get them into the country, perhaps with shorter and safer quarantines, barely featured in the government’s calculations.

    Diplomatically, a bold prime minister and cabinet could have tried to restart diplomatic travel, both in going overseas themselves, and in bringing foreign dignitaries into Australia. After all, as the government keeps (rightly) telling the citizenry every day, Australia is moving into a period of prolonged strategic instability and competition with the rise of China.

    > Diplomatically, a bold prime minister and cabinet could have tried to restart diplomatic travelearlier, both in going overseas themselves, and in bringing foreign dignitaries into Australia.
    
    If Mr Morrison can make a quick trip for Father’s Day from Canberra to Sydney and back without quarantine, then surely the same protocols can be applied for short visits overseas.

    The government, however, did not bother making a concerted case for leaders travelling overseas, with only a handful of exceptions and predictable results. Instead, the inflexibility of border controls meant that even the prime minister had two weeks’ quarantine on returning home from overseas, because to do anything else would open him up to charges of hypocrisy.

    There was a different way of doing things, as China showed. Beijing’s top diplomats have undertaken a manic travel schedule, precisely to take advantage of the fact that Western countries’ diplomacy has been interrupted. Between February 2020 and mid-2021, for example, China’s Foreign Minister Wang Yi visited and hosted a number of ministers from around the world, and in August his ministry flew Taliban leaders into the country for a meeting in Tianjin.

    Beijing displayed similar initiative through the region, including in relation to the frontline state of Papua New Guinea. The country’s foreign minister, Soroi Eoe, has visited China this year. Surely it would not have been beyond Foreign Minister Marise Payne to fly to Port Moresby, or for Australia to host Eoe, or other ministers, in Cairns, going to and from the airport in a Covid-safe bubble?

    Yes, some business has been done through virtual meetings, but face-to-face meetings are more important.

    As a statement of its priorities, Australia focused on the US relationship under a new president, tightened strategic relations with Japan and India, secured a UK trade deal, and consolidated closer ties with Europe. These were all worthy and important objectives at a time when Beijing is pressuring Australia with trade sanctions. But it is hard to see why similar high-profile gestures, if not initiatives, could not have been taken close to home.
    
    > Lockdowns are bad enough domestically. When applied to foreign policy, they are a disaster.

    Along with our ministerial laxity in travelling into the region, the schedules of Cabinet members who did go overseas had a collective whiff of sheltering with the Anglosphere and its friends, just at the moment when we need to think beyond those traditional comforts.

    Dan Tehan, the trade minister, thankfully bucked this trend with a regional trip in July.

    Belatedly, other more senior ministers are following suit, with Payne and Defence Minister Peter Dutton undertaking a major overseas trip that will take in Jakarta, New Delhi, Seoul, Washington and New York. This is overdue, but welcome.

    On the home front, the shift to diplomatic opening up cannot come soon enough. Lockdowns are bad enough domestically. When applied to foreign policy, they are a disaster.
