extend ../../partials/post
include ../../partials/accordion

block prepend config
  - href = "sundaram"

block content
  :marked
    It is tempting to think that there is an off-the-shelf development model from
    Southeast Asian nations for others to emulate as they plot their future paths in
    these uncertain economic times. That would be wrong. Not only has our world
    transformed irreversibly in recent decades, but many governments are still
    failing to learn the right lessons from Asia’s past development success stories.
    While trade liberalisation and foreign direct investment (FDI) are routinely
    held up as the keys to these nations’ remarkable success, and as the key
    catalysts for others to deploy, many other factors at play are less well
    understood or even discussed.

    Moreover, although Southeast Asia is seen as a “region” by those outside, most
    countries and people in the region did not see their pasts and futures as
    interdependent until about half a century ago. The countries have had diverse
    experiences, especially in recent centuries, due to the impact of not one, but
    many imperialisms (even Thailand, which has never been ruled by colonial
    powers).

    The Association of Southeast Asian Nations (ASEAN) has often been hailed as an
    exemplar of regional economic cooperation, with many citing the ASEAN Free Trade
    Area (AFTA) agreement of 1992 as a prime illustration. But ASEAN’s contributions
    have, in reality, been limited in scope and consequence.

    Rather than ASEAN alone, it is ASEAN plus Japan, South Korea, and China that has
    become more significant in terms of regional integration, forming the basis for
    the Regional Comprehensive Economic Partnership (RCEP) agreed last year, which
    also includes Australia and New Zealand. Most countries in the region are
    involved with the China-led Belt and Road Initiative. And, in a remarkable *tai
    chi* move, China has applied to join what is left of the Trans-Pacific
    Partnership, an initiative championed and later abandoned by the United States
    to counter Beijing’s influence in the region.

    Northeast Asia also played a key role in Southeast Asia’s industrial development
    in the decades before the Asian financial crisis of 1997. As Japan, South Korea,
    and Taiwan faced full employment and rising wages in the 1980s, relocating
    labour-intensive production to China and Southeast Asia accelerated growth in
    much of their East Asian regional hinterland. AFTA’s establishment during this
    1990s boom implied a Southeast Asian “miracle” — and model — despite its actual
    provenance.

    There were important differences between what may be caricatured as Southeast
    versus Northeast Asian development models. Growth in the latter relied much more
    on domestic capital accumulation, whereas Malaysia, Indonesia, and Thailand
    sought FDI — not unlike Singapore, alone from Southeast Asia among the “first
    tier” newly industrialising economies.

    Northeast Asia sustained rapid growth and industrialisation for much longer,
    with equitable distributional outcomes except in China. Meanwhile, Southeast
    Asian growth has been more episodic, with less equitable results. But despite
    all this, it is still tempting to ask if Southeast Asian export-led
    industrialisation, before the Asian financial crisis, is still a viable basis
    for development and progress in the region.

    Undoubtedly, growth and industrialisation accelerated in Malaysia, Thailand, and
    Indonesia for a decade from the late 1980s thanks to a specific conjuncture of
    events. But conventional wisdom is wrong in asserting that this increase in
    manufacturing FDI was the result of trade and financial liberalisation.

    Trade liberalisation in the preceding period was either unilateral or bilateral.
    The World Trade Organization was established in 1995, with China only joining in
    the new century. While host governments, including those in East Asia,
    undoubtedly sought to attract industrial FDI, general policies of globalisation,
    liberalisation, and financialisation actually delivered little. And Southeast
    Asia’s decade of rapid industrialisation and growth was abruptly disrupted by
    the financial crises from mid-1997 — especially in Thailand, Indonesia, and
    Malaysia.

    Unlike the success stories of Northeast Asia, including China, most of Southeast
    Asia has only seen modest improvements in domestic industrial capacities and
    capabilities. This has been due to the official preference for FDI in the
    region, often marginalising local entrepreneurs. In contrast, Singapore has
    taken a path similar to Israel’s, with a domestic technology development
    strategy designed to complement FDI.

    In recent years, Southeast Asian policymakers have become bolder in their
    policymaking. Meanwhile, domestic business elites have been increasingly
    assertive in creating and seizing new opportunities in these fast-changing
    economic times.

    While Southeast Asian governments were chastised by US and International
    Monetary Fund officials for their heterodox policies in the wake of the Asian
    financial crisis, many such policies were implemented a decade later to cope
    with the 2008 global financial crisis, as most rich countries retreated from the
    very trade liberalisation they had once preached.

    Now, Western governments are explicitly embracing previously eschewed
    “industrial policy” after a decade of lacklustre growth. Thus, the European
    Commission espouses Mariana Mazzucato’s “mission economy”, which would have been
    a heresy at the end of the last century.

    While the United States and other Western nations are questioning their old
    economic assumptions, they are also witnessing a slow but sure shift of power to
    China, whose meteoric economic rise contrasts with much of the world in recent
    decades. China is now the most important trading partner for all East Asian
    countries — each now participating in the nominally ASEAN-led RCEP. Many are
    also involved in Beijing’s Belt and Road Initiative. The Covid-19 pandemic has
    further consolidated acceptance for China’s rise in the region, with many
    countries relying heavily on vaccines and other pandemic needs produced by
    China.

    These shifts in economic thinking and the regional economic balance of power
    present Southeast Asian governments with good opportunities to sharpen their own
    approaches to development. Even as they struggle with basic development
    challenges such as poverty reduction and industrialisation, many Southeast Asian
    nations are facing a growing list of emerging problems, from climate change and
    the pandemic to widespread social inequality.

    But while these might be common problems, the region’s diverse economies will
    need to deploy appropriate, often different solutions that fit their own needs
    rather than look for any over-arching model.

    ## Challenge questions

  +accordion("Can new industrial policies be deployed without creating new openings for cronyism and rent-seeking?","<p>The existence of rents in a controlled environment can well mean that rents created are not all wasted by rent-seeking. Economist Anne Krueger presumed that when rents are created by distortive state interventions, it will incentivise corresponding wasteful rent-seeking resulting in equivalent “economic welfare” losses. But, in fact, there is no empirical evidence for this assumption, and the policymaking challenge includes minimising such losses. Most firm investments in any oligopolistic situation inevitably seek to capture rents, in line with the profit maximisation drive. After all, what are “incentives” but state authorised rents to motivate desired economic behaviour, including investments. Of course, there is a great deal of historical, national, and other variation.</p><p>“Perfect competition” remains a pedagogical myth of convenience for teaching economics — which was undermined from the mid-nineteenth century in the West, as observed by English liberals such as John Stuart Mill. Alexander Hamilton may well be far more relevant for post-colonial developing countries in Southeast Asia. Faced with building a new nation from a British colony, Washington’s first treasury secretary improvised, developing customs revenue collection to finance the new state. Two-thirds of a century later, after the US Civil War, the triumph of the North drew on his report on manufactures to promote policies to develop American manufacturing capacity. Thus, the United States developed significant industry — unlike, say, Australia or Canada under continued British rule. If the Southern Confederacy of export-oriented plantation interests had prevailed instead, the economic consequences would have been very different, arguably changing the shape of the world in the twentieth century. All this was recognised by Friedrich List — who repudiated his own <em>Principles of the Natural Economy</em> a decade later after visiting America and discovering Hamilton’s work — in writing <em>Principles of the National Economy</em>.</p><p>Hamiltonian pragmatism is still needed today, instead of the usual Washington and now Davos slogans and prescriptions, which Southeast Asian developing country policymakers are urged or even required to emulate.</p>")

  +accordion("What are the implications of a slowing Chinese economy for Southeast Asia’s future development?","<p>There are so many possible scenarios that can be seriously envisaged, and it is difficult to fully think through their implications. The so-called new trade war is clearly far more than that. At the heart of it is the new US–China Cold War. And if China manages to grow despite all the new obstacles, we are likely to see further escalation.</p><p>Westphalian multilateralism — with all its limitations — is in decline, and the US-led West’s interest in trade liberalisation has declined since the turn of the century. International trade grows little these days, exacerbated by supply chain disruptions due to the pandemic and new Cold War tensions. Donald Trump and Shinzo Abe’s anti-China trade and investment measures are going to be justified by more sanctions, ostensibly inspired by solidarity with Ukraine, Uyghurs, Hong Kong, etc. It hardly matters if the current and future equivalents of the “weapons of mass destruction” turn out to be bogus or misrepresented. The AUKUS security pact between Australia, the United Kingdom, and the United States, and the deployment of one of two UK aircraft carriers to this part of the world are not helping.</p><p>But all this is going to cost both sides, and the world economy may well slow down some more as global warming continues to pick up momentum, especially in the tropics, including Southeast Asia. Besides leaving many developing countries further behind, with little prospect of significant economic support from the global North, this will push the region further into China’s embrace if Beijing improves its accommodation of regional and national sensitivities. ASEAN’s half-century-old commitment to creating a Zone for Peace, Freedom, and Neutrality (ZOPFAN) — which is non-aligned and nuclear-free — has acquired renewed relevance in these uncertain times.</p>")
