extend ../../partials/post
include ../../partials/accordion

block prepend config
  - href = "sundaram"

block content
  :marked
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!


    ## Challenge questions

  +accordion("You suggest that other Southeast Asian nations should emulate Singapore’s use of industrial policy to promote domestic champions but you also highlight how business elites in Southeast Asia have been increasingly successful in cornering opportunities. Why do you think governments are able to deploy new industrial policies without promoting new openings for cronyism and rent-seeking? If so, how should they go about doing this?", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!")

  +accordion("You are understandably skeptical about ASEAN’s role in economic integration. But do you think the organisation could and should play a more important economic role? Southeast Asian economic officials spend a significant amount of time engaged on ASEAN meetings. What should they be focusing on to ensure the most development benefits for their people?", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!")

  +accordion("Should Southeast Asian governments be leaning into integration with China or be thinking about diversification?", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum accusamus quibusdam, nihil aut officia odio blanditiis facere illo ullam optio mollitia nostrum sunt fugit iusto porro reprehenderit! Quae, quod!")