block append config
  - page.data = data.getOne("static/features/the-xi-jinping-era/data/data")


include slides/_intro

//- 1
include slides/_population

//- 2
include slides/_communist-party-members

//- 3
include slides/_who-makes-up-the-party
include slides/_gender
include slides/_age-profession

//- 4
include slides/_who-runs-the-party

//- 5
include slides/_central-committee

//- 6
include slides/_politburo

//- 7, 8
include slides/_politburo-standing-committee

//- 9
include slides/_central-military-commission

//- 10
include slides/_government-structure

//- 11
include slides/_roles
include slides/_roles-illustrated

//- 12
include slides/_how-is-xi-different

//- 13
include slides/_deng-xiaopings-new-rules