block append config
  - page.data = data.getOne("static/features/the-xi-jinping-era/data/data")
  
include slides/_intro
include slides/_population
include slides/_government-structure
include slides/_communist-party-members
include slides/_who-makes-up-the-party
include slides/_gender
include slides/_age-profession
include slides/_who-runs-the-party
include slides/_party-structure
include slides/_central-committee
include slides/_politburo
include slides/_politburo-standing-committee
include slides/_central-military-commission
include slides/_roles
include slides/_the-post-mao-era
include slides/_deng-xiaopings-new-rules
include slides/_territorial-claims
include slides/_business-cards
