block append config
  - page.data = data.getOne("static/features/the-xi-jinping-era/data/data")
  
include slides/_intro
include slides/_the-post-mao-era
include slides/_deng-xiaopings-new-rules
include slides/_xis-rules
include slides/_business-cards
include slides/_roles
include slides/_government-structure
include slides/_communist-party-members
include slides/_who-makes-up-the-party
include slides/_gender
include slides/_age-profession
include slides/_who-runs-the-party
include slides/_party-structure
include slides/_central-committee
include slides/_politburo
include slides/_politburo-standing-committee
include slides/_central-military-commission
include slides/_territorial-claims
include slides/_xinjiang
include slides/_economy
include slides/_economy-davos
include slides/_economy-strengths
include slides/_economy-weaknesses-1
include slides/_economy-weaknesses-2
include slides/_anti-corruption
include slides/_four-big-tigers
include slides/_regional-investment
include slides/_foreign-policy
include slides/_retirement-rules
include slides/_policy-headlines
include slides/_covid-drivers
include slides/_unveiling
include slides/_video
include slides/_keyword_frequency
include slides/_associates
include slides/_covid-zero
include slides/_population

