extend ../../partials/issue

block prepend config
  include ../../partials/chart
  - href = "us-china"
    
block endnote
block content
  :marked
    Trust in both China and the United States has clearly declined amongst
    Indonesians, but more negativity exists in relation to China. There is also a
    significant increase in the number of Indonesians that wish to see Indonesia
    playing a more significant role in relation to China.

    In policy areas typically seen as China’s stronghold — economy and investment —
    its standing has declined relative to the United States. For example, when asked
    which country is the most important for Indonesia’s economy, 18% choose the
    United States, while 12% say China. Four in ten Indonesians (42%) are
    [in favour of investment](/BASEPATH/economy-and-investment/#q12) from the United States, compared to 30% with regard to investment from China. In 2011, the majority of Indonesians said China would be Asia’s leading economic power — a view now held by only 31% of Indonesians, a 21-point fall in the past decade.

    [More broadly](/BASEPATH/global-powers-and-leaders/), in a side-by-side comparison across different questions, China
    ranks less favourably than the United States across a range of indicators, from
    military and economic leadership, and influence and security concerns, to ‘soft
    power’ benchmarks such as education and work destinations.

    Six in ten Indonesians (60%) either strongly agree or agree that ‘Indonesia
    should join with other countries to limit China’s influence’, an increase of ten
    points since 2011. However, the majority of Indonesians (55%) now agree that
    ’Indonesia is doing enough to pressure China to improve human rights’.

    In a significant 11-point decline, only 43% of Indonesians now say that ‘China’s
    growth has been good for Indonesia’, a view previously held by the majority (54%
    in 2011). Almost half the population (48%) agree that China’s aim is to dominate
    Asia, and four in ten (40%) say ‘the United States should give China a larger
    say in regional affairs’. Despite this, only a minority (40%, up four points
    from 2011) say ‘Indonesia’s interests would not be harmed if China gained more
    power and influence’.
  
  +chart("China's role")
  :marked

    The Indonesian public seems uncertain about the consequences of US–China great
    power competition in the region. When asked about whether China or the United
    States will be the leading military power in Asia in 20 years, around a third of
    Indonesians (36%) say the United States will be Asia’s leading military power, a
    22-point fall from 2011. Around a fifth (22%) say China will be Asia’s leading
    military power, and a striking 36% say that they do not know which country will
    be Asia’s leading military power in 20 years.
  
  +chart("Leading military power")
  :marked

    Indonesians are divided on many issues, but there is overwhelming consensus on
    the question of great power conflict. A significant 84% of Indonesians say that
    in the event of a potential conflict between the United States and China,
    Indonesia should remain neutral. A mere 4% say that Indonesia should support the
    United States, and 1% say Indonesia should support China.

  +chart("Potential us-cn conflict")
  :marked

    In 2011, when asked about which economy would be the leading power in Asia in 20
    years, the majority of Indonesians said China would be Asia’s leading economic
    power — a view now held only by 31% of Indonesians, a 21-point fall in the past
    decade. A quarter (25%) say that the United States will be the leading economic
    power in Asia, similar to the 2011 result. Again, a large percentage of
    respondents (36%) did not know which country would be the region’s leading
    economic power.

  +chart("Leading economic power")
  :marked

    Indonesians appear to have low levels of concern about [foreign interference](/BASEPATH/). Only 33% say they are concerned about China’s influence in Indonesia, and
    some of the main reasons they offer include the dominance of Chinese companies
    in the Indonesian economy and concerns about the number of Chinese workers in
    Indonesia. Even fewer Indonesians (19%) are concerned about the United States’
    influence in Indonesia. When asked about the source of their concerns, some
    express anxiety about the influence of the US economy and the fear that American
    culture is ‘too free’.

  +chart(30)
  :marked