extend ../../partials/issue

block prepend config
  include ../../partials/chart
  - href = "global-powers-and-leaders"
    
block endnote
block content
  :marked
    ### Global powers

    Indonesians have grown distrustful of major powers over the past decade, registering substantial declines in trust towards the United States, China, Japan, Australia and India. 

    Indonesians reserve their highest levels of trust for their own country, with 84% saying they trust Indonesia ‘a great deal’ or ‘somewhat’ to act responsibly in the world. This is unchanged from 2011. A majority of Indonesians trust the United States and Australia to act responsibly, but this number has fallen dramatically since 2011. More than half (56%) say they trust the United States, a 16-point fall since ten years ago. The shift is even starker when it comes to Australia: 55% express trust in Australia, a 20-point drop from 2011 levels. Six in ten Indonesians (59%) express trust in the United Kingdom, which was not included in the 2011 survey. 

    Falling levels of trust for regional countries are also evident. While 65% of Indonesians say they trust Japan, this figure has dropped 15 points since 2011. Four in ten Indonesians (42%) trust China to act responsibly in the world, a decline of 18 points over the past decade. Trust in India has also fallen ten points, with only 41% saying they trust the country.

    Indonesian views towards their near neighbours have remained more stable over the past decade. Two-thirds (66%) express trust in Singapore, a marginal three-point fall from 2011, and 39% trust Vietnam, unchanged from the previous survey.  

  +chart(5)

  :marked

    Low levels of trust in countries do not necessarily correlate with whether countries are perceived as security threats to Indonesia. China has replaced Malaysia as the country that Indonesians are most likely to perceive as a security threat. Around half the population (49%) say China poses a threat to Indonesia over the next ten years, a ten-point increase from 2011. Four in ten Indonesians (43%) see the United States as a possible security threat, but that figure has fallen six points in the past decade. Around a third of Indonesians (34%) say Australia poses a threat, a small three-point increase since 2011. 

    Indonesian threat perceptions towards Malaysia have changed dramatically in the past decade. Only 23% see Malaysia as a possible threat, a 40-point decline since 2011. Concern about Japan has risen from a low-level base, with 24% saying it poses a threat in 2021, a seven-point bump since the last poll. Very few Indonesians see Vietnam (17%, up six points), India (16%) or Singapore (15%, up three points) as a threat. 

  +chart(17)
  
  :marked

    ### Confidence in leaders

    Although Indonesians remain [committed to democracy](democracy), many hold high levels of confidence in authoritarian regimes or leaders who were not elected. Regime type appears to matter less to the public than a country’s economic engagement and profile in Indonesia. Indonesians reserve their highest levels of confidence for their own leader, with 74% of Indonesians saying they have ‘a lot’ or ‘some’ confidence in President Joko Widodo. 

    A majority of Indonesians have confidence in Saudi Arabian Crown Prince Mohammed bin Salman Al Saud (57%) and United Arab Emirates’ Sheikh Mohamed bin Zayed Al Nahyan, the Crown Prince of the Emirate of Abu Dhabi (52%). Respondents express these high levels of confidence regardless of their stated religion.

    Indonesians hold lower levels of confidence in Japan’s Prime Minister Fumio Kishida (45%), Singapore’s Prime Minister Lee Hsien Loong (44%) and US President Joe Biden (44%). Four in ten (40%) have confidence in Russia’s President Vladimir Putin, though it should be noted that this survey was conducted prior to the 2022 invasion of Ukraine. 

    Indonesians have particularly low levels of confidence in regional leaders. A minority of Indonesians (38%) express confidence in Australia’s Prime Minister Scott Morrison, and the same number (38%) have confidence in India’s Prime Minister Narendra Modi. Only a third of Indonesians (34%) have confidence in China’s President Xi Jinping and North Korea’s leader Kim Jong-un. The lowest-ranked leader on the list is Myanmar’s junta leader Min Aung Hlaing, with only three in ten Indonesians (30%) expressing a lot or some confidence in him.

    A significant proportion of Indonesians have not heard of regional leaders, with around a third saying they have not heard of the leaders of China, Japan, Singapore, North Korea, Philippines, India and Australia.

  +chart(6)
  
  :marked

    <h3 id="thermometer">Feelings thermometer</h3>

    Indonesians appear to hold Islamic countries in particularly high regard. Saudi Arabia tops the ‘feelings thermometer’, which measures Indonesians’ perceptions about countries and territories on a scale of 0° (coldest feelings) to 100° (warmest feelings).

    Saudi Arabia receives a very warm reading of 70° from Indonesians, as does the United Arab Emirates at 64° and the Palestine territories at 63°.

    Japan continues to rank very highly for Indonesians, at 64°. Indonesia’s near neighbours and ASEAN partners Singapore and Malaysia both receive warm rankings at 63° and 62° respectively. 

    Indonesian perceptions of the United Kingdom continue on an upward trajectory, receiving 61°, a seven-degree increase since 2006. Indonesian perceptions of the United States have cooled slightly to 60°, a four-degree decline since 2011, but six degrees above its reading in 2006 (54°). 

    Indonesian views of Australia have declined slightly over the past decade, falling from 62° in 2011 to 58° in 2021. This remains far warmer than in 2006, when Australia received 51°. This result is very similar to the reading that Australians gave Indonesia in the 2021 Lowy Institute Poll of 55°. 

    Sentiment towards other regional countries is also on the warmer end of the thermometer, with South Korea receiving a reading of 58° and Philippines 55°. 

    Warmth towards China has declined since 2011 by five degrees, and the Indonesian reading of the superpower now is a lukewarm 53°. Russia, India and Afghanistan all receive the same score of 53°. For Afghanistan, this marks a substantial nine-degree increase since 2011.

    Indonesians have neutral views of their largest neighbours: both Vietnam and Papua New Guinea receive 51° from the Indonesian public, reflecting a significant five-degree increase for Papua New Guinea. Indonesians also give Timor-Leste a neutral reading of 49°, which marks a five-degree increase since 2011. Similarly, Myanmar receives 48°, despite the conflict that has dominated the country for the past year.

    Israel sits at the bottom of the feelings thermometer for Indonesians, receiving a very cool result of 35°. Nevertheless, this marks a five-degree increase since 2011. 

    Warmth towards countries did not necessarily correlate to the most preferred pop cultures, tourism destinations or options for overseas study. In terms of culture, South Korea is at the top of the list, with 20% saying that they enjoy South Korean pop culture. The United States (15%) and India (14%) are next ranked, followed by Japanese pop culture (10%).

    When considering overseas study, Japan dominates Indonesian responses with 23% saying they would prefer to study in Japan. The United States is Indonesians’ second choice at 17%, followed by South Korea at 7%. A number of countries including the United Kingdom, Australia, Malaysia and Singapore are selected by between 4% and 5% of respondents.

    Japan (27%) and the United States (15%) are seen as the most attractive destinations to work abroad. 