header.visible.fixed.w-screen.z100.bg-dk.txt-ff
  .container.txt-tu.txt-sm
    a.txt-bare.header-logo(href="https://www.lowyinstitute.org/")
      | Lowy Institute
    
    include social
    
    .header-title.txt-center
      a.txt-bare(href="/features/fortress-australia/")
        | Escaping Fortress Australia
