header.visible.fixed.w-full.z100.bg-dk.txt-ff
  #progress
  .container.txt-tu.txt-sm
    a.txt-bare.header-logo.ph-xs(href="https://www.lowyinstitute.org/")
      | Lowy Institute
    
    include social
    
    .inset-0.absolute.txt-center.header-title
      a.txt-bare.mxw(href="/features/fortress-australia/")
        span.hide-sm Beyond 
        span Fortress Australia
