extend /partials/layout

block append config
  - page.includeFonts = false
  - page.url = "https://interactives.lowyinstitute.org/features/rbo-indo-pacific/"
  - page.class = "landing"
  - page.title = "The Indo-Pacific and the Rules Based Order"
  - page.metaTitle = `${page.title} - Lowy Institute`
  - page.description = ""
  - page.image = "https://interactives.lowyinstitute.org/features/rbo-indo-pacific/img/thumb.jpg"
  - page.issues = data.getOne("static/features/rbo-indo-pacific/data").issues
  - page.data = data.getOne("static/features/rbo-indo-pacific/data").essays

block page
  
  //- a#pdf.active.btn-wrap.slide-btn.flex-ch.txt-bare.fw600(
    download
    href="/features/rbo-indo-pacific/report/Lowy Institute – Fortress Australia.pdf"
    )
    .icon.icon-download
    .label.txt-micro.ph-sm Download PDF
    
  //- include ./partials/_social

  .h-screen-min.flex-cv.bg-dk.txt-ff
    .cover-img.absolute.inset-0(style=`background-image: url('/features/rbo-indo-pacific/img/bg.gif')`)
    .cover-img.absolute.inset-0(style=`background-image: url('/features/rbo-indo-pacific/img/globe.png')`)
    .title.relative.above
      h1.flex-cv.txt-center.m-0
        .txt-sm The
        .txt-xl Indo-Pacific
        .txt-xl Operating
        .txt-xl.pb-0 System
      .container.txt-center
        hr
        h2.flex-cv
          em.txt-sm How can America shore up the order?
      
      //- a.flex-cv.txt-bare(href="#introduction")
        .txt-micro Scroll to Enter
        svg(viewBox="0 0 10 10" height="10" stroke="currentColor" fill="none")
          path(d="M0,5 L5,10 L10,5")

  include ./partials/_pagemenu
  +pagemenu(["Introduction", "Articles"])
  
  .container
    section#introduction
      h2 Introduction
      p.txt-micro Ben Scott
        :marked
          The prosperity, security and freedom of the Indo-Pacific hinges on the nature of its regional order.

          At least four decades of relative peace have enabled rapid economic growth. But strategic competition is growing. 

          The Indo-Pacific region is at the centre of escalating US-China rivalry, but the great powers are not the only protagonists in this multipolar region. Although military budgets are growing throughout the region, the contest is not purely military. States are making more use of economic tools for strategic ends. And competition in the murky “grey zone”, which exists between states of peace and war, is intensifying. 

          Even the region’s name is contested. Although the concept of the Indo-Pacific is gaining currency, different states define it differently. Still, Southeast Asia is at the centre of most conceptions of the region. It is also at the centre of the US-China competition for regional influence. The ten states that make up the Association of Southeast Asian Nations (ASEAN) are home to more than 650 million people with a combined GDP of over $US [3 trillion](https://www.dfat.gov.au/sites/default/files/asean-cef.pdf) (roughly between that of the United Kingdom and Germany).

          ASEAN is the foundation for much of the regional architecture that exists to manage tensions, maintain order and promote prosperity. But the development of regional institutions has not kept pace with the challenges. Deference to “ASEAN centrality” is sounding increasingly rhetorical as new formations such as the Quad (United States, India, Japan and Australia) and AUKUS gain momentum. 

          Beijing, which rejects the term Indo-Pacific, is promoting a China-centred order. It is both developing new institutions — partly under the rubric of the Belt and Road Initiative — and integrating into the region’s existing economic architecture. China has signed up to the world’s largest trade deal, the Regional Comprehensive Economic Partnership (RCEP). And Beijing now seeks membership of the Comprehensive and Progressive Agreement for Trans-Pacific Partnership (CPTPP) — President Obama once described its predecessor (the TPP) as necessary to prevent China from writing “[the rules of the global economy](https://obamawhitehouse.archives.gov/the-press-office/2015/10/05/statement-president-trans-pacific-partnership)”. Washington is not seeking to join either agreement. 

          The future US approach to Indo-Pacific order remains a major variable. The Biden administration is still developing its own Indo-Pacific strategy. That process is overseen by Kurt Campbell, President Biden’s Indo-Pacific Coordinator, as well as Rush Doshi, National Security Council Director for China. Because both have [published](https://www.amazon.com.au/Pivot-Future-American-Statecraft-Asia/dp/1455568953) [widely](https://www.cfr.org/blog/review-rush-doshis-long-game-chinas-grand-strategy-displace-american-order), many of their views are [known](https://www.lowyinstitute.org/the-interpreter/pivot-three-profound-misunderstandings-about-asia). 

          Shortly before they entered the White House, Campbell and Doshi co-authored an essay entitled “[How America Can Shore up Asian Order](https://www.foreignaffairs.com/articles/united-states/2021-01-12/how-america-can-shore-asian-order). They contrast the Indo-Pacific’s current order with the prevailing order in pre-war Europe:

        <blockquote class="long">Another distinctive element of the Indo-Pacific is that its evolved “operating system,” unlike the order forged in prewar Europe, is as much about promoting commerce as preventing conflict. Constructed in the aftermath of World War II, the region’s system is a combination of legal, security, and economic arrangements that liberated hundreds of millions from poverty, promoted countless commercial advances, and led to a remarkable accumulation of wealth. At its heart are time-tested principles: freedom of navigation, sovereign equality, transparency, peaceful dispute resolution, the sanctity of contracts, cross-border trade, and cooperation on transnational challenges. The United States’ long-standing commitment to forward-deployed military forces, moreover, has helped underscore these principles.</blockquote>
        
        :marked

          The authors argue that the United States should meet China’s challenge by promoting an order characterised by “twenty-first-century openness rather than hegemony and nineteenth-century spheres of influence”. This requires more effort to both balance China’s military power and bolster the order’s legitimacy.

          On 1 December 2021, Kurt Campbell will deliver the opening address to the Lowy Institute Digital Conference on “The Indo-Pacific Operating System”. As part of this event, I asked five experts from, or based in, Southeast Asia to write responses to the Campbell-Doshi essay. They then went deeper, responding to a series of questions I put to them. 

          ***Ben Scott directs the Lowy Institute’s Rules-Based Order Project.***


          
    hr.py-8.my-0
    section#articles
      h2 Articles
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam iusto atque obcaecati maiores, laudantium aspernatur odit? Laboriosam, a. Minima, voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ab maiores incidunt cum numquam amet itaque.
      include ./partials/_link-grid
      
  include ./partials/_footer

block append css
  style
    include:sass ./styles/_app.sass
    include:sass ./styles/_link-grid.sass
    include:sass ./styles/_page-menu.sass
    include:sass ./styles/_landing.sass
    
block append scripts
  script
    include:coffee ./coffee/utils.coffee
    include:coffee ./coffee/base.coffee
