//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/_essay

block prepend config
  - author = "Farah Pandith"

block append body
  :marked
    
    Could Osama bin Laden have imagined the global upheaval he unleashed with his evil scheme? Could he have anticipated years of intense distrust in governments and fear of “the other”? Could he have predicted that the spectacular imagery of the World Trade Centre towers collapsing would create a shared global moment that would be replayed time and again, to heighten emotions, increase fear, and spur outrage — all of which lingers to this day?
    
    Maybe not. But what is certain is that the attacks in New York, Washington DC, and Pennsylvania that killed 2977 people from 93 countries changed the very character of nations — especially concerning identity and belonging — and unleashed decades of unforeseen circumstances including the rise of ISIS, the displacement of an estimated 50 million people, and a surge of hate and extremism amplified by the technological revolution.

    The political and cultural fallout from the attacks have shaped our human experience, the dynamics of political relationships, and the strategic frameworks that hold them together.

    The vast majority of today’s global decision-makers were old enough when 9/11 occurred to understand the long-term effects of seeing passenger planes used as physical and psychological weapons. This critical fact affects the willingness of nations to advance new cooperative frameworks and factor-in the might of non-state actors. It explains the motivation to take protective, collective action around the “us versus them” ideologies used by terrorist recruiters. It also reflects how, from that day forward, the one-quarter of human civilisation that is Muslim underwent a new scrutiny based on religious affiliation.

    > The political and cultural fallout from the attacks have shaped our human experience, the dynamics of political relationships, and the strategic frameworks that hold them together.

    The massive US military response to the 9/11 attacks drew a global reaction through new coalitions, combined military training, intelligence sharing, and allied security operations. Nations expanded friendships, recalibrated enemies, and altered international dynamics. A sophisticated threat environment now requires these relationships to expand, with multilateral organisations working differently to combat illicit financial networks, technologies, and other tools that terrorist groups use to attract new recruits.    

    While nations have cooperated on international crises, such as famine or climate events, after 9/11 the international priority became security, relegating resources to these other global issues to second. In parallel, this period birthed a new urgency to contemplate how we share intelligence, protect ourselves and our livelihoods, combat stateless warriors, and interact with those who are “different”.

    Through it all, “the West-hates-Islam” narrative of Al-Qaeda has had staying power, motivating new recruits to terrorist organisations and causing nations to become less accepting of differences and weary of immigrants. In the years since the attacks, the ability of non-state actors to terrorise has accelerated through their intimate understanding of age demographics and technology, allowing them to form unprecedented new alliances, influencing Gen Z and Millennials from New Zealand to New York.

    The 9/11 attacks also ignited something far bigger: an overall rise of fear and distrust in governments, individuals, and corporations. Hate, distrust, and fear existed well before 9/11, but the attacks brought forward new generational waves of uncertainty, passed on from those who experienced the event. How this new generation feels about safety and security is crucial: fearful societies combined with a deep distrust of government will continue to influence issues from trade and health to climate and economics.
    
    > The consequences of the 9/11 attacks are more far-reaching than the steady evolution of global terrorism.

    These sentiments drive hate-motived violence, both physical and emotional, on ethnic and religious populations worldwide. They also shape the way nations think about their internal Muslim populations and their foreign policy. Islam and Muslims are part of national equations in a way they were not prior to the attacks. Hate crimes have transformed global landscapes, emboldened former political outliers, fuelled new extremist movements, and altered diplomatic relations and political ties with nations where Muslims are the majority or where they live as minorities. The attacks drew a single religion under the microscope and magnified a sentiment that Muslims everywhere continue to experience.

    This matters. A tiny minority of bad actors does not represent an entire religion. Muslims have been forced to contemplate aspects of their faith that they did not before the attacks. Asking them to answer for the results of an audacious act of violence by a small band of extremists 20 years before is unreasonable. With so much of the global Muslim population regarded differently now, a new layer of reality and complexity has been thrust upon a quarter of the world’s population.

    The consequences of the 9/11 attacks are more far-reaching than the steady evolution of global terrorism. They have affected the very way our world operates and how the people in it think about who they are. They have questioned our knowledge on the foundational issues of identity, trust, and fear — matters far beyond the realms of foreign policy. Whether Bin Laden knew it or not, his brazen plan has had repercussions far beyond the horrors of that day.

block append qanda
  :marked
    
    ### You write about the particular consequences that the 9/11 attacks and the Global War on Terror have had on global Muslim populations, but has the impact been uniform? Haven’t different Muslim populations been impacted in different ways?

    The impact of 24 hour/7-day-a-week scrutiny on global Muslim populations can’t be dismissed. The attacks changed the dynamics of ordinary life. The identity of someone who is, or is perceived to be, Muslim has transformed in societies all over the world. Where once no one cared if there was a mosque in a town, today there is interest. _What kind of Muslims are they? What are they doing there? Are they secretly plotting against us?_
    
    The fear of hate-activated violence, the overwhelming unwanted attention, and the need to “prove” they are not terrorists, among other issues, are common concerns throughout the globe. Muslims are worried about their safety and well-being; some have even changed their outward appearance, by removing headscarves or wearing Western clothes, to blend in. The way attitudes are displayed may vary, but the common connective tissue is that the Muslim population is invariably in the spotlight without wishing to be so.
    
    The impact of this scrutiny manifests emotionally and psychologically, as noted in a recent [US study](https://www.npr.org/2021/08/10/1025430083/muslims-suicide-attempts-study-religion-american) on Muslims and suicide. [Hate crimes](https://www.washingtonpost.com/news/wonk/wp/2015/02/11/anti-muslim-hate-crimes-are-still-five-times-more-common-today-than-before-911/) against Muslims in America are five times more frequent than before the 9/11 attacks. New realities around Muslim identity appear in surround sound — one can’t escape; the world sees you and responds.

    ### You argue that the “‘West-hates-Islam’ narrative of Al-Qaeda has had staying power”, but by most measures the Salafi jihadist project and ideology has been a failure. How do you account for its staying power when it failed at fulfilling its goals?

    A key goal of Bin Laden’s plan was to create a scenario where America would have no recourse but to remove themselves from Muslim-majority nations. By that measure, indeed, the Al-Qaeda “project” did not meet the goal outlined by its leader.
    
    However, whether he planned it or not, the ideological dimension of terrorist groups like Al-Qaeda have not been a failure. Whether Al-Qaeda, the so-called Islamic State, Al Shabab, or the Taliban – groups that use the narrative of the “West hates Islam” as part of their ideology have gained adherents over the world in the last 20 years. It is a magical potion for them. They can use it in any way they wish to illustrate their point, for example to vilify Western actions around trade or security, or domestic treatment of Muslims within Western nations. They use the narrative that the reason something bad is happening to Muslims is because of “the West” and their effort to demonise Islam.
    
    In 2012, the Taliban claimed [polio vaccines](https://www.npr.org/sections/health-shots/2012/10/17/162595455/how-the-taliban-is-thwarting-the-war-on-polio) given by the United States were in fact sterilisation shots because they wanted to prevent Muslim women from becoming pregnant. Local terrorist groups in Indonesia claimed that tsunamis occurred because America had the ability to inject a technological device into the global weather system to cause harm to Muslims. With social media’s advances and saturation, the claims have increased, the power of the narrative has been ripened, and more and more young people are being taught conspiracy theories around this framework.
    
    ISIS’ ability to recruit from countries as culturally contrasting as Canada and Tajikistan shows the tremendous resilience of these theories and narratives. If recruitment to groups had diminished and conspiracy theories about “the West” and “Islam” were hard to find, we would be in a very different situation. The success of this narrative shows its ability to deepen mistrust and widen the “us versus them” gap. The ideological appeal of this narrative has remained strong.

    ### Was it the attacks themselves that resulted in these far-reaching consequences and impacts you describe, or was it the US-led _response_ to them, as many of our contributors have argued? In other words, would the 9/11 attacks by Al-Qaeda have had such an impact if the United States responded differently?

    Any group that had the capacity to fund, train, organise, plan, and build a strategy to launch such a horrible attack would have unleashed a broader set of actions by the United States and others in its aftermath. Questions about how the attack could have happened would naturally lead to attention being paid to issues of intelligence sharing, terrorist recruitment and funding, and fundamental national security. Moreover, the 9/11 Commission and its recommendations would likely have taken place. Its recommendations would have set the stage for wider changes — and questions about building a security infrastructure that would be more alert to this type of catastrophe. The changes around fear of the other, growth of “us versus them” movements, and other consequences of a terrorist group claiming to speak for Islam would have undoubtedly had an impact on American societies (as did the [Iranian hostage crisis](https://www.brookings.edu/blog/order-from-chaos/2019/11/04/the-iranian-hostage-crisis-and-its-effect-on-american-politics/)) and other communities around the world. The far-reaching consequences were not just about the US military response.
