//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/_essay

block prepend config
  - author = "Yun Sun"

block append body
  :marked
    
    The 9/11 attacks in 2001 are perhaps the most consequential events of the post-Cold War era that, for the time being, changed the trajectory of international politics. They have had a major impact on China and its relations with the United States and the rest of the world. However, 9/11 did not define the world, or China, or what China was to become.
    
    > 9/11 offered what Beijing defined as “the window of strategic opportunity” to develop its strength

    The world plunged into the Global War on Terror (GWOT) after 9/11, the events of which dramatically changed the course of US security policy. For almost 20 years, counterterrorism dominated the country’s national security strategy, until the recalibration of its strategic priority by the Trump and Biden administrations. The recalibration began in 2017, and by 2021 great power competition, especially with China, reemerged and replaced counterterrorism as the top priority of the United States government. These recent developments in US strategy illustrate that the defining power of 9/11 over the world, therefore, has been temporary rather than permanent.

    Although 9/11 did create external contexts that influenced China’s path in important ways, the attacks barely changed the trajectory of China or its national security strategy. Even without 9/11, the world is still most likely to have witnessed China’s growing assertiveness and the same shifts in power equilibrium between the United States and China. However, in many ways, 9/11 expedited, propelled and strengthened the momentum that was already in place.

    First, 9/11 offered what Beijing defined as “the window of strategic opportunity” to develop its strength while the United States was acutely distracted. Many Chinese strategists saw 9/11 as the breathing space that bought China another decade to focus on its development without being identified and targeted as the priority challenge for America. During the 2000 US election campaign, presidential candidate George W. Bush had sharply criticised President Bill Clinton’s notion of a “strategic partnership” with China and proposed instead that the United States and China were “strategic competitors”. The United States would not have waited almost another two decades to define China as the most important strategic challenge and vigorously engage in what President Joe Biden now calls the “extreme competition” with China had 9/11 not taken place.
    
    Second, 9/11 and the GWOT were indeed painful wars of attrition that bogged down US resources and arguably waned its comprehensive national power. The wars in Afghanistan and Iraq have cost the United States trillions of dollars and thousands of casualties, as well as tainting its credibility and leadership globally. Meanwhile, China has been able to capitalise on the opportunity to bide its time and build its strength. The power balance between the United States and China most likely would have evolved in the same direction without 9/11. However, the resources, focus and time the United States poured into the GWOT certainly expedited the shift.

    > The events had little effect on the direction of either China or great power politics

    Third, 9/11 has had a direct impact on the Uighur issue and China’s policy towards Xinjiang. The GWOT offered China a perfect opportunity to shape the narrative about the Uighur terrorist threat. By leveraging China’s acquiescence to the GWOT, Beijing successfully inserted Uighur organisations such as the East Turkestan Islamic Movement (ETIM) into the US “Terrorist Exclusion List” – a designation the United States [dropped](https://www.wsj.com/articles/china-irate-after-u-s-removes-terrorist-label-from-separatist-group-11604661868) only in November 2020. Without 9/11, China would not have had such an easy time shaping the narrative about the Uighur issue and consequently would have faced more international pressure and scrutiny over its Uighur policy.

    Although 9/11 has had a significant impact on China’s strategic posture, it has had little impact on China’s subsequent domestic and foreign strategies. As many of China’s developments over the last two decades can be traced to changes in the country’s leadership and elite politics, it is clear that China’s domestic policies were and are beyond the effects of 9/11. Developments post-9/11, especially the US focus on the GWOT, have aided a momentum that already existed. The events had little effect on the direction of either China or great power politics. They did not change China, but they did alter the environment in which China would arrive at its predestined outcome.

block append qanda
  :marked
    
    ### In your essay, you argue that the 9/11 attacks and the US response to them did not change China’s strategic goals but altered the environment which China would arrive at a “predestined” outcome. How can we be sure that China’s outcome was predestined just because it was China’s ambition to be a major power, if not the major power on the world stage?

    When China looks at its history and China’s status in the world, it sees itself as the most powerful country in terms of military and economic might for most of the past 2000 years. Therefore, for Chinese leaders and strategists, China’s current path is a return to its “rightful” place in the world after the “[century of humiliation](https://www.theatlantic.com/china/archive/2013/10/how-humiliation-drove-modern-chinese-history/280878/)”. That victim mentality imbues China’s experience and mandate with a self-perceived tragic heroism.

    As outside observers, we don’t have to agree with the Chinese belief of its destiny, but we must understand that it is the Chinese perception that this is its destiny. Perceptions matter, not only because they determine China’s strategic agenda, but also because they decide how China perceives and interacts with other states. When Beijing sees another state as hindering its return to a predominant role in the world, it is more likely to react with vengeance. Again, it doesn’t mean that other states should succumb to China’s self-appointed great power status, but it does mean that without careful calibration of how to influence China’s view, we could end up with a conflict.

    Whether China desires to be a major power or _the_ major power is a great question. In this case, it also significantly depends on the reception of the outside world. If China believes that it will constantly, if not permanently, be singled out as a threat by Western countries because of its cultural or political modality, it might believe that becoming the major power is the only way to ensure its survival.
    
    ### You say that 9/11 provided an opening for China to aggressively address its “Uyghur issue” absent scrutiny by framing its policies towards the Uyghur community as part of the Global War on Terror (GWOT). Yet it could be argued that the Uyghur cause and China’s human rights abuses in Xinjiang have received intense scrutiny now and have severely impacted China’s global reputation. Could that be a negative effect of the GWOT on China’s soft power?

    I think it will be a little bit of a stretch, because with or without the GWOT, China’s policy on the Uyghur issue was becoming harsher. And to argue that the GWOT has negatively impacted China’s global reputation and soft power will require the acknowledgement that the GWOT did facilitate China’s treatment of the Uyghur in the first place by including Uyghur organisations such as the East Turkestan Islamic Movement (ETIM) on the terrorist list, which provided China the justification for its policies. Given the circumstances, I think it will be a difficult case to make.

    The United States dropped ETIM from the designated terrorist organisation list last November. And many observers have questioned whether ETIM as an organisation still exists. At least we know historically, ETIM’s existence and its targeting of China was real.

    ### Your essay is built on the premise that geopolitical competition and China’s rise is the defining factor that will shape international affairs into the future. But what about other factors that a number of other contributors pointed to, such as climate change or technological advancements? How do you place China’s rise in comparison?

    This is a terrific point, and a point that many observers outside the orbit of the US–China great power competition have been advocating. After all, it is not just about the narrow self-interests of the United States and China as nation states, but should be about the survival and welfare of the human race. And we can only imagine how much could be changed or advanced in terms of common global challenges if great powers decided to work with, rather than against, each other.

    Yet this might be why we call it “the tragedy” of great power politics. Although everyone, including the great powers themselves, recognise the tremendous benefit their cooperation will bring, the structural conflict in the international system and the powers’ conflicting value systems and worldviews simply confirm that the diverging interests significantly outweigh the converging interests.

    Issues such as climate change or technological advancement certainly will shape the world and influence world politics. But nation states remain the fundamental component of world politics. And great power politics defines how issues such as climate change and technological advancement will be discussed and approached. It is within that framework that China’s rise and US–China great power politics have become the defining issue of international affairs today.

    It is all about framing.
