.slide.bg-dk(
  data-view="in-viewport, page"
  data-pages=1
)

  .posr.fw.fh.flex-cv(data-view="in-viewport")
    .slide-inner
      .flex

        .txt-mono(style="")
          
          .type.pv-md.txt-lg.txt-ff.mx-auto.txt-center.fade-in(
            data-view="type, in-viewport"
            data-duration=1200
            data-attributes=[
              {style: ""},
              {style:"opacity: 0; transform: translate3d(0, -40px, 0);"},
              {},
              {},
              {},
            ]
          )
            span.line.bg-hl.txt-tu Private companies
            span.line.bg-hl Huawei

          .txt-mono.txt-dk.fade-in(style="margin-top: 40px; font-size: 24px")
  
            .fade-in.pv-sm(
              data-attributes=[
                {style: "transform: translate3d(0, -20%, 0);"},
              ]
            )
              .line.bg-ff.ph-sm.mx-auto
                .line-bg
                | “I love my country.
              .line.bg-ff.ph-sm.mx-auto
                .line-bg
                | I support the
              .line.bg-ff.ph-sm.mx-auto
                .line-bg
                | Communist Party of China,
              .line.bg-ff.ph-sm.mx-auto
                .line-bg
                | But I will never do anything
              .line.bg-ff.ph-sm.mx-auto
                .line-bg
                | to harm any other nation.”


            .fade-in.txt-ff.txt-sm.txt-center.pv-sm(
              data-attributes=[
                {style: "transition-delay: 400ms;"},
                {},      
              ]
            )
              p
                | Ren Zhengfei
                | - Huawei founder and party member

        .txt-mono.txt-dk.fade-in
          img.fade-in(
            data-src="./img/partners/ren-zhengfei-huawei.jpg"
            data-attributes=[
              {style: "transition-duration: 1s; transform: translate3d(0, 0, 0); height:520px; margin-left:8rem;"},
            ]
          )
