.slide.bg-dk.flex
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/background/anti-corruption.jpg")

    .slide-inner.flex-col.flex-grow(data-view="in-viewport" style="margin-top: 120px")
      .txt-center.txt-mono
        .type.txt-xl.mx-auto(
          data-view="type, in-viewport"
          data-duration=1200
        )
          span.line.bg-hl.txt-ff Anti Corruption
          span.line.bg-ff.txt-md “Catching tigers and flies”
