.slide.bg-dk.flex
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/party-size.jpg")

    .slide-inner.flex-cv.flex-grow
      .mx-auto.txt-center.txt-mono
        .txt-xl.txt-hl.fade-in(
          data-view="bars, in-viewport"
          data-duration=2500
          data-delay=0
          data-value=96.7
        )
          span.bar-value(
            style="position: static;width: 2.4em;display: inline-block;"
          ) 96.7
          |  million

        .type.txt-xl.txt-ff.mx-auto(
          data-view="type, in-viewport"
          data-duration=1500
        )
          span.line Communist Party Members
