.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/background/deng-rodeo.jpg")

    .slide-inner(
      data-view="in-viewport, page"
      data-pages=5
    )
      .txt-mono(style="margin-top: 120px")
        .fw.posa
          .type.pv-md.txt-lg.txt-ff.mx-auto.txt-center.fade-in(
            data-view="type, in-viewport"
            data-duration=1200
            data-attributes=[
              {style: ""},
              {style:"opacity: 0; transform: translate3d(0, -40px, 0);"},
              {},
              {},
              {},
            ]
          )
            span.line.bg-hl Deng Xiaoping’s
            span.line.bg-hl New Rules

          .txt-roman.txt-sm.txt-sans.txt-center.fade-in.delay-10(
            data-attributes=[
              {style: ""},
              {style:"opacity: 0; transform: translate3d(0, -40px, 0);transition-delay: 0ms"},
              {},
              {},
              {},
            ]
          )
            .txt-sans.txt-bold.txt-tu.txt-ff.pv-xs
              | Deng Xiaoping, August 1980
            .txt-sans.txt-bold.txt-tu.txt-muted
              | ‘On The Reform of the System of Party and State Leadership’

        .posa.fw.txt-md.txt-dk.fade-in(
          data-attributes=[
            {style: "transform: translate3d(0, 100px, 0);"},
            {style: "transform: translate3d(0, 100px, 0);"},
            {style: "transform: translate3d(0, 40px, 0);"},
            {style: "transform: translate3d(0, -48px, 0);"},
            {style: "transform: translate3d(0, -100px, 0);"},

          ]
        )
          .fade-in.pv-sm(
            data-attributes=[
              {style: "transform: translate3d(0, 40px, 0); opacity: 0;"},
              {style: ""},
              {style: "opacity: 0.6"},
              {style: "opacity: 0.5"},
              {style: "opacity: 0.4"},
            ]
          )
            .line.bg-ff.ph-sm.mx-auto
              .line-bg
              | It is not good to have an over-concentration of power.

          .fade-in.pv-sm(
            data-attributes=[
              {style: "transform: translate3d(0, 40px, 0); opacity: 0;"},
              {style: "transform: translate3d(0, 40px, 0); opacity: 0;"},
              {style: ""},
              {style: "opacity: 0.6"},
              {style: "opacity: 0.5"},
            ]
          )
            .line.bg-ff.ph-sm.mx-auto
              .line-bg
              | It is not good to have too many people holding
            .line.bg-ff.ph-sm.mx-auto
              .line-bg
              | two or more posts.

          .fade-in.pv-sm(
            data-attributes=[
              {style: "transform: translate3d(0, 40px, 0); opacity: 0;"},
              {},
              {style: "transform: translate3d(0, 40px, 0); opacity: 0;"},
              {style: ""},
              {style: "opacity: 0.6"},
            ]
          )
            .line.bg-ff.ph-sm.mx-auto
              .line-bg
              | Distinguish between the responsibilities of the Party

            .line.bg-ff.ph-sm.mx-auto
              .line-bg
              | and those of the government and stop substituting 

            .line.bg-ff.ph-sm.mx-auto
              .line-bg
              | the former for the latter.

          .fade-in.pv-sm(
            data-attributes=[
              {style: "transform: translate3d(0, 40px, 0); opacity: 0;"},
              {},
              {},
              {style: "transform: translate3d(0, 40px, 0); opacity: 0;"},
              {style: ""},
            ]
          )
            .line.bg-ff.ph-sm.mx-auto
              .line-bg
              | We must solve the problem of succession in leadership.
