.slide.bg-dk
  .slide-inner.flex-ch.flex-col.flex.flex-evenly(data-view="in-viewport")
    .p-sm.txt-center.flex-ch.flex-col
      .block-row.block-lg.txt-dk.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-0
        .block.block-down.flex-cv.bg-hl
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Politburo
      .block-row.txt-hl.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-2
        .block.block-up.flex-cv.bg-hl.fade-in.delay-5
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Personnel Department
      .block-row.txt-hl.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-4
        .block.block-up.flex-cv.bg-hl.fade-in.delay-6
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | M.F.A.
        .block.block-up.flex-cv.bg-hl.fade-in.delay-8
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Ex-IM Bank
        .block.block-up.flex-cv.bg-hl.fade-in.delay-10
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | State Enterprises
        .block.block-up.flex-cv.bg-hl.fade-in.delay-10
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Commerce Ministry
      
      // div(style="margin-left: 369px; margin-top: -32px")
        .block-row.block-lg.txt-dk.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-12
          .block.block-up.flex-cv.bg-lt(style="height: 60px")
            strong.txt-sans.txt-tu.fade-in
              | Politburo
        .block-row.block-lg.txt-dk.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-15
          .block.block-up.flex-cv.bg-lt(style="height: 60px")
            strong.txt-sans.txt-tu.fade-in
              | Central Committee
        .block-row.block-lg.txt-dk.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-18
          .block.block-up.flex-cv.bg-lt(style="height: 60px")
            strong.txt-sans.txt-tu.fade-in
              | Party Departments