.slide.bg-dk.flex
  .slide-inner.flex-cv.flex-grow(data-view="in-viewport")
    .mx-auto.txt-center.txt-mono
      .type.txt-xl.txt-ff.mx-auto(
        data-view="type, in-viewport"
        data-duration=1200
      )
        span.line.bg-hl Economy
