.slide.bg-dk(
      data-view="in-viewport, page"
      data-pages=2
)

  .posa.txt-mono.fw.fh(data-view="in-viewport")

    img.fade-in.posa.fh(
      data-src="./img/economy/davos.jpg"
      data-attributes=[
        {style: "transition-duration: 1s; transform: translate3d(0, 0, 0);"},
        {style: "transform: translate3d(0, 0, 0); transition-duration: 1s"},
      ]
    )

    img.posa.fh(
      data-src="./img/economy/nationalist.jpg"
      data-attributes=[
        {style: "transition-duration: 1s; transform: translate3d(0, 0, 0); opacity: 0;"},
        {style: "transition-duration: 1s; transform: translate3d(0, 0, 0);"},
      ]
    )

    .posa.txt-lg.txt-ff.txt-roman.txt-sans.txt-bold.txt-tu.fw(style="bottom: 0; letter-spacing: 0.05em")
      span.fade-in.posa.bg-ff.ph-sm.txt-dk(style="bottom: 0;") Davos man
      span.fade-in.posa.bg-hl.ph-sm(
        data-attributes=[{style: "opacity: 0; bottom: 0;"}, {style: "bottom: 0;"}]
      )
        | Chinese Nationalist

  .posr.fw.fh.flex-cv(data-view="in-viewport")
    .slide-inner
      .posa.fw.txt-mono.txt-sm.txt-dk.fade-in(style="margin-top: 180px")
    
        .fade-in.pv-sm(
          data-attributes=[
            {style: "transform: translate3d(33.3%, 0, 0);"},
            {style: "transform: translate3d(33.3%, -60%, 0); opacity: .2"},
          ]
        )
          .line.bg-ff.ph-sm.mx-auto
            .line-bg
            | “We should remove barriers, not erect walls;
          .line.bg-ff.ph-sm.mx-auto
            .line-bg
            | open up, not close off; seek integration,
          .line.bg-ff.ph-sm.mx-auto
            .line-bg
            | not decoupling. This is the way
          .line.bg-ff.ph-sm.mx-auto
            .line-bg
            | to build an open world economy.”

          .fade-in.txt-ff.txt-sm.txt-center.pv-sm(
            data-attributes=[
              {style: "transition-delay: 400ms;"},
              {},      
            ]
          )
            | Xi in Davos, January, 2022

        .fade-in.pv-sm.txt-ff(
          data-attributes=[
            {style: "transform: translate3d(33.3%, -80%, 0); opacity: 0"},
            {style: "transform: translate3d(33.3%, -55%, 0);"},
          ]
        )
          .line.bg-hl.ph-sm.mx-auto
            .line-bg
            | “We must tighten global production chains'
          .line.bg-hl.ph-sm.mx-auto
            .line-bg
            | dependence on China and forge ‘assassin's mace’
          .line.bg-hl.ph-sm.mx-auto
            .line-bg
            | technologies to deter foreigners who would
          .line.bg-hl.ph-sm.mx-auto
            .line-bg
            | cut off supply to China.”

          .fade-in.txt-ff.txt-sm.txt-center.pv-sm(
            data-attributes=[
              {style: "transition-delay: 400ms"},          
              {},
            ]
          )
            | Internal speech, April, 2020
