.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/background/xi-graffiti.jpg")
    
    .slide-inner.flex.flex-jc
      .mx-auto.type.txt-lg.txt-ff.txt-center.pv-lg.flex.flex-col(
        data-view="type, in-viewport"
        data-duration=2000
        style="margin-_top: 160px"
      )
        span.line.txt-xl.txt-mono(
          style="margin-top: -100px"
        ) The Xi Jinping Era
        
        //- 
          span.line.txt-xl.txt-mono The
          span.line.txt-xl.txt-mono Xi
          span.line.txt-xl.txt-mono Jinping
          span.line.txt-xl.txt-mono Era

        .posa.fade-in.delay-0.txt-right(
          style="bottom: 0; right: 0;"
        )
          strong.txt-tu.txt-sans.txt-hl.fade-in.delay-10 Richard McGregor
          br
          strong.txt-tu.txt-sans.txt-ff.fade-in.delay-12 Lowy Institute
