.slide.bg-dk
  .posr.fw.fh.flex(data-view="in-viewport")
    .slide-inner
      .flex-col
        .mx-auto.txt-ff.txt-lg.txt-mono
          for headline, i in page.data.lorem
            .flex.fade-up(class="delay-" + (i + 2))
              div(
                data-view="type, in-viewport"
                data-duration=1200
                data-delay=(i * 200)
              )
                .line(class=(i ? "bg-ff txt-dk txt-md" : "bg-hl txt-ff txt-lg") style=(i ? "margin: .5rem 0" : "margin: .5rem 0 1.5rem 0"))!= (i ? (i + ".&ensp;") : "") + headline
