.slide.bg-dk
  .slide-inner.flex-ch.flex-col.flex.flex-evenly(data-view="in-viewport")
    .p-sm.txt-center.flex-ch.flex-col
      .block-row.block-lg.txt-dk.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-0
        .block.block-down.flex-cv.bg-hl
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Party
      .block-row.block-lg.txt-hl.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-4
        .block.block-up.flex-cv.bg-hl
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Military
        .block.block-up.flex-cv.bg-ff.fade-in.delay-9
          strong.txt-sans.txt-tu.txt-dk.fade-in
            | Politburo Standing Committee
      
      div(style="margin-left: 369px; margin-top: -32px")
        .block-row.block-lg.txt-dk.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-12
          .block.block-up.flex-cv.bg-lt(style="height: 60px")
            strong.txt-sans.txt-tu.fade-in
              | Politburo
        .block-row.block-lg.txt-dk.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-15
          .block.block-up.flex-cv.bg-lt(style="height: 60px")
            strong.txt-sans.txt-tu.fade-in
              | Central Committee
        .block-row.block-lg.txt-dk.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-18
          .block.block-up.flex-cv.bg-lt(style="height: 60px")
            strong.txt-sans.txt-tu.fade-in
              | Party Departments
//- 
        .block.block-up.flex-cv.bg-hl.fade-in.delay-17
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Anti-corruption
        .block.block-up.flex-cv.bg-hl.fade-in.delay-20
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Organisation
        .block.block-up.flex-cv.bg-hl.fade-in.delay-23
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Propaganda
