.slide.bg-dk(
  data-view="in-viewport, page"
  data-pages=2
)

  .posa.txt-mono.fw.fh(data-view="in-viewport")

    img.fade-in.posa.fh(
      data-src="./img/partners/two-hats-1.jpg"
      data-attributes=[
        {style: "transition-duration: 1s; transform: translate3d(0, 0, 0); height:400px; margin-top:12rem; margin-left:4rem;"},
        {style: "transform: translate3d(0, 0, 0); transition-duration: 1s; height:400px; margin-top:12rem; margin-left:4rem;"},
      ]
    )

    img.posa.fh(
      data-src="./img/partners/two-hats-2.jpg"
      data-attributes=[
        {style: "transition-duration: 1s; transform: translate3d(0, 0, 0); opacity: 0; height:400px; margin-top:12rem; margin-left:4rem;"},
        {style: "transition-duration: 1s; transform: translate3d(0, 0, 0); height:400px; margin-top:12rem; margin-left:4rem;"},
      ]
    )

   

  .posr.fw.fh.flex-cv(data-view="in-viewport")
    .slide-inner
      .txt-lg.txt-ff.txt-mono.txt-bold.txt-tu.fw.txt-center
        span.fade-in.bg-ff.ph-sm.txt-dk(style="bottom: 0;") Two hats

      .posa.fw.txt-mono.txt-dk.fade-in(style="margin-top: 180px; font-size: 24px")
    
        .fade-in.pv-sm(
          data-attributes=[
            {style: "transform: translate3d(33.3%, -20%, 0);"},
            {style: "transform: translate3d(33.3%, -120%, 0); opacity: 0"},
          ]
        )
          .line.bg-ff.ph-sm.mx-auto
            .line-bg
            | Chen Jianguang
          
          .fade-in.txt-ff.txt-sm.txt-center.pv-sm(
            data-attributes=[
              {style: "transition-delay: 400ms;"},
              {},      
            ]
          )
            | Chairman, China Minmetals

          .line.bg-ff.ph-sm.mx-auto(style="margin-top:2rem;")
            .line-bg
            | Zhang Mengxing

          .fade-in.txt-ff.txt-sm.txt-center.pv-sm(
            data-attributes=[
              {style: "transition-delay: 1200ms;"},
              {},      
            ]
          )
            | Director, China Minmetals

        .fade-in.pv-sm.txt-ff(
          data-attributes=[
            {style: "transform: translate3d(33.3%, -100%, 0); opacity: 0"},
            {style: "transform: translate3d(33.3%, -130%, 0);"},
          ]
        )
          .line.bg-hl.ph-sm.mx-auto
            .line-bg
            | Chen Jianguang

          .fade-in.txt-ff.txt-sm.txt-center.pv-sm(
            data-attributes=[
              {style: "transition-delay: 400ms;"},
              {},      
            ]
          )
            | Secretary of the Party Committee

          .line.bg-hl.ph-sm.mx-auto(style="margin-top:2rem;")
            .line-bg
            | Zhang Mengxing
          

          .fade-in.txt-ff.txt-sm.txt-center.pv-sm(
            data-attributes=[
              {style: "transition-delay: 1200ms;"},
              {},      
            ]
          )
            | Deputy Secretary of the Party Committee