.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/background/xinjiang.jpg")

    .slide-inner(
      data-view="in-viewport, page"
      data-pages=3
    )
      .txt-mono(style="margin-top: 180px")
        .fw.posa
          .type.pv-md.txt-xl.txt-ff.mx-auto.txt-center.fade-in(
            data-view="type, in-viewport"
            data-duration=1200
            data-attributes=[
              {style: ""},
              {style:"opacity: 0; transform: translate3d(0, -40px, 0);"},
              {},
            ]
          )
            span.line.bg-hl Xinjiang

        .posa.fw.txt-md.txt-dk.fade-in
        
          .fade-in.pv-sm(
            data-attributes=[
              {style: "transform: translate3d(0, 0px, 0); opacity: 0;"},
              {style: "transform: translate3d(0, -40px, 0);"},
              {style: "transform: translate3d(0, -160px, 0); opacity: 0;"},
            ]
          )
            .line.bg-ff.ph-sm.mx-auto
              .line-bg 
              | “Those infected by an ideological illness
            .line.bg-ff.ph-sm.mx-auto
              .line-bg 
              | must seek inpatient treatment at a re-education
            .line.bg-ff.ph-sm.mx-auto
              .line-bg 
              | hospital to cleanse the virus from their brain
            .line.bg-ff.ph-sm.mx-auto
              .line-bg 
              | and restore their normal mind.”

            .fade-in.txt-ff.txt-sm.txt-center.pv-sm(
              data-attributes=[
                {style: "opacity: 0;"},
                {style: "transition-delay: 400ms"},          
                {},      
              ]
            )
              | Communist Youth League, 2017

          .fade-in.pv-sm(
            data-attributes=[
              {style: "opacity: 0;"},
              {style: "transform: translate3d(0, -260px, 0); opacity: 0;"},
              {style: "transform: translate3d(0, -330px, 0); opacity: 1;"},
            ]
          )
            .line.bg-ff.ph-sm.mx-auto
              .line-bg 
              | “The detention of members of Uyghur
            .line.bg-ff.ph-sm.mx-auto
              .line-bg 
              | and other predominantly Muslim groups
            .line.bg-ff.ph-sm.mx-auto
              .line-bg 
              | may constitute international crimes,
            .line.bg-ff.ph-sm.mx-auto
              .line-bg 
              | in particular crimes against humanity.”

            .fade-in.txt-ff.txt-sm.txt-center.pv-sm(
              data-attributes=[
                {style: "opacity: 0;"},
                {style: "transition-delay: 800ms"},          
                {},
              ]
            )
              | UN Human Rights Commission report, 2022
