.slide.bg-dk
  .slide-inner.flex-cv.txt-center(
    data-view="in-viewport, page" data-pages=1
  )
    .fade-in.txt-mono
      .bg-l.txt-xl.txt-ff.ph-lg(style="margin-bottom: 0rem")
        | Xi&#8217;s Rules
    
    .flex-col.txt-ff.txt-sans.txt-tu.fade-in.txt-bold.txt-sm.flex-grow(
      data-attributes=[
        {style: "transform: translate3d(0, 40px, 0); font-size: 20px"}
      ]
    )
      for row, i in page.data.rules
        .flex-ch
          for v, j in [row[0],"&rarr;",row[1]]
            .ph-sm.pv-xs.fade-in(
              style=((j > 0 ? `transform: translate3d(-24px,0,0);` : "") + ` transition-delay: ${200 * (6.5 * i + (j ? 2.5 : 0))}ms`)
              class=(
                ["bg-lta", "undo txt-md", "undo bg-hl"][j]
              )
            )!= v

    

          
